<!DOCTYPE html>
<html lang="en" class="coming-soon">
<head>
    <meta charset="utf-8">
    <title>Backend Login - P4H</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="author" content="Kakum">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600' rel='stylesheet' type='text/css'>
    <link type="text/css" href="{{STATIC_URL}}assets/plugins/iCheck/skins/minimal/blue.css" rel="stylesheet">
    <link type="text/css" href="{{STATIC_URL}}assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="{{STATIC_URL}}assets/fonts/themify-icons/themify-icons.css" rel="stylesheet">               <!-- Themify Icons -->
    <link type="text/css" href="{{STATIC_URL}}assets/css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
        <link type="text/css" href="{{STATIC_URL}}assets/css/ie8.css" rel="stylesheet">
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- The following CSS are included as plugins and can be removed if unused -->
<style>
.focused-form .login-logo {
    text-align: center;
    display: block;
    padding-top: 30px;
    margin-top: 120px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 1px;
    background: #294A8F;
    color: #fff;
}
.btn-primary {
    background-color: #294A8F !important;
    border-color: #294A8F !important;
    color: #ffffff;
    background-color: #294A8F;
    border-color: #294A8F;
}
</style>
    </head>

    <body class="focused-form" style='background:#D9E0E7 none repeat scroll 0% 0%'>


        <div class="container" id="login-form">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                <div style='box-shadow: 0px 8px 12px 0px #181818;'>
                    <div class="login-logo">
                       <img style='border:2px solid white; width:110px; height:70px' height='50' src='{{STATIC_URL}}p4h/images/logo.jpg' /><h3 style='color:#fff' > P4H Dashboard</h3>
                   </div>

                   <div class="panel panel-default" >
                    <div class="panel-heading">
                       <center> <h2 style='float:none'>Login</h2></center>
                    </div>
                    <div class="panel-body">

                        
                         <form method='post' class="form-horizontal" id="validate-form" action="/users/p4h_backend_login/" data-parsley-validate>{% csrf_token %}
                             {% if form.errors %}
                                        <div class="alert alert-danger">
                  <button class="close" data-dismiss="alert">×</button>
                  Your Email and password do not match 
                </div>
                {% endif %} 


                   {% if request.GET.wrong_code == 'True' %}
                <div class="alert alert-danger">
                  <button class="close" data-dismiss="alert">×</button>
                  Your Code you entered was wrong please try again you will receive a new code. 
                </div>
                {% endif %} 
                            <div class="form-group mb-md">
                                <div class="col-xs-12">
                                    <div class="input-group">                           
                                        <span class="input-group-addon">
                                            <i class="ti ti-user"></i>
                                        </span>
                                        {{form.email}}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-md">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ti ti-key"></i>
                                        </span>
                                       {{form.password}}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-n">
                                <div class="col-xs-12">
                                    <a style='color:#294A8F' href="#" class="pull-left">Forgot password?</a>
                                    <div class="checkbox-inline icheck pull-right p-n">
                                        <label for="">
                                            <input type="checkbox"></input>
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                       
                    </div>
                    <div class="panel-footer">
                        <div class="clearfix">
                            
                            <button style='color:#fff' type='submit' class="btn form-control btn-primary pull-right">Login</button>
                        </div>
                    </div>
                     </form>
                </div>

</div>
            </div>
        </div>
    </div>

    


    <script type="text/javascript" src="{{STATIC_URL}}assets/js/jquery-1.10.2.min.js"></script>                             <!-- Load jQuery -->
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/jqueryui-1.10.3.min.js"></script>                           <!-- Load jQueryUI -->
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/bootstrap.min.js"></script>                                 <!-- Load Bootstrap -->
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/enquire.min.js"></script>                                   <!-- Load Enquire -->

    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/velocityjs/velocity.min.js"></script>                  <!-- Load Velocity for Animated Content -->
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/velocityjs/velocity.ui.min.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/wijets/wijets.js"></script>                            <!-- Wijet -->

    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/codeprettifier/prettify.js"></script>              <!-- Code Prettifier  -->
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/bootstrap-switch/bootstrap-switch.js"></script>        <!-- Swith/Toggle Button -->

    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->

    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/iCheck/icheck.min.js"></script>                        <!-- iCheck -->

    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller -->
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-mousewheel/jquery.mousewheel.min.js"></script> <!-- Mousewheel support needed for Mapael -->

    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/sparklines/jquery.sparklines.min.js"></script>              <!-- Sparkline -->

    <script type="text/javascript" src="{{STATIC_URL}}assets/js/application.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/demo/demo.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/demo/demo-switcher.js"></script>
    <script src="{{STATIC_URL}}parsley.min.js"></script>

    <!-- End loading site level scripts -->
    <!-- Load page level scripts-->
    

    <!-- End loading page level scripts-->
</body>
</html>