<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title> People for Health | Home</title>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/bootstrap.min.css">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/envas-icons.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/cubeportfolio.min.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/owl.transitions.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/settings.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/bootsnav.css">
  <!-- <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/loader.css"> --> 
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/style.css">
  <link rel="icon" href="{{STATIC_URL}}p4h/images/favicon.png">
  <link href="http://afrstatic.s3.amazonaws.com/s3direct/css/bootstrap-progress.min.css" type="text/css" media="all" rel="stylesheet" />
  <link href="http://afrstatic.s3.amazonaws.com/s3direct/css/styles.css" type="text/css" media="all" rel="stylesheet" />
  <script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/s3direct/js/scripts.js"></script>

  <style>
    #logo_slider .item > img {
      display: inline-block;
      width: 100%;
    }
    .layout_sixth nav.navbar.bootsnav ul.nav > li > a {
      padding: 21px 3px;
    }

    .dropdown-menu {
    border-top: 5px solid #294A8F !important;
}
.btn-green {
    background: #294A8F;
    border: 1px solid #294A8F;
}
.green_t {
     color: #294A8F; 
}

/*.news ul.news_crumb li a:hover, .news ul.news_crumb li a:focus, .news a:hover, .news a:focus, .blog_item:hover a, .blog_item:focus a {
    color: #C2113B;
}*/

nav.navbar.bootsnav ul.nav > li > a.border:before {
    content: '';
    height: 3px;
    left: -3px;
    right: 0;
    position: absolute;
    bottom: 0;
    background:  #294A8F;
    width: 0;
}
.blue_bg {
    background: #C2113B;
}

.blue_t {
    color: #294A8F;
}
.layout_sixth nav.navbar.bootsnav ul.nav > li > a {
    padding: 25px 3px;
}

.breadcrumb li.active {
    color: #294A8F;
}

.services ul.tabs li.active {
    background: #294A8F;
    color: #fff;
}

.blog_item:hover a, .blog_item:focus a {
    color: #012A6C;
}

.news a:hover{
  color: #012A6C;
}

.owl-controls .owl-page span:hover, .owl-controls .owl-page.active span {
    background: #294A8F;
}

#plans {
  position: relative;
}

#plans:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.parallax_bg_slider {
    background: url(https://s3.amazonaws.com/afrstatic/CACHES/IMAGES/2016/12/09/fam_plan.jpg) no-repeat;
    background-size: cover;
}


.parallax_one {
    background: url(  https://s3.amazonaws.com/afrstatic/rsz_oki_1.jpg) no-repeat;
}



.btn-green:hover{
  background: #C2113B;

color: #fff;
}

.btn-green:hover, .btn-border:hover, .btn-dark:hover, .btn-border-white:hover {
    border-color:  #C2113B;
    color: #fff;
}


.btn-green:before, .btn-border:before, .btn-dark:before, .btn-border-white:before {
    background: #C2113B;
    border: 1px solid #C2113B;
   color: #fff;
}

/*#7ac832*/

.team_wrap:hover h3, .news:hover h4 {
    color: #C2113B;
}

.ying a:hover {
    color: #fff;
}
  </style>


</head>
<body>
  <!--Loader-->
  <div class="loader">
<!--     <div class="cssload-loader">
      <div class="cssload-inner cssload-one">
      </div>
      <div class="cssload-inner cssload-two">
      </div>
      <div class="cssload-inner cssload-three">
      </div>
    </div> -->
  </div><!--Loader Ends -->

  <header class="layout_sixth">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default bootsnav">       
          <!-- Start Header Navigation -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/"><img style='width:110px; height:70px' src="{{STATIC_URL}}p4h/images/logo.jpg" class="logo" alt=""></a>
          </div>
          <!-- End Header Navigation -->

          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="slideInUp" data-out="fadeOut">
              <li class="active">
                <a href="/" class="border">Home</a>             
              </li>
              <li><a href="/about/" class="border">About Project</a></li>           
              <li><a href="/comments/" class="border">Comments</a></li>
              <li><a href="/policy_areas/" class="border">Policy Areas</a></li>
              <li><a href="/news/" class="border">News</a></li>
              <li class="dropdown">
              <a href="#" class="border">Knowledge Hub </a>

              <ul class="dropdown-menu">
                <li><a href="/knowledgehub_articles/">Articles</a></li>
                <li><a href="/knowledgehub_documents/">Documents</a></li>
              </ul>

            </li>
              <li><a href="/contact/" class="border">Contact Us </a></li>

                        
            {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="border"><img style='max-width:30px;' src='{{user.get_avatar}}' /> </a>

              <ul class="dropdown-menu">
                <li><a href="/submitted_comments/">Comments</a></li>
                <li><a href="/user_logout/">Logout</a></li>
              </ul>

            </li>
            {% else %}
            <li><a href="/user_register/" class="border">Register </a></li>
            {% endif %}


          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<!--Header ends-->


<!--Slider Main-->
<section class="rev_slider_wrapper">
  <div id="rev_video" class="rev_slider" data-version="5.0">
    <ul>
      <!-- SLIDE  -->
      {% for item in sliders %}
      <li data-transition="fade" class="text-center">        
        <img src="{{item.image}}"  alt="video slide"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">                

        <div style='border-radius:5px; padding:10px; background:rgba(0,0,0,0.4)'  class="tp-caption  tp-resizeme" data-x="center" data-y="185" data-width="full" data-transform_idle="o:1;" data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1300">
          <h2 style='font-weight:normal' class="white_t">{{item.title}}</h2><br>
          <p class="white_t">{{item.description}}</p><br>

            {% if not user.is_authenticated %}
<a href="/user_register/" class="text-uppercase border_radius btn-green"><i class="fa fa-sign-in"></i> Register</a>
<a style='border:1px solid #C2113B; background: #C2113B' href="/user_login/" class="text-uppercase border_radius btn-green"><i class="fa fa-sign-in"></i> Login</a>

{% else %}
<a href="#comment" class="text-uppercase border_radius btn-green"><i class="fa fa-send"></i> Submit your Feedback</a>
{% endif %}
          

        </div>
      </li>
      {% endfor %}


    
    </ul>
  </div>
</section>



<section id="news" class="padding layout_third">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="bottom10 text-capitalize"><span class="blue_t">Policy Areas </span></h3>
      </div>
    </div>
    <div class="row">
      <div id="news_slider" class="owl-carousel">
        {% for item in policies %}
        <div class="item">
          <div class="news">
            <div class="image"><img src="{{item.get_first_image}}" alt="News"></div>
            <div class="news_text">
              <h4 class="bottom10"><a href="/policy_areas/">{{item.title}}</a></h4>
              <p class="bottom30">{{item.description|safe|truncatewords:'20'}} <a style='color:#294A8F' href='/policy_areas/'>more</a></p> 
              <span class='ying'>
              <a href="#comment" class="text-uppercase border_radius btn-green">Submit Feedback </a></span>
            </div>
          </div>
        </div>
        {% endfor %}





      </div>
    </div>
  </div>
</section>
<!--Text Info ends-->

<!--Good Plan-->
<section id="plans" class="padding parallax_bg_slider">
  <div style='z-index:99999; position:relative;' class="container">

   <div class="row">
    <div class="col-sm-12 text-center">
      <h3 class="bottom10 text-capitalize"><span class="white_t">Our Approach </span></h3>
      <!-- <p class="heading_space">Phasellus lorem enim, luctus ut velit eget, convallis egestas eros Sed ornare  -->
      <!-- ligula eget tortor tempor.</p> -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 content_left">
      <figure>
        <img src="{{STATIC_URL}}p4h/images/process.png" alt="Good Plans" class="img-responsive">
      </figure>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 content_right shadow margin-bottom">
      <div id="plan_slider" class="owl-carousel">
      {% for item in approaches %}
        <div class="item">
          <span class="count bottom20 blue_bg">{{forloop.counter}}</span>
          <h3 class="bottom10 text-capitalize">{{item.title}}</h3>
          <p class="bottom20">{{item.description|truncatewords:'50'}}</p>
          <!-- <a href="#." class="btn-border text-uppercase border_radius">Read More</a> -->
        </div>
        {% endfor %}
       
      </div>
    </div>
  </div>
</div>
</section>
<!--Good Plans-->




<!--Meet the Team-->
<section id="team" class="padding grey_light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="bottom10 text-capitalize">Regions</span></h3>

      </div>

      {% for item in regions %}
      <div class="col-sm-3">
        <div class="team_wrap top40">
          <div class="image heading_space"> 

          <img width='265' height="175" src="{{item.image}}" alt="our Team" />

          </div>
          <h5 style='text-align:center' class='form-control text-uppercase border_radius btn-green'>{{item.name}}</h5>

        </div>
      </div>
{% endfor %}


    </div>
  </div>
</section>
<!--Neet the Team ends-->


<!--Call Back Form-->
<section id='comment' class="parallax_one padding">
  <div style='z-index:99999; position:relative;' class="container">
    <div class="row">

      <div class="col-sm-12" >
        <div style='padding-left:150px; padding-right:150px' class="bg_call border_radius">
          <h3 class="bottom10 text-center">Submit Feedback</span></h3>
          <p class="text-center bottom20">Tell us about the service delivery in a health  centre you visited. Please fill the form below</p>
          <form id='complain_form' name='complain_form' method='POST' action='/submit_p4h_comment/' class="callus">
            {% csrf_token %}
            <div class="row toremove">
              <div class="col-sm-12 form-group">
               <div class="select border_radius">


                <select onchange="regionFilter(document.complain_form.region_id.options[document.complain_form.region_id.selectedIndex].value);"   name='region_id' id="region_id">
                  <option value='0'>Select Region...</option>
                  {% for item in regions %}
                  <option value='{{item.id}}'>{{item.name}}</option>
                  {% endfor %}
                </select>

              </div>               
            </div>


            <div class="col-sm-12 form-group">
             <div class="select border_radius">


              <select onchange="districtFilter(document.complain_form.district_id.options[document.complain_form.district_id.selectedIndex].value);" name='district_id' id="district_id">
                <option value='0'>Select District...</option>
              </select>


            </div>               
          </div>


          <div class="col-sm-12 form-group">
           <div class="select border_radius">
            <select name='hospital_id' id="hospital_id">
              <option value='0'>Select Health Care Provider... </option>
            </select>
          </div>               
        </div>

        <div class="col-sm-12 form-group">
         <div class="select border_radius">
          <select name='issue_id' id="issue">
            <option value='0'>Select Policy Area...</option>
            {% for item in policies %}
            <option value='{{item.id}}'>{{item.title}}</option>
            {% endfor %}
          </select>
        </div>               
      </div>

      <div class="col-sm-12 form-group">

        <input name='phone_number' class="form-control" placeholder="Provide your phone number if you want feedback" type="text">

        
      </div>


      <div class="col-sm-12 form-group">

       <textarea name='comment' placeholder="Type your comment here" class="form-control" required></textarea>


     </div>


     <div class="col-sm-6 form-group">
       <br>
       <label> Add picture evidence </label>

       <div class="s3direct" data-policy-url="/s3direct/get_upload_params/"> 
         <a class="file-link" target="_blank" href=""></a> 
         <img src="" class="file-link1" width="100" height="100"  />  
         <a class="file-remove" href="#remove">Remove</a>  
         <input class="file-url" type="hidden" value="" id="id_image" name="image" /> 
         <input class="file-dest" type="hidden" value="imgs">  
         <input class="file-input" type="file" />  
         <div class="progress progress-striped active">    
          <div class="bar"></div>  
        </div>
      </div>


    </div>

    <div class="col-sm-6 form-group">
     <br>
     <label> Add Audio Evidence </label>
     <div class="s3direct" data-policy-url="/s3direct/get_upload_params/"> 
       <a class="file-link" target="_blank" href=""></a> 
       <img src="" class="file-link1" width="100" height="100"  />  
       <a class="file-remove" href="#remove">Remove</a>  
       <input class="file-url" type="hidden" value="" id="id_audio" name="audio" /> 
       <input class="file-dest" type="hidden" value="audios">  
       <input class="file-input" type="file" />  
       <div class="progress progress-striped active">    
        <div class="bar"></div>  
      </div>
    </div>
  </div>

  <div class="col-sm-12 form-group">
   <br>
   <label> Add Video Evidence </label>
   <div class="s3direct" data-policy-url="/s3direct/get_upload_params/"> 
     <a class="file-link" target="_blank" href=""></a> 
     <img src="" class="file-link1" width="100" height="100"  />  
     <a class="file-remove" href="#remove">Remove</a>  
     <input class="file-url" type="hidden" value="" id="id_video" name="video" /> 
     <input class="file-dest" type="hidden" value="vids">  
     <input class="file-input" type="file" />  
     <div class="progress progress-striped active">    
      <div class="bar"></div>  
    </div>
  </div>
</div>


<br><br>
<p style='font-style:italic; color:#C2113B'> Your information is safe with us. Read full <a href='#'> privacy policy </a> here </p>

{% if user.is_authenticated %}
<center> <a href='#' style='width:100%; color:#fff' id='submitform' class="btn-green top10 border_radius text-uppercase">Submit as {{user.get_full_name}} <img style='max-width:40px;' src='{{user.get_avatar}}' /></a> </center>
{% else %}
<a href='#' style='width:100%; color:#fff' id='submitform' class="btn-green top10 border_radius text-uppercase"><center> Submit Comment</center></a>
{% endif %}

</div>
</form>
</div>
</div>   
</div>
</div>
</section>
<!--Call Back Form ends-->

<!--Partners-->
<section id="partner" class="padding-bottom-half padding-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="bottom10 text-capitalize"> Project Financial Partners</h3>
        
      </div>
    </div>
    <div class="row">
     <a target='_blank' href='https://www.usaid.gov'>  <div class="item">
      <center>
        <img style='border:1px solid #dfdfdf' src="{{STATIC_URL}}p4h/images/partners/usaid.png" alt="Our Partner">

      </center>
    </div></a>


  </div>
</div>

<br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h3 class="bottom10 text-capitalize"> Other Partners</h3>

    </div>
  </div>
  <div class="row">


    <div class="col-sm-3"></div>
    <div class="col-sm-8">
     <center> <div id="logo_slider" class="owl-carousel">

      <a target='_blank' href='http://sendwestafrica.org/index.php/about-send'><div class="item"><img src="{{STATIC_URL}}p4h/images/partners/send.jpg" alt="Our Partner"></div></a>
      <a target='_blank' href='http://www.ghananewsagency.org/'><div class="item"><img src="{{STATIC_URL}}p4h/images/partners/gna.jpg" alt="Our Partner"></div></a>
      <a target='_blank' href='http://www.penplusbytes.org'><div class="item"><img src="{{STATIC_URL}}p4h/images/partners/ppb.png" alt="Our Partner"></div></a>                

    </div> </center>

  </div>

  <div class="col-sm-1"></div>


</div>
</div>
</section>

<footer style='padding:40px' class="footer_top">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 footer_panel heading_space">
        <a href="/" class="footer_logo bottom30"><img style='width:110px; height:70px' src="{{STATIC_URL}}p4h/images/logo.jpg" class="logo" alt=""></a>
        <p class="bottom30">People for Health empowers the ordinary Ghanaian to voice out their concerns with regards to service delivery in the health sector.
        </p>
        <ul class="social_icon heading_top">
          <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="dribble"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#" class="instagram"><i class="fa fa-youtube"></i></a></li>

        </ul>
      </div>
      <div class="col-sm-4 footer_panel heading_space">
        <h4 class="heading bottom20">Newsletter  Subscription</h4>
        <p>Please provide your email below if you want to be receiving newsletters from People for Health.
        </p>
        
        <form method='POST' action='/submit_newsletter/'> {% csrf_token %}
        <input name='email' class="form-control" placeholder="Your Email" type="email" required>

        <button type='submit' style='width:100%; color:#fff' class="btn-green top10 border_radius text-uppercase"><center> Subscribe</center></button>
</form>
      </div>
      <div class="col-sm-4 footer_panel heading_space">
        <h4 class="bottom30 heading"> Recent  News</h4>
    
     {% for item in shortnews %}
        <div class="media">
          <div class="media-left">
            <a href="/news/{{item.id}}/"><img width='100' class="media-object" src="{{item.image}}" alt="..."></a>
          </div>
          <div class="media-body">
            <p><a href="/news/{{item.id}}/">{{item.title}}</a></p>
            <span><i class="icon-calendar"></i>{{item.date_published}}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy; 2017 <a href="#">People 4 Health</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div style='margin-top:70px' class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Anonymous Commenting</h3>
      </div>
      <div class="modal-body">                              
        <div class="tab-pane active" id="vertical-form">


          <p> You are trying to submit an issue as anonymous user. You will however not be able to track issue(s) you submit. If you would want to, then, please register</p>

          <form name='aben'>
           <input class='changevalue' type="hidden" name="changevalue" value="0"/>
         </form>
       </div>
       <!-- <p><img src="{{STATIC_URL}}assets/demo/stockphoto/music_02.jpg" alt="Fountain" class="img-rounded img-responsive"></p> -->


     </div>
     <div class="modal-footer">
      <a href='/user_login/' class="btn btn-default">Login</button></a>

<a href='/user_register/' class="btn btn-default">Register</button></a>

      <button type="button" class="btn btn-default" data-dismiss="modal">Continue as Anonymous</button>
    </div>

  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% if not user.is_authenticated %}
<a data-toggle="modal" style='font-size:13px; color:white; background:#852630' id='myTrigger' href='#myModal' class="hide btn btn-lg" >Add Rating</a>
{% endif %}

<script src="{{STATIC_URL}}p4h/js/jquery-2.2.3.js"></script>
<script src="{{STATIC_URL}}p4h/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.parallax-1.1.3.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.appear.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery-countTo.js"></script>
<script src="{{STATIC_URL}}p4h/js/bootsnav.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.cubeportfolio.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/owl.carousel.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/viedobox_video.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.themepunch.tools.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.themepunch.revolution.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.themepunch.revolution.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/revolution.extension.layeranimation.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/revolution.extension.navigation.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/revolution.extension.parallax.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/revolution.extension.slideanims.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/revolution.extension.video.min.js"></script>
<script>

jQuery(function($) {"use strict";

  // Smooth Scroll
   var $root = $("html, body");
   $(".scrolling").on("click", function() {
     $root.animate({
      scrollTop: $( $.attr(this, "href") ).offset().top
     }, 700);
     return false;
   });
  
  
  //Back to Top
  $("body").append('<a href="#" class="back-to"><i class="icon-arrow-up2"></i></a>');
   var amountScrolled = 700;
   var backBtn= $("a.back-to");
   $(window).on("scroll", function(){
    if ( $(window).scrollTop() > amountScrolled ) {
      backBtn.fadeIn("slow");
    } else {
      backBtn.fadeOut("slow");
    }
   });
   backBtn.on("click", function(){
     $("html, body").animate({
       scrollTop: 0
     }, 700);
     return false;
   });  
  
  //Header Scroll
  var stickyheader=$(".layout_first, .layout_sixth, #layout_bottom");
   $(window).on("scroll", function(event) {
        if ($(window).scrollTop() > 50) {
            stickyheader.addClass("stick");
        } else {
            stickyheader.removeClass("stick");
        }
      event.preventDefault(); 
    });
  
  // Push Menus 
  var $menuLeft = $(".pushmenu-left");
  var $menuRight = $(".pushmenu-right");
  var $toggleleft = $("#menu_bars.left");
  var $toggleright = $("#menu_bars.right");
  $toggleleft.on("click", function() {
    $(this).toggleClass("active");
    $(".pushmenu-push").toggleClass("pushmenu-push-toright");
    $menuLeft.toggleClass("pushmenu-open");
    return false;
   });
   $toggleright.on("click", function() {
     $(this).toggleClass("active");
     $(".pushmenu-push").toggleClass("pushmenu-push-toleft");
      $menuRight.toggleClass("pushmenu-open");
      return false;
   });
    
    
  // Accorduions
  $(".accordion_title").on("click", " > a", function(){
   if($(this).hasClass("active")){
    $(this).removeClass("active");
    $(this).siblings(".content").slideUp(200);
    $(".accordion_title > a i").removeClass("fa-minus").addClass("fa-plus");
   }
   else{
   $(".accordion_title > a i").removeClass("fa-minus").addClass("fa-plus");
   $(this).find("i").removeClass("fa-plus").addClass("fa-minus");
   $(".accordion_title > a").removeClass("active");
   $(this).addClass("active");
   $(".content").slideUp(200);
   $(this).siblings(".content").slideDown(200);
   }
  
  });
   
  // tabbed content 
  $(".tab_content").hide();
  $(".tab_content:first").show();
// if in tab mode 
  $("ul.tabs").on("click","li", function() {
    $(".tab_content").hide();
      var activeTab = $(this).attr("rel"); 
      $("#"+activeTab).fadeIn();    
      $("ul.tabs li").removeClass("active");
      $(this).addClass("active");
      $(".tab_drawer_heading").removeClass("d_active");
      $(".tab_drawer_heading[rel^='"+activeTab+"']").addClass("d_active");
    });
  // if in drawer mode on Mobile Version
  $(".tab_drawer_heading").on("click", function() {
       $(".tab_content").hide();
       var d_activeTab = $(this).attr("rel"); 
       $("#"+d_activeTab).fadeIn(1200);
      $(".tab_drawer_heading").removeClass("d_active");
       $(this).addClass("d_active");
      $("ul.tabs li").removeClass("active");
      $("ul.tabs li[rel^='"+d_activeTab+"']").addClass("active");
    });
    

   // Fun Facts
   $(".number-counters").appear(function () {
    $(".number-counters [data-to]").each(function () {
      var e = $(this).attr("data-to");
      $(this).delay(200).countTo({
       from: 1,
       to: e,
       speed: 1500,
       refreshInterval: 50
      })
    })
   });

   
  // =============== Owl Carousel =================
   //Single Slide
  $("#plan_slider, #service_slider").owlCarousel({
      autoPlay : true,
    pagination :true,
    stopOnHover : true,
    navigation : false,
    singleItem:true
   });
  
   //News & Thoughts
  $("#news_slider").owlCarousel({
      autoPlay:4000,
      items :3,
    pagination :true,
    stopOnHover : true,
    navigation : false,
      itemsDesktop : [1199,2],
      itemsDesktopSmall : [979,2]
   });
  
   //People Saying
    $("#people_slider").owlCarousel({
      autoPlay:3000,
      navigation : false,
    stopOnHover : true,
      slideSpeed : 300,
    items :2,
    itemsDesktop : [1199,2],
      itemsDesktopSmall : [979,2],
      paginationSpeed : true,
  });
  
  // Our Partners
    $(" #logo_slider").owlCarousel({
      autoPlay:3000,
      pagination :true,
      stopOnHover : true,
      navigation : false,
      slideSpeed : 300,
      paginationSpeed : true,
      items :5,
      itemsCustom :[
        [0, 1],
        [450, 2],
        [768, 3],
        [980, 4],
      ],
  });
  
  //Team
  $("#team_slider").owlCarousel({
      autoPlay:false,
      items :3,
    pagination :false,
    stopOnHover : true,
    navigation : true,
    navigationText :["<i class='fa fa-long-arrow-left'></i>","<i class='fa fa-long-arrow-right'></i>"],
      itemsDesktop : [1199,2],
      itemsDesktopSmall : [979,2]
   }); 
   
   
  
  // ========== Revolution Slider ============ 
   var revapi;
   revapi = jQuery("#rev_slider").revolution({
   sliderType:"standard",
   sliderLayout:"fullwidth",
   scrollbarDrag:"true",
   delay:4000,
    navigation: {
    arrows:{enable:true},
    touch:{
          touchenabled:"on",
          swipe_threshold: 75,
          swipe_min_touches: 1,
          swipe_direction: "horizontal",
          drag_block_vertical: false
        }
    },      
       responsiveLevels:[4096,1024,778,480],
      gridwidth:[1170,800,750,480],
      gridheight:490    
    });
    
    //Home2
      var revapi = jQuery("#rev_slider_second").revolution({
      sliderType:"standard",
      sliderLayout:"fullwidth",
      scrollbarDrag:"true",
      delay:4000,
      navigation: {
        arrows:{enable:true},
        touch:{
              touchenabled:"on",
              swipe_threshold: 75,
              swipe_min_touches: 1,
              swipe_direction: "horizontal",
              drag_block_vertical: false
            }
      },      
      gridwidth:1170,
      gridheight:490    
    });
    
    //Fullscreen
    var revapi = jQuery("#rev_full").revolution({
      sliderType:"standard",
      sliderLayout:"fullscreen",
      delay:4000,
      navigation: {
        arrows:{enable:true}        
      },      
      gridwidth:1170,
      gridheight:490    
    });
    
    //Video Background
    var revapi = jQuery("#rev_video").revolution({
      sliderType:"standard",
      sliderLayout:"fullwidth",
      delay:4000,
      navigation: {
        arrows:{enable:true}        
      },      
      gridwidth:1170,
      gridheight:490    
    });       
  
  
   // =========== Parallax ===========
   $(".parallax").parallax("50%", 0.3);
   $(".parallax_one").parallax("50%", 0.3);
   $(".parallax_two").parallax("50%", 0.3);
   $("#bg-video").parallax("50%", -0.7);
   $(".parallax_news").parallax("50%", -0.5);
   $(".parallax_bg_slider").parallax("50%", -0.5);
   $(".page_header").parallax("50%", -0.5);
   
  
  // init cubeportfolio for Grids
    $("#grid_layout").cubeportfolio({
        layoutMode: "mosaic",
        gapHorizontal:30,
        gapVertical:30,
        gridAdjustment: "responsive",
        caption: "fadeIn",
        displayType: "fadeIn",
        // lightbox
        lightboxDelegate: ".cbp-lightbox",
        lightboxGallery: true,
        lightboxTitleSrc: "data-title",
        lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} of {{total}}</div>',
    });
   
   //Portfolio
    $("#layout-project").cubeportfolio({
        layoutMode: "mosaic",
        defaultFilter: "*",
        gapHorizontal: 20,
        gapVertical: 20,
        gridAdjustment: "responsive",
        mediaQueries: [{
            width: 1500,
            cols: 4
        }, {
            width: 1100,
            cols: 4
        }, {
            width: 800,
            cols: 2
        }, {
            width: 480,
            cols: 2
        }, {
            width: 320,
            cols: 1
        }],
        lightboxDelegate: ".cbp-lightbox",
        lightboxGallery: true,
    });
  
   // init cubeportfolio (Testinomial Page)
    $("#js-grid-masonry").cubeportfolio({
        layoutMode: "grid",
        gapHorizontal: 50,
        gapVertical: 20,
        gridAdjustment: "responsive",
        mediaQueries: [{
            width: 1500,
            cols: 3
        }, {
            width: 1100,
            cols: 3
        }, {
            width: 800,
            cols: 3
        }, {
            width: 480,
            cols: 2
        }, {
            width: 320,
            cols: 1
        }],
    });
   
    //Project Filter
    $("#projects").cubeportfolio({
        filters: "#project-filter",
        layoutMode: "grid",
        defaultFilter: "*",
        animationType: "slideDelay",
        gapHorizontal: 45,
        gapVertical: 30,
        gridAdjustment: "responsive",
        lightboxDelegate: ".cbp-lightbox",
        lightboxGallery: true,
    });
   
   
   //Initiat WOW JS if you want on scrolling transitions
     //new WOW().init(); 
   

  
}); 




</script>
<script>

  (function ($) {
    'use strict';
    /**
     * jQuery Redirect
     * @param {string} url - Url of the redirection
     * @param {Object} values - (optional) An object with the data to send. If not present will look for values as QueryString in the target url.
     * @param {string} method - (optional) The HTTP verb can be GET or POST (defaults to POST)
     * @param {string} target - (optional) The target of the form. "_blank" will open the url in a new window.
     */
     $.redirect = function (url, values, method, target) {
      method = (method && method.toUpperCase() === 'GET') ? 'GET' : 'POST';

      if (!values) {
        var obj = $.parseUrl(url);
        url = obj.url;
        values = obj.params;
      }

      var form = $('<form>')
      .attr("method", method)
      .attr("action", url);

      if (target) {
        form.attr("target", target);
      }

      iterateValues(values, [], form);
      $('body').append(form);
      form[0].submit();
    };

    //Utility Functions
    /**
     * Url and QueryString Parser.
     * @param {string} url - a Url to parse.
     * @returns {object} an object with the parsed url with the following structure {url: URL, params:{ KEY: VALUE }}
     */
     $.parseUrl = function (url) {
      if (url.indexOf('?') === -1) {
        return {
          url: url,
          params: {}
        };
      }
      var parts = url.split('?'),
      query_string = parts[1],
      elems = query_string.split('&');
      url = parts[0];

      var i, pair, obj = {};
      for (i = 0; i < elems.length; i+= 1) {
        pair = elems[i].split('=');
        obj[pair[0]] = pair[1];
      }

      return {
        url: url,
        params: obj
      };
    };

    //Private Functions
    var getInput = function (name, value, parent, array) {
      var parentString;
      if (parent.length > 0) {
        parentString = parent[0];
        var i;
        for (i = 1; i < parent.length; i += 1) {
          parentString += "[" + parent[i] + "]";
        }

        if (array) {
          name = parentString + "[]";
        } else {
          name = parentString + "[" + name + "]";
        }
      }

      return $("<input>").attr("type", "hidden")
      .attr("name", name)
      .attr("value", value);
    };

    var iterateValues = function (values, parent, form, array) {
      var i, iterateParent = [];
      for (i in values) {
        if (typeof values[i] === "object") {
          iterateParent = parent.slice();
          if (array) {
            iterateParent.push('');
          } else {
            iterateParent.push(i);
          }
          iterateValues(values[i], iterateParent, form, Array.isArray(values[i]));
        } else {
          form.append(getInput(i, values[i], parent, array));
        }
      }
    };
  }(window.jQuery || window.Zepto || window.jqlite));

</script>

<script>
  function regionFilter (id) {    
    $.ajax({
      type: "POST",
      url: "/region_filter/",
      data: { 
        'region_id' : id,
        'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
      },
      success: function searchSuccess(data, textStatus, jqXHR)
      {
        $('#district_id').html(data);
      },
      dataType: 'html'
    });      
  }


  function districtFilter (id) {    
    $.ajax({
      type: "POST",
      url: "/district_filter/",
      data: { 
        'district_id' : id,
        'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
      },
      success: function searchSuccess(data, textStatus, jqXHR)
      {
        $('#hospital_id').html(data);
      },
      dataType: 'html'
    });      
  }

{% if not user.is_authenticated %}
  $('.toremove').click(function(event) { 
    var kay = document.aben.changevalue.value;
    if (kay == '0') {
      $('#myTrigger').click()
    }

    document.aben.changevalue.value = '1';
  });
{% endif %}

  $('#submitform').click(function(event) { 

    event.preventDefault();

    region_id = document.complain_form.region_id.options[document.complain_form.region_id.selectedIndex].value;

    district_id = document.complain_form.district_id.options[document.complain_form.district_id.selectedIndex].value;

    hospital_id = document.complain_form.hospital_id.options[document.complain_form.hospital_id.selectedIndex].value;
    
    if(region_id == '0'){
      alert('Please select a region, it cannot be empty');
      return false;
    }

    if(district_id == '0'){
      alert('Please select a district, it cannot be empty');
      return false;
    }

    if(hospital_id == '0'){
      alert('Please select a hospital, it cannot be empty');
      return false;
    }

    if($("textarea[name=comment]").val().length < 10){
      alert('Comment should have a minimum of 10 characters');
      return false;
    }


    data = $('#complain_form').serializeArray();
    mydata = data.map(function(x){data[x.name] = x.value;});

    data['csrfmiddlewaretoken'] = $("input[name=csrfmiddlewaretoken]").val();

    // console.log(data);

    $.redirect('/submit_p4h_comment/', data);  

  });


</script>
</body>
</html>