
  <option value='' selected="selected">Select Health Care Provider</option>
     {% for item in hospitals %}
    
        <option value='{{item.id}}'>{{item.name}}</option>
       
        {% endfor %}