<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>People 4 Health | Regions</title>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/bootstrap.min.css">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/envas-icons.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/cubeportfolio.min.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/owl.transitions.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/settings.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/bootsnav.css">
<!-- <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/loader.css"> -->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/style1.css">
<link rel="icon" href="{{STATIC_URL}}p4h/images/favicon.png">
  <style>
    #logo_slider .item > img {
      display: inline-block;
      width: 100%;
    }
    .layout_sixth nav.navbar.bootsnav ul.nav > li > a {
      padding: 21px 3px;
    }

    .dropdown-menu {
    border-top: 5px solid #294A8F !important;
}
.btn-green {
    background: #294A8F;
    border: 1px solid #294A8F;
}
.green_t {
     color: #294A8F; 
}
.breadcrumb li.active {
    color: #294A8F;
}
.widget .tags > li a:hover, .widget .tags > li a:focus {
    border-color:#294A8F;
    color: #294A8F;
}
/*.news ul.news_crumb li a:hover, .news ul.news_crumb li a:focus, .news a:hover, .news a:focus, .blog_item:hover a, .blog_item:focus a {
    color: #C2113B;
}*/

nav.navbar.bootsnav ul.nav > li > a.border:before {
    content: '';
    height: 3px;
    left: -3px;
    right: 0;
    position: absolute;
    bottom: 0;
    background:  #294A8F;
    width: 0;
}
.blue_bg {
    background: #C2113B;
}

.blue_t {
    color: #294A8F;
}
.layout_sixth nav.navbar.bootsnav ul.nav > li > a {
    padding: 25px 3px;
}

.breadcrumb li.active {
    color: #294A8F;
}

.services ul.tabs li.active {
    background: #294A8F;
    color: #fff;
}

.blog_item:hover a, .blog_item:focus a {
    color: #012A6C;
}

.news a:hover{
  color: #012A6C;
}
.page_header {
    background: url(https://s3.amazonaws.com/afrstatic/nutritionslide1.jpg) no-repeat;
    padding: 70px 0;
}
.btn-green:hover{
  background: #C2113B;

color: #fff;
}

.btn-green:hover, .btn-border:hover, .btn-dark:hover, .btn-border-white:hover {
    border-color:  #C2113B;
    color: #fff;
}


.btn-green:before, .btn-border:before, .btn-dark:before, .btn-border-white:before {
    background: #C2113B;
    border: 1px solid #C2113B;
   color: #fff;
}

/*#7ac832*/

.team_wrap:hover h3, .news:hover h4 {
    color: #C2113B;
}

.ying a:hover {
    color: #fff;
}
  </style>
</head>

<body>

<!--Loader-->
<!-- <div class="loader">
  <div class="cssload-loader">
    <div class="cssload-inner cssload-one"></div>
    <div class="cssload-inner cssload-two"></div>
    <div class="cssload-inner cssload-three"></div>
  </div>
</div> -->
<!--Loader Ends -->


<!--HEADER-->
<header class="layout_sixth">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default bootsnav">        
   
        <!-- Start Header Navigation -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
          <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/"><img style='width:110px; height:70px' src="{{STATIC_URL}}p4h/images/logo.jpg" class="logo" alt=""></a>
        </div>
        <!-- End Header Navigation -->        
        <!-- nav links -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav navbar-right" data-in="slideInUp" data-out="fadeOut">
            <li>
              <a href="/" class="border">Home</a>             
            </li>
            <li><a href="/about/" class="border">About Project</a></li>           
            <li class="active"><a href="regions.html" class="border">Regions</a></li>
            <li><a href="/policy_areas/" class="border">Policy Areas</a></li>
            <li><a href="/news/" class="border">News</a></li>
            <li class="dropdown">
              <a href="#" class="border">Knowledge Hub </a>

              <ul class="dropdown-menu">
                <li><a href="/knowledgehub_articles/">Articles</a></li>
                <li><a href="/knowledgehub_documents/">Documents</a></li>
              </ul>

            </li>
            <li><a href="/contact/" class="border">Contact Us </a></li>

            {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="border"><img style='max-width:30px;' src='{{user.get_avatar}}' /> </a>

              <ul class="dropdown-menu">
                <li><a href="/submitted_comments/">Comments</a></li>
                <li><a href="/user_logout/">Logout</a></li>
              </ul>

            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<!--HEADER ends-->


<!--PAGE TITLE-->
<section class="page_header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
       <h2 style='margin-top:90px' class="text-uppercase"> Regions</h2>
      </div>
    </div>
  </div>
</section>
<div class="page_linker">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
       <ul class="breadcrumb">
        <li><a href="/"><i class="icon-home6"></i>Home</a></li>
        <li class="active">Regions</li>
      </ul>
      </div>
    </div>
  </div>
</div>
<!--PAGE TITLE ends-->


<!--SERVICES-->
<section id="team" class="padding-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="service_wrap heading_space">
          <div class="image bottom10">
            <img src="{{STATIC_URL}}p4h/images/regions/eastern.jpg" alt="our Team">
            
          </div>
          <h3 class="bottom10">Eastern Region</h3>
          
          <a href="/comments/" class="btn-border border_radius text-uppercase">View Comments</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service_wrap heading_space">
          <div class="image bottom10">
            <img src="{{STATIC_URL}}p4h/images/regions/northern.jpg" alt="our Team">
            
          </div>
          <h3 class="bottom10">Northern Region</h3>
        
          <a href="/comments/" class="btn-border border_radius text-uppercase">View Comments</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service_wrap heading_space">
          <div class="image bottom10">
            <img src="{{STATIC_URL}}p4h/images/regions/accra.jpg" alt="our Team">
           
          </div>
          <h3 class="bottom10">Greater Accra</h3>

          <a href="/comments/" class="btn-border border_radius text-uppercase">View Comments</a>
        </div>
      </div>


    </div>
  </div>
</section>
<!-- SERVICES ends -->


<!--Footer-->
<footer style='padding:40px' class="footer_top">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 footer_panel heading_space">
        <a href="/" class="footer_logo bottom30"><img style='width:110px; height:70px' src="{{STATIC_URL}}p4h/images/logo.jpg" class="logo" alt=""></a>
        <p class="bottom30">People for Health empowers the ordinary Ghanaian to voice out their concerns with regards to service delivery in the health sector.
        </p>
        <ul class="social_icon heading_top">
          <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="dribble"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#" class="instagram"><i class="fa fa-youtube"></i></a></li>
     
        </ul>
      </div>
     <div class="col-sm-4 footer_panel heading_space">
        <h4 class="heading bottom20">Newsletter  Subscription</h4>
        <p>Please provide your email below if you want to be receiving newsletters from People for Health.
        </p>
        
        <form method='POST' action='/submit_newsletter/'> {% csrf_token %}
        <input name='email' class="form-control" placeholder="Your Email" type="email" required>

        <button type='submit' style='width:100%; color:#fff' class="btn-green top10 border_radius text-uppercase"><center> Subscribe</center></button>
</form>
      </div>
      <div class="col-sm-4 footer_panel heading_space">
        <h4 class="bottom30 heading"> Recent  News</h4>
        <div class="media">
          <div class="media-left">
            <a href="#."><img width='100' class="media-object" src="{{STATIC_URL}}p4h/images/malaria.jpg" alt="..."></a>
          </div>
          <div class="media-body">
            <p><a href="#">Malaria Outbreak in the Brong Ahafo Region</a></p>
            <span><i class="icon-calendar"></i>November 30, 2016</span>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <a href="#"><img width='100' class="media-object" src="{{STATIC_URL}}p4h/images/wash2.jpg" alt="..."></a>
          </div>
          <div class="media-body">
            <p><a href="#">Sunkwa Hospital Receives new beds with treated nets</a></p>
            <span><i class="icon-calendar"></i>September 15, 2016</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy; 2017 <a href="#">People 4 Health</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
<script src="{{STATIC_URL}}p4h/js/jquery-2.2.3.js"></script>
<script src="{{STATIC_URL}}p4h/js/gmaps.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.parallax-1.1.3.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.appear.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery-countTo.js"></script>
<script src="{{STATIC_URL}}p4h/js/bootsnav.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.cubeportfolio.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/owl.carousel.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.themepunch.tools.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.themepunch.revolution.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.themepunch.revolution.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/revolution.extension.layeranimation.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/revolution.extension.navigation.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/revolution.extension.parallax.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/revolution.extension.slideanims.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/revolution.extension.video.min.js"></script>
<script>

jQuery(function($) {"use strict";

  // Smooth Scroll
   var $root = $("html, body");
   $(".scrolling").on("click", function() {
     $root.animate({
      scrollTop: $( $.attr(this, "href") ).offset().top
     }, 700);
     return false;
   });
  
  
  //Back to Top
  $("body").append('<a href="#" class="back-to"><i class="icon-arrow-up2"></i></a>');
   var amountScrolled = 700;
   var backBtn= $("a.back-to");
   $(window).on("scroll", function(){
    if ( $(window).scrollTop() > amountScrolled ) {
      backBtn.fadeIn("slow");
    } else {
      backBtn.fadeOut("slow");
    }
   });
   backBtn.on("click", function(){
     $("html, body").animate({
       scrollTop: 0
     }, 700);
     return false;
   });  
  
  //Header Scroll
  var stickyheader=$(".layout_first, .layout_sixth, #layout_bottom");
   $(window).on("scroll", function(event) {
        if ($(window).scrollTop() > 50) {
            stickyheader.addClass("stick");
        } else {
            stickyheader.removeClass("stick");
        }
      event.preventDefault(); 
    });
  
  // Push Menus 
  var $menuLeft = $(".pushmenu-left");
  var $menuRight = $(".pushmenu-right");
  var $toggleleft = $("#menu_bars.left");
  var $toggleright = $("#menu_bars.right");
  $toggleleft.on("click", function() {
    $(this).toggleClass("active");
    $(".pushmenu-push").toggleClass("pushmenu-push-toright");
    $menuLeft.toggleClass("pushmenu-open");
    return false;
   });
   $toggleright.on("click", function() {
     $(this).toggleClass("active");
     $(".pushmenu-push").toggleClass("pushmenu-push-toleft");
      $menuRight.toggleClass("pushmenu-open");
      return false;
   });
    
    
  // Accorduions
  $(".accordion_title").on("click", " > a", function(){
   if($(this).hasClass("active")){
    $(this).removeClass("active");
    $(this).siblings(".content").slideUp(200);
    $(".accordion_title > a i").removeClass("fa-minus").addClass("fa-plus");
   }
   else{
   $(".accordion_title > a i").removeClass("fa-minus").addClass("fa-plus");
   $(this).find("i").removeClass("fa-plus").addClass("fa-minus");
   $(".accordion_title > a").removeClass("active");
   $(this).addClass("active");
   $(".content").slideUp(200);
   $(this).siblings(".content").slideDown(200);
   }
  
  });
   
  // tabbed content 
  $(".tab_content").hide();
  $(".tab_content:first").show();
// if in tab mode 
  $("ul.tabs").on("click","li", function() {
    $(".tab_content").hide();
      var activeTab = $(this).attr("rel"); 
      $("#"+activeTab).fadeIn();    
      $("ul.tabs li").removeClass("active");
      $(this).addClass("active");
      $(".tab_drawer_heading").removeClass("d_active");
      $(".tab_drawer_heading[rel^='"+activeTab+"']").addClass("d_active");
    });
  // if in drawer mode on Mobile Version
  $(".tab_drawer_heading").on("click", function() {
       $(".tab_content").hide();
       var d_activeTab = $(this).attr("rel"); 
       $("#"+d_activeTab).fadeIn(1200);
      $(".tab_drawer_heading").removeClass("d_active");
       $(this).addClass("d_active");
      $("ul.tabs li").removeClass("active");
      $("ul.tabs li[rel^='"+d_activeTab+"']").addClass("active");
    });
    

   // Fun Facts
   $(".number-counters").appear(function () {
    $(".number-counters [data-to]").each(function () {
      var e = $(this).attr("data-to");
      $(this).delay(200).countTo({
       from: 1,
       to: e,
       speed: 1500,
       refreshInterval: 50
      })
    })
   });

   
  // =============== Owl Carousel =================
   //Single Slide
  $("#plan_slider, #service_slider").owlCarousel({
      autoPlay : true,
    pagination :true,
    stopOnHover : true,
    navigation : false,
    singleItem:true
   });
  
   //News & Thoughts
  $("#news_slider").owlCarousel({
      autoPlay:4000,
      items :3,
    pagination :true,
    stopOnHover : true,
    navigation : false,
      itemsDesktop : [1199,2],
      itemsDesktopSmall : [979,2]
   });
  
   //People Saying
    $("#people_slider").owlCarousel({
      autoPlay:3000,
      navigation : false,
    stopOnHover : true,
      slideSpeed : 300,
    items :2,
    itemsDesktop : [1199,2],
      itemsDesktopSmall : [979,2],
      paginationSpeed : true,
  });
  
  // Our Partners
    $(" #logo_slider").owlCarousel({
      autoPlay:3000,
      pagination :true,
      stopOnHover : true,
      navigation : false,
      slideSpeed : 300,
      paginationSpeed : true,
      items :5,
      itemsCustom :[
        [0, 1],
        [450, 2],
        [768, 3],
        [980, 4],
      ],
  });
  
  //Team
  $("#team_slider").owlCarousel({
      autoPlay:false,
      items :3,
    pagination :false,
    stopOnHover : true,
    navigation : true,
    navigationText :["<i class='fa fa-long-arrow-left'></i>","<i class='fa fa-long-arrow-right'></i>"],
      itemsDesktop : [1199,2],
      itemsDesktopSmall : [979,2]
   }); 
   
   
  
  // ========== Revolution Slider ============ 
   var revapi;
   revapi = jQuery("#rev_slider").revolution({
   sliderType:"standard",
   sliderLayout:"fullwidth",
   scrollbarDrag:"true",
   delay:4000,
    navigation: {
    arrows:{enable:true},
    touch:{
          touchenabled:"on",
          swipe_threshold: 75,
          swipe_min_touches: 1,
          swipe_direction: "horizontal",
          drag_block_vertical: false
        }
    },      
       responsiveLevels:[4096,1024,778,480],
      gridwidth:[1170,800,750,480],
      gridheight:490    
    });
    
    //Home2
      var revapi = jQuery("#rev_slider_second").revolution({
      sliderType:"standard",
      sliderLayout:"fullwidth",
      scrollbarDrag:"true",
      delay:4000,
      navigation: {
        arrows:{enable:true},
        touch:{
              touchenabled:"on",
              swipe_threshold: 75,
              swipe_min_touches: 1,
              swipe_direction: "horizontal",
              drag_block_vertical: false
            }
      },      
      gridwidth:1170,
      gridheight:490    
    });
    
    //Fullscreen
    var revapi = jQuery("#rev_full").revolution({
      sliderType:"standard",
      sliderLayout:"fullscreen",
      delay:4000,
      navigation: {
        arrows:{enable:true}        
      },      
      gridwidth:1170,
      gridheight:490    
    });
    
    //Video Background
    var revapi = jQuery("#rev_video").revolution({
      sliderType:"standard",
      sliderLayout:"fullwidth",
      delay:4000,
      navigation: {
        arrows:{enable:true}        
      },      
      gridwidth:1170,
      gridheight:490    
    });       
  
  
   // =========== Parallax ===========
   $(".parallax").parallax("50%", 0.3);
   $(".parallax_one").parallax("50%", 0.3);
   $(".parallax_two").parallax("50%", 0.3);
   $("#bg-video").parallax("50%", -0.7);
   $(".parallax_news").parallax("50%", -0.5);
   $(".parallax_bg_slider").parallax("50%", -0.5);
   $(".page_header").parallax("50%", -0.5);
   
  
  // init cubeportfolio for Grids
    $("#grid_layout").cubeportfolio({
        layoutMode: "mosaic",
        gapHorizontal:30,
        gapVertical:30,
        gridAdjustment: "responsive",
        caption: "fadeIn",
        displayType: "fadeIn",
        // lightbox
        lightboxDelegate: ".cbp-lightbox",
        lightboxGallery: true,
        lightboxTitleSrc: "data-title",
        lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} of {{total}}</div>',
    });
   
   //Portfolio
    $("#layout-project").cubeportfolio({
        layoutMode: "mosaic",
        defaultFilter: "*",
        gapHorizontal: 20,
        gapVertical: 20,
        gridAdjustment: "responsive",
        mediaQueries: [{
            width: 1500,
            cols: 4
        }, {
            width: 1100,
            cols: 4
        }, {
            width: 800,
            cols: 2
        }, {
            width: 480,
            cols: 2
        }, {
            width: 320,
            cols: 1
        }],
        lightboxDelegate: ".cbp-lightbox",
        lightboxGallery: true,
    });
  
   // init cubeportfolio (Testinomial Page)
    $("#js-grid-masonry").cubeportfolio({
        layoutMode: "grid",
        gapHorizontal: 50,
        gapVertical: 20,
        gridAdjustment: "responsive",
        mediaQueries: [{
            width: 1500,
            cols: 3
        }, {
            width: 1100,
            cols: 3
        }, {
            width: 800,
            cols: 3
        }, {
            width: 480,
            cols: 2
        }, {
            width: 320,
            cols: 1
        }],
    });
   
    //Project Filter
    $("#projects").cubeportfolio({
        filters: "#project-filter",
        layoutMode: "grid",
        defaultFilter: "*",
        animationType: "slideDelay",
        gapHorizontal: 45,
        gapVertical: 30,
        gridAdjustment: "responsive",
        lightboxDelegate: ".cbp-lightbox",
        lightboxGallery: true,
    });
   
   
   //Initiat WOW JS if you want on scrolling transitions
     //new WOW().init(); 
   

  
}); 




</script>
</body>
</html>
