<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>People for Health | Comments</title>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/bootstrap.min.css">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/envas-icons.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/cubeportfolio.min.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/owl.transitions.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/settings.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/bootsnav.css">
  <!-- <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/loader.css"> -->
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}p4h/css/style1.css">
  <link rel="icon" href="{{STATIC_URL}}p4h/images/favicon.png">
   <link href="http://afrstatic.s3.amazonaws.com/s3direct/css/bootstrap-progress.min.css" type="text/css" media="all" rel="stylesheet" />
 <link href="http://afrstatic.s3.amazonaws.com/s3direct/css/styles.css" type="text/css" media="all" rel="stylesheet" />
 <script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/s3direct/js/scripts.js"></script>
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <style>
    #logo_slider .item > img {
      display: inline-block;
      width: 100%;
    }
    .layout_sixth nav.navbar.bootsnav ul.nav > li > a {
      padding: 21px 3px;
    }

    .dropdown-menu {
    border-top: 5px solid #294A8F !important;
}
.btn-green {
    background: #294A8F;
    border: 1px solid #294A8F;
}
.green_t {
     color: #294A8F; 
}

/*.news ul.news_crumb li a:hover, .news ul.news_crumb li a:focus, .news a:hover, .news a:focus, .blog_item:hover a, .blog_item:focus a {
    color: #C2113B;
}*/

nav.navbar.bootsnav ul.nav > li > a.border:before {
    content: '';
    height: 3px;
    left: -3px;
    right: 0;
    position: absolute;
    bottom: 0;
    background:  #294A8F;
    width: 0;
}
.blue_bg {
    background: #C2113B;
}

.blue_t {
    color: #294A8F;
}
.layout_sixth nav.navbar.bootsnav ul.nav > li > a {
    padding: 25px 3px;
}

.breadcrumb li.active {
    color: #294A8F;
}

.services ul.tabs li.active {
    background: #294A8F;
    color: #fff;
}

.blog_item:hover a, .blog_item:focus a {
    color: #012A6C;
}

.news a:hover{
  color: #012A6C;
}

.btn-green:hover{
  background: #C2113B;

color: #fff;
}

.btn-green:hover, .btn-border:hover, .btn-dark:hover, .btn-border-white:hover {
    border-color:  #C2113B;
    color: #fff;
}


.btn-green:before, .btn-border:before, .btn-dark:before, .btn-border-white:before {
    background: #C2113B;
    border: 1px solid #C2113B;
   color: #fff;
}

/*#7ac832*/

.team_wrap:hover h3, .news:hover h4 {
    color: #C2113B;
}

.ying a:hover {
    color: #fff;
}
  </style>
</head>

<body><div class="wrapper">

  <!--Loader-->
<!--   <div class="loader" style="display: none;">
    <div class="cssload-loader">
      <div class="cssload-inner cssload-one"></div>
      <div class="cssload-inner cssload-two"></div>
      <div class="cssload-inner cssload-three"></div>
    </div>
  </div> -->
  <!--Loader Ends -->



  <!-- Header -->
  <header class="layout_sixth">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default bootsnav">       
          <!-- Start Header Navigation -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
              <i class="fa fa-bars"></i>
            </button>
          <a class="navbar-brand" href="/"><img style='width:110px; height:70px' src="{{STATIC_URL}}p4h/images/logo.jpg" class="logo" alt=""></a>
          </div>
          <!-- End Header Navigation -->

          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="slideInUp" data-out="fadeOut">
              <li>
                <a href="/" class="border">Home</a>             
              </li>
              <li><a href="/about/" class="border">About Project</a></li>           
              <li class="active"><a href="/comments/" class="border">Comments</a></li>
              <li><a href="/policy_areas/" class="border">Policy Areas</a></li>
              <li><a href="/news/" class="border">News</a></li>
              <li class="dropdown">
              <a href="#" class="border">Knowledge Hub </a>

              <ul class="dropdown-menu">
                <li><a href="/knowledgehub_articles/">Articles</a></li>
                <li><a href="/knowledgehub_documents/">Documents</a></li>
              </ul>

            </li>
              <li><a href="/contact/" class="border">Contact Us </a></li>

              {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="border"><img style='max-width:30px;' src='{{user.get_avatar}}' /> </a>

              <ul class="dropdown-menu">
                <li><a href="/submitted_comments/">Comments</a></li>
                <li><a href="/user_logout/">Logout</a></li>
              </ul>

            </li>
            {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- Header Ends -->


  <!-- PAGE TITLE -->
  <section class="page_header" style="background-position: 50% 23px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">         
         <h2 style='margin-top:90px' class="text-uppercase"> Submitted Comments</h2>
       </div>
     </div>
   </div>
 </section>
 <div class="page_linker">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
       <ul class="breadcrumb">
        <li><a href="/"><i class="icon-home6"></i>Home</a></li>        
        <li class="active">Comments</li>
      </ul>
    </div>
  </div>
</div>
</div>
<!-- PAGE TITLE ends -->


<!--BLOG DETAILS-->
<section id="blog" class="padding-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 bottom40">
        <div class="blog_item">
               
       <h3 class="bottom30"> Welcome , {{user.first_name}} {{user.last_name}}</h3>

       {% if comments %}
         {% for item in comments %}
         <div class="blog_rep media">
          <div class="media-left">
          {% if item.author %}
            <img style='max-width:70px' src="{{item.author.get_avatar}}"  class="media-object">
          {% else %}
            <img style='max-width:70px' src="http://afrstatic.s3.amazonaws.com/rsz_fb.png"  class="media-object">
          {% endif %}
          
          </div>
          <div class="media-body">
          {% if item.author %}
            <h4 class="bottom15">{{item.author.get_full_name}} 
            {% else %}
  <h4 class="bottom15">Anonymous User
            {% endif %}


            <small>{{item.get_elapsed_time}}</small></h4>
            <p>{{item.comment}} - <span style='color:green'>Verified True</span></p>
            {% if item.is_resolved %}
            <p> <strong>Status </strong> : Resolved </p>
            {% else %}
            <p> <strong>Status </strong> : Pending </p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      {% else %}
        <p> No comments submitted yet </p>
      {% endif%}
    
 

    </div>
  </div>
  <aside class="col-sm-3">
    <div class="widget heading_space">
      <form class="widget_search border-radius">
        <div class="input-group">
          <input class="form-control" required="" placeholder="Search Here" type="search">
          <i class="input-group-addon icon-search5"></i>
        </div>
      </form>
    </div>
    <div class="widget heading_space">
      <h4 class="bottom10">Trending News </h4>      
      <div class="single_post bottom15">
        <a href="#." class="post"><img style='width:70px' src="{{STATIC_URL}}p4h/images/water.jpeg" alt="post image"></a>
        <div class="text">
          <a href="#.">Child Birth Rate all time hight</a>
          <p>September 22,2016</p>
        </div>
      </div>
      <div class="single_post bottom15">
        <a href="#." class="post"><img style='width:70px' src="{{STATIC_URL}}p4h/images/wash.jpg" alt="post image"></a>
        <div class="text">
          <a href="#.">Mothers educated on Family Planning</a>
          <p>September 22,2016</p>
        </div>
      </div>
      <div class="single_post">
        <a href="#." class="post"><img style='width:70px' src="{{STATIC_URL}}p4h/images/ambulance.jpg" alt="post image"></a>
        <div class="text">
          <a href="#.">Get Our Experts Opinion</a>
          <p>September 22,2016</p>
        </div>
      </div>
    </div>
    <div class="widget heading_space">
      <h4 class="bottom10">Categories</h4>
      <ul class="category">
        <li><a href="#>">Family Planning</a></li>
        <li><a href="#>">Malaria</a></li>
        <li><a href="#>">Maternal Health</a></li>
        <li><a href="#>">WASH</a></li> 
        <li><a href="#>">HIV/AIDS</a></li>            
      </ul>
    </div>
    <div class="widget heading_space">
      <h4 class="bottom10">Tags</h4>
      <ul class="tags">
        <li><a href="#>">Child Mortality</a></li>
        <li><a href="#>">AIDS</a></li>
        <li><a href="#>">Treatment</a></li>
        <li><a href="#>">Prevention</a></li>
        <li><a href="#>">Outbreaks</a></li>

      </ul>
    </div>
  </aside>
</div>
</div>
</section>
<!--BLOG DETAILS ends-->


<!--Footer-->
<footer style='padding:40px' class="footer_top">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 footer_panel heading_space">
        <a href="/" class="footer_logo bottom30"><img style='width:110px; height:70px' src="{{STATIC_URL}}p4h/images/logo.jpg" class="logo" alt=""></a>
        <p class="bottom30">People for Health empowers the ordinary Ghanaian to voice out their concerns with regards to service delivery in the health sector.
        </p>
        <ul class="social_icon heading_top">
          <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="dribble"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#" class="instagram"><i class="fa fa-youtube"></i></a></li>

        </ul>
      </div>
       <div class="col-sm-4 footer_panel heading_space">
        <h4 class="heading bottom20">Newsletter  Subscription</h4>
        <p>Please provide your email below if you want to be receiving newsletters from People for Health.
        </p>
        
        <form method='POST' action='/submit_newsletter/'> {% csrf_token %}
        <input name='email' class="form-control" placeholder="Your Email" type="email" required>

        <button type='submit' style='width:100%; color:#fff' class="btn-green top10 border_radius text-uppercase"><center> Subscribe</center></button>
</form>
      </div>
      <div class="col-sm-4 footer_panel heading_space">
        <h4 class="bottom30 heading"> Recent  News</h4>
        <div class="media">
          <div class="media-left">
            <a href="#."><img width='100' class="media-object" src="{{STATIC_URL}}p4h/images/malaria.jpg" alt="..."></a>
          </div>
          <div class="media-body">
            <p><a href="#">Malaria Outbreak in the Brong Ahafo Region</a></p>
            <span><i class="icon-calendar"></i>November 30, 2016</span>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <a href="#"><img width='100' class="media-object" src="{{STATIC_URL}}p4h/images/wash2.jpg" alt="..."></a>
          </div>
          <div class="media-body">
            <p><a href="#">Sunkwa Hospital Receives new beds with treated nets</a></p>
            <span><i class="icon-calendar"></i>September 15, 2016</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy; 2017 <a href="#">People 4 Health</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
                        <div style='margin-top:70px' class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h3 class="modal-title">Anonymous Commenting</h3>
                                    </div>
                                    <div class="modal-body">                              
                                        <div class="tab-pane active" id="vertical-form">

                                                                         
<p> You are trying to submit an issue as anonymous user. You will however not be able to track issue(s) you submit. If you would want to, then, please register </p>
                                       
                                       <form name='aben'>
                                       <input class='changevalue' type="hidden" name="changevalue" value="0"/>
</form>
                                   </div>
                                   <!-- <p><img src="{{STATIC_URL}}assets/demo/stockphoto/music_02.jpg" alt="Fountain" class="img-rounded img-responsive"></p> -->


                               </div>
                               <div class="modal-footer">
                                <a href='/user_login/' class="btn btn-default">Login</button></a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Continue as Anonymous</button>
                            </div>
                        
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <a data-toggle="modal" style='font-size:13px; color:white; background:#852630' id='myTrigger' href='#myModal' class="hide btn btn-lg" >Add Rating</a>

<script src="{{STATIC_URL}}p4h/js/jquery-2.2.3.js"></script>
<script src="{{STATIC_URL}}p4h/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.parallax-1.1.3.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.appear.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery-countTo.js"></script>
<script src="{{STATIC_URL}}p4h/js/bootsnav.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.cubeportfolio.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/owl.carousel.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.themepunch.tools.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.themepunch.revolution.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/jquery.themepunch.revolution.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/revolution.extension.layeranimation.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/revolution.extension.navigation.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/revolution.extension.parallax.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/revolution.extension.slideanims.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/revolution.extension.video.min.js"></script>
<script src="{{STATIC_URL}}p4h/js/functions.js"></script>

</div><a href="#" class="back-to" style="display: block;"><i class="icon-arrow-up2"></i></a>
</body>
</html>