<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>P4H - Dashboard </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="description" content="Kakum">
  <meta name="author" content="Kakum">

  <link type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600' rel='stylesheet'>

  <link type="text/css" href="{{STATIC_URL}}assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">        <!-- Font Awesome -->
  <link type="text/css" href="{{STATIC_URL}}assets/fonts/themify-icons/themify-icons.css" rel="stylesheet">              <!-- Themify Icons -->
  <link type="text/css" href="{{STATIC_URL}}assets/fonts/weather-icons/css/weather-icons.min.css" rel="stylesheet">      <!-- Weather Icons -->

  <link rel="stylesheet" href="{{STATIC_URL}}assets/css/styles-alternative.css" id="theme">             <!-- Default CSS: Altenate Style -->
  <link rel="prefetch alternate stylesheet" href="{{STATIC_URL}}assets/css/styles.css">                 <!-- Prefetched Secondary Style -->

  <link type="text/css" href="{{STATIC_URL}}assets/plugins/codeprettifier/prettify.css" rel="stylesheet">                <!-- Code Prettifier -->
  <link type="text/css" href="{{STATIC_URL}}assets/plugins/iCheck/skins/minimal/blue.css" rel="stylesheet">   

  <link type="text/css" href="{{STATIC_URL}}assets/plugins/fullcalendar/fullcalendar.css" rel="stylesheet"> 						<!-- FullCalendar -->
  <link type="text/css" href="{{STATIC_URL}}assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"> 			<!-- jVectorMap -->
  <link type="text/css" href="{{STATIC_URL}}assets/plugins/switchery/switchery.css" rel="stylesheet">   							<!-- Switchery -->
  <link type="text/css" href="{{STATIC_URL}}assets/plugins/charts-chartistjs/chartist.min.css" rel="stylesheet"> 	
  {{verify_form.media}}
  {{resolve_form.media}}

  <!-- Chartist -->
  <style>
    .widget-tasks .widget-body .easypiechart .percent-non:after {
      content: 'Comments';
      display: block;
      line-height: 1.45;
      position: relative;
      font-weight: normal;
      top: -28px;
      font-size: 11px;
      color: rgba(255, 255, 255, 0.5);
    }
    #topnav.navbar-bluegray, #topnav.navbar-bluegray #toolbar-search.active {
      background-color: #294A8F;
    }
    .bluegray.static-sidebar-wrapper, .sidebar-bluegray.fixed-sidebar {
      background-color: #780e1a;
    } 
    .sidebar-bluegray nav.widget-body > ul.acc-menu > li.active > a {
      background-color: #294A8F;
      color: #ffffff;
      border-color:  #b0bec5;
    }
    .sidebar-bluegray nav.widget-body > ul.acc-menu li a {
      color: #fff;
      background-color:#294A8F;
      border-color:  #b0bec5;
    }

    a {
      color: #294A8F;
      text-decoration: none;
    }

    .sidebar-bluegray.static-sidebar-wrapper, .sidebar-bluegray.fixed-sidebar {
      background-color: #294A8F;
    }
    .sidebar-bluegray .sidebar .widget .widget-body .userinfo {
      background-color: #294A8F;
      border-bottom: 1px solid #b0bec5;
      border-top: 1px solid #b0bec5;
    }
    #topnav.navbar-bluegray #toolbar-search .input-group-btn button, #topnav.navbar-bluegray #toolbar-search .form-control {
      background: #C99EA3;
      color: #eceff1;
    }
    .widget-tasks {
      background: #72B877;
    }
    .sidebar-bluegray nav.widget-body > ul.acc-menu ul, .sidebar-bluegray nav.widget-body > ul.acc-menu ul li a {
      background-color: #294A8F;
      color: #fff;
    }
    .sidebar-bluegray nav.widget-body > ul.acc-menu > li:hover > a {
      background-color: #294A8F;
      color: #eceff1;
      border-color: #fff;
    }
    .sidebar-bluegray nav.widget-body > ul.acc-menu ul li a:hover {
      background-color: #294A8F;
      color: #eceff1;
    }
    .sidebar-bluegray nav.widget-body > ul.acc-menu > li > a > i {
      color: #eee;
    }
    .sidebar-bluegray nav.widget-body > ul.acc-menu > li > a > i {
      color: #eee;
    }
    .widget-tasks .widget-tabs li {
      border-right: 1px solid #eee;
      width: 33.33%;
      text-align: center;
      background: #294A8F;
    }
    .widget-tasks .widget-tabs li.active a, .widget-tasks .widget-tabs li.active a:hover {
      background: #003A04;
      color: #ffffff;
    }
    .sidebar-bluegray .sidebar .widget .widget-body .userinfo .username {
      color: #fff;
    }

    .card {
      position: relative;
      height:88px;
      margin-bottom: 24px;
      background-color: #ffffff;
      color: #313534;
      border-radius: 2px;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    }
    .card:before,
    .card:after {
      content: " ";
      display: table;
    }
    .card:after {
      clear: both;
    }
    .card .btn-icon-toggle:hover,
    .card .btn-flat:hover {
      background-color: rgba(12, 12, 12, 0.07);
    }
    .card > .nano:last-child {
      border-radius: 0 0 2px 2px;
    }
    .card.no-shadow {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .card-head {
      position: relative;
      line-height: 52px;
      min-height: 56px;
      vertical-align: middle;
      border-radius: 2px 2px 0 0;
    }
    .card-head:before,
    .card-head:after {
      content: " ";
      display: table;
    }
    .card-head:after {
      clear: both;
    }
    .card-head header {
      display: inline-block;
      padding: 11px 24px;
      vertical-align: middle;
      line-height: 17px;
      font-size: 20px;
    }
    .card-head header > h1,
    .card-head header > h2,
    .card-head header > h3,
    .card-head header > h4,
    .card-head header > h5,
    .card-head header > h6 {
      vertical-align: middle;
      margin: 0;
      line-height: 1;
    }
    .card-head header small {
      color: inherit;
      opacity: 0.6;
      font-size: 75%;
    }
    .card-head > div {
      display: inline-block;
    }
    .card-head .tools {
      padding-right: 16px;
      float: right;
    }
    .card-head .tools form {
      margin-top: 7px;
      margin-bottom: 7px;
      margin-left: 24px;
      line-height: normal;
      vertical-align: middle;
    }
    .card-head .tools .btn-floating-action {
      margin-left: 8px;
    }
    .card-head .tools > .btn-group {
      margin-right: 4px;
    }
    .card-head .tools > .btn-group-xs {
      margin-right: 10px;
    }
    .card-head .tools > .btn-group-sm {
      margin-right: 4px;
    }
    .card-head .tools > .btn-group-lg {
      margin-right: 0;
    }
    .card-head .tools.pull-left > .btn-group {
      margin-left: 4px;
    }
    .card-head .tools.pull-left > .btn-group-xs {
      margin-left: 10px;
    }
    .card-head .tools.pull-left > .btn-group-sm {
      margin-left: 4px;
    }
    .card-head .tools.pull-left > .btn-group-lg {
      margin-left: 0;
    }
    .card-head.card-head-xs {
      line-height: 32px;
      min-height: 36px;
    }
    .card-head.card-head-xs header {
      font-size: 15px;
      padding: 8px 24px;
    }
    .card-head.card-head-sm {
      line-height: 44px;
      min-height: 48px;
    }
    .card-head.card-head-sm header {
      font-size: 15px;
    }
    .card-head.card-head-lg {
      line-height: 76px;
      min-height: 80px;
    }
    .card-head.card-head-lg header {
      font-size: 24px;
    }
    .card-body {
      padding: 24px;
      position: relative;
    }
    .card-body:before,
    .card-body:after {
      content: " ";
      display: table;
    }
    .card-body:after {
      clear: both;
    }
    .card-body:last-child {
      border-radius: 0 0 2px 2px;
    }
    .card-body.table-responsive {
      margin: 0;
    }
    .card-actionbar {
      padding-bottom: 8px;
      position: relative;
    }
    .card-actionbar:before,
    .card-actionbar:after {
      content: " ";
      display: table;
    }
    .card-actionbar:after {
      clear: both;
    }
    .card-actionbar:last-child {
      border-radius: 0 0 2px 2px;
    }
    .card-actionbar-row {
      padding: 6px 16px;
      text-align: right;
    }
    .card-tiles > .row,
    .card-type-blog-masonry > .row {
      margin: 0;
    }
    .card-tiles > .row > [class^="col-"],
    .card-type-blog-masonry > .row > [class^="col-"] {
      padding: 0;
    }
    .card-underline .card-head {
      border-bottom: 1px solid rgba(150, 156, 156, 0.4);
    }
    .card-underline .card-foot {
      border-top: 1px solid rgba(150, 156, 156, 0.4);
    }
    .card-bordered,
    .card-outlined {
      border: 2px solid #969c9c;
    }
    .opacity-50 {
      opacity: 0.5;
      filter: alpha(opacity=50);
    }

    .no-padding {
      padding: 0 !important;
    }
    .force-padding {
      padding: 24px;
    }
    .large-padding {
      padding: 48px;
    }
    .small-padding {
      padding: 12px;
    }
    .no-y-padding {
      padding: 0 24px;
    }
    .no-side-padding {
      padding: 24px 0;
    }
    .alert.alert-callout {
      position: relative;
      padding-left: 20px;
      background: #ffffff;
      color: #313534;
      border-radius: 3px;
      border-color: rgba(83, 88, 88, 0.15);
      border-top:1px solid #dfefff
    }
    .alert.alert-callout:before {
      content: '';
      position: absolute;
      display: block;
      width: 4px;
      left: -1px;
      top: -1px;
      bottom: -1px;
      background: red;
    }
    .alert-callout.alert-success:before {
      background: #4caf50;
    }
    .alert-callout.alert-info:before {
      background: #2196f3;
    }
    .alert-callout.alert-warning:before {
      background: #ff9800;
    }
    .alert-callout.alert-danger:before {
      background: #f44336;
    }

    .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
      color: #ffffff;
      background-color: #003A04 !important;
      border-color: #003A04 !important;
    }

    .btn-primary {
      background-color: #294A8F !important;
      border-color: #294A8F !important;
      color: #ffffff;
      background-color: #294A8F;
      border-color: #294A8F;
    }

    .wizard {
      margin: 20px auto;
      background: #fff;
    }

    .wizard .nav-tabs {
      position: relative;
      margin: 40px auto;
      margin-bottom: 0;
      border-bottom-color: #d0d0d0;
    }

    .wizard > div.wizard-inner {
      position: relative;
    }

    .connecting-line {
      height: 1px;
      background: #294A8F;
      position: absolute;
      width: 80%;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 39%;
      z-index: 1;
    }

    .wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
      color: #555555;
      cursor: default;
      border: 0;
      border-bottom-color: transparent;
    }

    span.round-tab {
      width: 70px;
      height: 70px;
      line-height: 70px;
      display: inline-block;
      border-radius: 100px;
      background: #fff;
      border: 1px solid #d0d0d0;
      z-index: 2;
      position: absolute;
      left: 0;
      text-align: center;
      font-size: 25px;
    }
    span.round-tab i{
      color:#555555;
    }
    .wizard li.active span.round-tab {
      background: #fff;
      border: 1px solid #294A8F;

    }
    .wizard li.active span.round-tab i{
      color: #294A8F;
    }

    span.round-tab:hover {
      color: #333;
      border: 1px solid #333;
    }

    .wizard .nav-tabs > li {
      width: 25%;
    }

    .wizard li:after {
      content: " ";
      position: absolute;
      left: 46%;
      opacity: 0;
      margin: 0 auto;
      bottom: 0px;
      border: 5px solid transparent;
      border-bottom-color: #294A8F;
      transition: 0.1s ease-in-out;
    }

    .wizard li.active:after {
      content: " ";
      position: absolute;
      left: 46%;
      opacity: 1;
      margin: 0 auto;
      bottom: 0px;
      border: 10px solid transparent;
      border-bottom-color: #294A8F;
    }

    .wizard .nav-tabs > li a {
      width: 70px;
      height: 70px;
      margin: 20px auto;
      border-radius: 100%;
      padding: 0;
    }

    .wizard .nav-tabs > li a:hover {
      background: transparent;
    }

    .wizard .tab-pane {
      position: relative;
      padding-top: 50px;
    }

    .wizard h3 {
      margin-top: 0;
    }

    @media( max-width : 585px ) {

      .wizard {
        width: 90%;
        height: auto !important;
      }

      span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
      }

      .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
      }

      .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
      }
    }



    .onoffswitch {
      position: relative; width: 90px;
      -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
      display: none;
    }
    .onoffswitch-label {
      display: block; overflow: hidden; cursor: pointer;
      border: 2px solid #999999; border-radius: 20px;
    }
    .onoffswitch-inner {
      display: block; width: 200%; margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
      display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
      font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
      box-sizing: border-box;
    }
    .onoffswitch-inner:before {
      content: "TRUE";
      padding-left: 10px;
      background-color: #34A7C1; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
      content: "FALSE";
      padding-right: 10px;
      background-color: #EEEEEE; color: #999999;
      text-align: right;
    }
    .onoffswitch-switch {
      display: block; width: 18px; margin: 6px;
      background: #FFFFFF;
      position: absolute; top: 0; bottom: 0;
      right: 56px;
      border: 2px solid #999999; border-radius: 20px;
      transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
      right: 0px; 
    }

  </style>
</head>

<body class="animated-content">

  <div class="extrabar-underlay"></div>

  <header id="topnav" class="navbar navbar-bluegray navbar-fixed-top">

   <div class="logo-area">
    <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
     <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
      <span class="icon-bg">
       <i class="ti ti-shift-left"></i>
     </span>
   </a>
 </span>


 <a class="navbar-brand" href="#"> <img style='width:90px; height:50px; float:left; margin-top:-14px' src="{{STATIC_URL}}p4h/images/logo.jpg" class="logo" alt=""></a>



 <div class="toolbar-icon-bg hidden-xs" id="toolbar-search">
   <div class="input-icon">
    <i class="ti ti-search search"></i>
    <input type="text" placeholder="Type to search..." class="form-control" tabindex="1">
    <i class="ti ti-close remove"></i>
  </div>
</div>

</div><!-- logo-area -->





<ul class="nav navbar-nav toolbar pull-right">


  <li class="dropdown toolbar-icon-bg">
   <a href="#" id="navbar-links-toggle" data-toggle="collapse" data-target="header>.navbar-collapse">
    <span class="icon-bg">
     <i class="ti ti-more"></i>
   </span>
 </a>
</li>
<!-- 
<li class="toolbar-icon-bg" id="trigger-toolbar-search">
 <a href="#"><span class="icon-bg"><i class="ti ti-search"></i></span></a>
</li> -->


<!-- <li class="dropdown toolbar-icon-bg hidden-xs">
 <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-email"></i></span><span
   class="badge badge-deeporange">4</span></a>
   <div class="dropdown-menu notifications arrow">
    <div class="topnav-dropdown-header">
     <span>Latest Comment</span>
   </div>
   <div class="scroll-pane">
     <ul class="media-list scroll-content">
     </ul>
   </div>
   <div class="topnav-dropdown-footer">
     <a href="/backend/user_comments/">See all comments</a>
   </div>
 </div>
</li> -->

<li class="dropdown toolbar-icon-bg">
 <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-bell"></i></span><span class="badge badge-deeporange">2</span></a>
 <div class="dropdown-menu notifications arrow">
  <div class="topnav-dropdown-header">
   <span>Notifications</span>
 </div>
 <div class="scroll-pane">
   <ul class="media-list scroll-content">
<!--     <li class="media notification-success">
     <a href="#">
      <div class="media-left">
       <span class="notification-icon"><i class="ti ti-pencil"></i></span>
     </div>
     <div class="media-body">
       <h4 class="notification-heading">Profile page has been updated</h4>
       <span class="notification-time">12 mins ago</span>
     </div>
   </a>
 </li> -->
<!--  <li class="media notification-info">
   <a href="#">
    <div class="media-left">
     <span class="notification-icon"><i class="ti ti-check"></i></span>
   </div>
   <div class="media-body">
     <h4 class="notification-heading">Updates pushed successfully</h4>
     <span class="notification-time">35 mins ago</span>
   </div>
 </a>
</li> -->

</ul>
</div>
<div class="topnav-dropdown-footer">
 <a href="#">No notifications yet</a>
</div>
</div>
</li>

<li class="dropdown toolbar-icon-bg">
 <a href="#" class="dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-user"></i></span></i></a>
 <ul class="dropdown-menu userinfo arrow">
  <li><a href="/users/user_detail/{{user.id}}"><i class="ti ti-user"></i><span>Profile</span><span class="badge badge-info pull-right">73%</span></a></li>
  <li><a href="#"><i class="ti ti-settings"></i><span>Settings</span></a></li>
  <li><a href="#"><i class="ti ti-help-alt"></i><span>Change Password</span></a></li>
  <li class="divider"></li>


  <li><a href="/users/logout/"><i class="ti ti-shift-right"></i><span>Sign Out</span></a></li>
</ul>
</li>

</ul>

</header>

<div id="wrapper">
  <div id="layout-static">
    <div class="static-sidebar-wrapper sidebar-bluegray">
      <div class="static-sidebar">
        <div class="sidebar">
         <div class="widget">
          <div class="widget-body">
            <div class="userinfo">
              <div class="avatar">
                <img style='width:64px; height:64px' src="{{user.get_avatar}}" class="img-responsive img-circle" /> 
              </div>
              <div class="info">
                <span class="username">{{user.first_name}} {{user.last_name}}</span>
                <span class="useremail">{{user.email}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="widget stay-on-collapse" id="widget-sidebar">
          <nav class="widget-body">
           <ul class="acc-menu">

            <li><a href="/users/p4h_dashboard/"><i class="ti ti-home"></i><span>Dashboard</span></a></li>



            <li class='active'><a href="/backend/user_comments/"><i class="ti ti-comment"></i><span>Comments</span></a></li>


            <li><a href="/backend/p4h_visualisations/"><i class="ti ti-eye"></i><span>Reports &amp; Visualisations</span></a>

            </li>

            <li><a href="/users/edit_p4h_user/{{user.id}}/"><i class="ti ti-user"></i><span>My Account</span></a></li>

  {% if user.user_permission == '7' %}

  <li><a href="javascript:;"><i class="ti ti-user"></i><span>User Mgt</span></a>
    <ul class="acc-menu">
      <li><a href="/users/create_p4h_admin/">Add Super Admin</a></li>
      <li><a href="/users/create_p4h_users/">Add Normal Admin</a></li> 
      <li><a href="/users/all_p4h_admin/">All P4H Admin</a></li>   
<li><a href="/users/p4h_registered_users/">Registered Users</a></li>     
<li><a href="/users/newsletter_emails/">View Newsletter Emails</a></li>              
    </ul>
  </li>

  <li><a href="javascript:;"><i class="ti ti-light-bulb"></i><span>Knowledge Center</span></a>
    <ul class="acc-menu">
      <li><a href="/projects/add_p4h_article/">Add Article</a></li>
      <li><a href="/projects/add_p4h_document/">Add Document</a></li>  
      <li><a href="/projects/all_p4h_articles/">All Articles</a></li>
      <li><a href="/projects/all_p4h_documents/">All Documents</a></li>
    </ul>
  </li>

  <li><a href="javascript:;"><i class="ti ti-pencil"></i><span>Other Parameters</span></a>
    <ul class="acc-menu">
      <li><a href="/projects/add_p4h_regions/">Add Region</a></li>     
      <li><a href="/projects/add_p4h_districts/">Add Districts</a></li>    
      <li><a href="/projects/add_p4h_hcp/">Add Health Care Provider(HCP)</a></li>               
    </ul>
  </li> 


    <li><a href="javascript:;"><i class="ti ti-pencil"></i><span>Website Content</span></a>
    <ul class="acc-menu">
      <li><a href="/projects/add_slider/">Sliders</a></li> 
      <li><a href="/projects/add_approach/">Homepage Approach</a></li>     
      <li><a href="/projects/add_news/">News</a></li>  
      <li><a href="/projects/edit_about/1/">About Us</a></li>   
      <li><a href="/projects/edit_contact/1/">Contact Us</a></li>    
                   
    </ul>
  </li> 


    <li><a href="javascript:;"><i class="ti ti-view-list-alt"></i><span>Policy Area</span></a>
    <ul class="acc-menu">
      <li><a href="/projects/add_policy_area/">Add Policy Area</a></li>
      <li><a href="/projects/all_policy_areas/">All Policy Areas</a></li>         
    </ul>
  </li>

  {% endif %}

          </ul>
        </nav>
      </div>

    </div>
  </div>
</div>


<div class="static-content-wrapper">
  <div class="static-content">
    <div class="page-content">
      <ol class="breadcrumb">

        <li><a href="/">Home</a></li>        
        <li class="active"><a href="#">Comment Status</a></li>

      </ol>

      <div class="container-fluid">

        <div data-widget-group="group1">
          <div class="row">
            <div class="col-sm-12">

              <div class="panel panel-midnightblue" data-widget='{"draggable": "false"}'>

                <div style='padding-top:0' class="panel-body">
                  <div class="tab-content">

                    {% if no_district_monitor %}
                    <div class="alert alert-danger">
                      <button class="close" data-dismiss="alert">×</button>
                      <strong> No District Health Management Team is Available. Please contact your administrator for a DHMT to be added</strong> 
                    </div> 
                    {% endif %}

                    {% if no_regional_monitor %}
                    <div class="alert alert-danger">
                      <button class="close" data-dismiss="alert">×</button>
                      <strong> No Regional Monitor Available. Please contact your administrator for a regional monitor to be added</strong> 
                    </div> 
                    {% endif %}



                    {% if no_national_monitor %}
                    <div class="alert alert-danger">
                      <button class="close" data-dismiss="alert">×</button>
                      <strong> No National Monitor Available. Please contact your administrator for a national monitor to be added</strong> 
                    </div> 
                    {% endif %}

                    <div>
                      <div class="row">
                        <section>
                          <div class="wizard">
                            <div class="wizard-inner">
                              <div class="connecting-line"></div>
                              <ul class="nav nav-tabs" role="tablist">

                                {% if mycomment.is_resolved or mycomment.is_verified  %}
                                <li role="presentation" class=>
                                 {% else %}
                                 <li role="presentation" class="active">
                                  {% endif%}

                                  <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                    <span class="round-tab">
                                      {% if mycomment.is_verified %}
                                      <i class="fa fa-check" aria-hidden="true"></i>
                                      {% else %}
                                      <i class="fa fa-binoculars" aria-hidden="true"></i>
                                      {% endif %}
                                    </span>

                                  </a>
                                  <center><p>Step 1: Verification</p></center>

                                </li>

                                {% if mycomment.is_resolved or mycomment.is_district_escalated or mycomment.is_regional_escalated or is_national_escalated  %}
                                <li role="presentation" class=>
                                  {% elif mycomment.is_verified %}
                                  <li role="presentation" class="active">
                                    {% else %}
                                    <li role="presentation" class="disabled">
                                      {% endif %}
                                      <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                        <span class="round-tab">
                                          {% if mycomment.is_resolved or mycomment.is_district_escalated %}
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                          {% else %}
                                          <i class="fa fa-users" aria-hidden="true"></i>
                                          {% endif %}
                                        </span>
                                      </a>
                                      <center><p>Step 2: Action </p></center>
                                    </li>

                                    {% if mycomment.is_district_escalated %}


                                    {% if mycomment.is_resolved or mycomment.is_regional_escalated or is_national_escalated  %}
                                    <li role="presentation" class=>
                                     {% elif mycomment.is_district_escalated  %}
                                     <li role="presentation" class'active'>                                  
                                      {% endif %}
                                      <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Step 4">
                                        <span class="round-tab">
                                         {% if mycomment.is_resolved or mycomment.is_regional_escalated %}
                                         <i class="fa fa-check" aria-hidden="true"></i>
                                         {% else %}
                                         <i style='color:green' class="fa fa-users" aria-hidden="true"></i>
                                         {% endif %}
                                       </span>
                                     </a>
                                     <center><p>Step 3: District Escalation</p></center>
                                   </li>


                                   {% endif %}


                                   {% if mycomment.is_regional_escalated %}

                                   {% if mycomment.is_resolved or is_national_escalated  %}
                                   <li role="presentation" class=>
                                     {% elif mycomment.is_regional_escalated  %}
                                     <li role="presentation" class'active'>                                  
                                      {% endif %}
                                      <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab" title="Step 5">
                                        <span class="round-tab">
                                          {% if mycomment.is_resolved or mycomment.is_national_escalated %}
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                          {% else %}
                                          <i class="fa fa-users" aria-hidden="true"></i>
                                          {% endif %}
                                        </span>
                                      </a>
                                      <center><p>Step 4: Regional Escalation</p></center>
                                    </li>
                                    {% endif %}


                                    {% if mycomment.is_national_escalated  %}

                                    {% if mycomment.is_resolved %}
                                    <li role="presentation" class>
                                      {% else %}
                                      <li role="presentation" class='active'>
                                        {% endif%}


                                        <a href="#step6" data-toggle="tab" aria-controls="step6" role="tab" title="Step 6">
                                          <span class="round-tab">
                                           {% if mycomment.is_resolved %}
                                           <i class="fa fa-check" aria-hidden="true"></i>
                                           {% else %}
                                           <i class="fa fa-users" aria-hidden="true"></i>
                                           {% endif %}
                                         </span>
                                       </a>
                                       <center><p>Step 5: National Escalation </p></center>
                                     </li>
                                     {% endif %}


                                     {% if mycomment.is_resolved %}
                                     <li role="presentation" class>
                                      {% else %}
                                      <li role="presentation" class="disabled">
                                        {% endif %}
                                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                          <span class="round-tab">
                                            {% if mycomment.is_resolved %}
                                            <i style='color:green' class="fa fa-check" aria-hidden="true"></i>
                                            {% else %}
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                            {% endif %}

                                          </span>
                                        </a>
                                        {% if mycomment.is_district_escalated and not mycomment.is_regional_escalated  and not mycomment.is_national_escalated %} 
                                        <center><p>Step 4: Resolution</p></center>
                                        {% elif mycomment.is_district_escalated and mycomment.is_regional_escalated  and not mycomment.is_national_escalated %} 
                                        <center><p>Step 5: Resolution</p></center>    
                                        {% elif mycomment.is_district_escalated and mycomment.is_regional_escalated  and mycomment.is_national_escalated %} 
                                        <center><p>Step 6: Resolution</p></center>         
                                        {% else %}
                                        <center><p>Step 3: Resolution</p></center>
                                        {% endif %}

                                      </li>


                                    </ul>
                                  </div>

                                  <form role="form">
                                    <div class="tab-content">


                                      {% if mycomment.is_resolved or mycomment.is_verified  %}
                                      <div style='padding-left:50px; padding-right:20px' class="tab-pane" role="tabpanel" id="step1">
                                       {% else %}
                                       <div style='padding-left:50px; padding-right:20px' class="tab-pane active" role="tabpanel" id="step1">
                                        {% endif%}




                                        {% if mycomment.is_verified %}
                                        <center><h4 style='color:green'>Verification Status: Verified <i class="fa fa-check-circle" aria-hidden="true"></i></h4></center>
                                        {% else %}
                                        <center><h4 style='color:red'>Verification Status: Pending Verification <i class="fa fa-info-circle" aria-hidden="true"></i></h4></center>
                                        {% endif %}
                                        <p> <strong>Comment</strong> : {{mycomment.comment}} <p>

                                         <p><strong> Date Submitted </strong> : {{mycomment.timestamp}}</p>
                                         <p>  <strong> Submitter </strong> : {{mycomment.author.get_full_name}}</p>
                                         <p>  <strong> Duty Bearer </strong> : {{mycomment.duty_bearer }} </p>
                                         {% if mycomment.is_verified %}
                                         <p><strong> Status </strong> : Verified</p>
                                         <p><strong> Date Verified  </strong> : {{mycomment.date_verified}}</p>
                                         <p><strong> Verification Truth </strong> : {{mycomment.verification_truth}} </p>
                                         <p><strong> Verification Comment </strong> : {{mycomment.verification_comment|safe}}</p>
                                         {% else %}
                                         <p> <strong> Status </strong> : Unverified</p>
                                         {% endif %}

                                         {% if not mycomment.is_verified %}
                                         <ul class="list-inline pull-right">
                                          <li><a href='#verificationModal' data-toggle="modal"  class="btn btn-primary"><i class="fa fa-folder-open" aria-hidden="true"></i> Change Verification Status</a></li>
                                        </ul>
                                        {% endif %}

                                      </div>



                                      {% if mycomment.is_resolved or mycomment.is_district_escalated or mycomment.is_regional_escalated or is_national_escalated  %}
                                      <div style='padding-left:50px; padding-right:20px'  class="tab-pane" role="tabpanel" id="step2">
                                        {% elif mycomment.is_verified %}
                                        <div style='padding-left:50px; padding-right:20px'  class="tab-pane active" role="tabpanel" id="step2">
                                        {% else %}

<div style='padding-left:50px; padding-right:20px'  class="tab-pane" role="tabpanel" id="step2">
                                          {% endif %}





                                          {% if mycomment.is_resolved %}
                                          <center><h4 style='color:green'>Action Status: Action Taken <i class="fa fa-check-circle" aria-hidden="true"></i></h4></center>

                                          {% elif mycomment.is_district_escalated  %}
                                          <center><h4 style='color:green'>Action Status: Escalated to DHMT <i class="fa fa-check-circle" aria-hidden="true"></i></h4></center>

                                          {% else %}
                                          <center><h4 style='color:red'>Action Status: Pending <i class="fa fa-info-circle" aria-hidden="true"></i></h4></center>
                                          {% endif %}
                                          <p> Comment : {{mycomment.comment}} </p>                                
                                          <p> Date Submitted: {{mycomment.timestamp}}</p>
                                          <p> Submitter : {{mycomment.author.get_full_name}}</p>


                                          {% if mycomment.is_resolved %}
                                          <p> Status: Action Taken / Resolved</p>
                                          {% elif mycomment.is_district_escalated %}
                                          <p> Status: Escalated to District Health Management Team</p>
                                          <p> Escalated to: {{mycomment.district_escalant}}</p>
                                          <p> Escalation Comment: {{mycomment.hospital_escalation_comment|safe}} </p>
                                          <p> Date Escalated to DHMT : {{mycomment.hospital_escalated_date }}</p>
                                          {% else %}
                                          <p> Status : Pending </p>
                                          {% endif %}

                                          {% if not mycomment.is_resolved and not mycomment.is_district_escalated %}

                                          <ul class="list-inline pull-right">

                                            <li><a href='#escalateDistrictModal' data-toggle="modal" class="btn btn-primary"><i class="fa fa-user" aria-hidden="true"></i> Escalate to DHMT</a></li>

                                            <li><a href='#resolveModal' data-toggle="modal" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Resolve</a></li>

                                          </ul>
                                          {% endif %}
                                        </div>



                                        {% if mycomment.is_district_escalated %}

                                        {% if mycomment.is_resolved or mycomment.is_regional_escalated or is_national_escalated  %}
                                        <div style='padding-left:50px; padding-right:20px'  class="tab-pane" role="tabpanel" id="step4">
                                         {% elif mycomment.is_district_escalated  %}
                                         <div style='padding-left:50px; padding-right:20px'  class="tab-pane active" role="tabpanel" id="step4">                                 
                                          {% endif %}



                                          {% if mycomment.is_resolved %}
                                          <center><h4 style='color:green'>Escalation Status: Resolved <i class="fa fa-check-circle" aria-hidden="true"></i></h4></center>

                                          {% elif mycomment.is_regional_escalated  %}
                                          <center><h4 style='color:green'>Escalation Status: Escalated to Region <i class="fa fa-check-circle" aria-hidden="true"></i></h4></center>
                                          {% else %}
                                          <center><h4 style='color:red'>Escalation Status: Pending <i class="fa fa-info-circle" aria-hidden="true"></i></h4></center>
                                          {% endif %}


                                          <p> <strong>Comment </strong>: {{mycomment.comment}} </p>                                
                                          <p> <strong> Date Submitted</strong>: {{mycomment.timestamp}}</p>
                                          <p> <strong>Date Escalated to District</strong>: {{mycomment.hospital_escalation_date}}</p>
                                          <p> <strong>Submitter </strong>: {{mycomment.author.get_full_name}}</p>
                                          <p> <strong>In Charge (District) </strong>: {{mycomment.district_escalant}}</p>
                                          {% if mycomment.is_resolved %}
                                          <p> <strong>Status</strong>: Action Taken / Resolved</p>
                                          {% elif mycomment.is_regional_escalated %}
                                          <p> <strong>Status</strong>: Escalated to Region</p>
                                          <p> <strong>Escalated to</strong>: {{mycomment.regional_escalant}}</p>
                                          <p><strong> Escalation Comment</strong>: {{mycomment.district_escalation_comment|safe}} </p>
                                          <p> <strong>Date Escalated to Region</strong> : {{mycomment.district_escalated_date }}</p>
                                          {% else %}
                                          <p><strong> Status</strong>: Pending </p>
                                          {% endif %}

                                          {% if not mycomment.is_resolved and not mycomment.is_regional_escalated %}

                                          <ul class="list-inline pull-right">

                                            <li><a href='#escalateRegionalModal' data-toggle="modal" class="btn btn-primary"><i class="fa fa-user" aria-hidden="true"></i> Escalate to Regional</a></li>

                                            <li><a href='#resolveModal' data-toggle="modal" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Resolve</a></li>

                                          </ul>
                                          {% endif %}
                                        </div>
                                        {% endif %}



                                        {% if mycomment.is_regional_escalated %}



                                  {% if mycomment.is_resolved or is_national_escalated  %}
 <div style='padding-left:50px; padding-right:20px'  class="tab-pane" role="tabpanel" id="step5">
 {% elif mycomment.is_regional_escalated  %}
                                  <div style='padding-left:50px; padding-right:20px'  class="tab-pane active" role="tabpanel" id="step5">                                  
                                  {% endif %}

                                        
                                          {% if mycomment.is_resolved %}
                                          <center><h4 style='color:green'>Escalation Status: Resolved <i class="fa fa-check-circle" aria-hidden="true"></i></h4></center>

                                          {% elif mycomment.is_national_escalated  %}
                                          <center><h4 style='color:green'>Escalation Status: Escalated to National <i class="fa fa-check-circle" aria-hidden="true"></i></h4></center>
                                          {% else %}
                                          <center><h4 style='color:red'>Escalation Status: Pending <i class="fa fa-info-circle" aria-hidden="true"></i></h4></center>

                                          {% endif %}
                                          <p> <strong>Comment</strong> : {{mycomment.comment}} </p>

                                          <p> <strong>Date Submitted</strong>: {{mycomment.timestamp}}</p>
                                          <p> <strong>Date Escalated to Region</strong>: {{mycomment.district_escalation_date}}</p>
                                          <p> <strong>Submitter </strong>: {{mycomment.author.get_full_name}}</p>
                                          <p> <strong>In Charge (Region) </strong>: {{mycomment.regional_escalant}}</p>
                                          {% if mycomment.is_resolved %}
                                          <p><strong> Status</strong>: Action Taken / Resolved</p>
                                          {% elif mycomment.is_national_escalated %}
                                          <p> <strong>Status</strong>: Escalated to National</p>
                                          <p><strong> Escalated to</strong>: {{mycomment.national_escalant}}</p>
                                          <p><strong> Escalation Comment</strong>: {{mycomment.regional_escalation_comment|safe}} </p>
                                          <p><strong> Date Escalated to National</strong> : {{mycomment.regional_escalated_date }}</p>
                                          {% else %}
                                          <p> <strong>Status: Pending </p>
                                          {% endif %}

                                          {% if not mycomment.is_resolved and not mycomment.is_national_escalated %}

                                          <ul class="list-inline pull-right">
                                            <li><a href='#escalateNationalModal' data-toggle="modal" class="btn btn-primary"><i class="fa fa-user" aria-hidden="true"></i> Escalate to National</a></li>
                                            <li><a href='#resolveModal' data-toggle="modal" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Resolve</a></li>
                                          </ul>
                                          {% endif %}
                                        </div>
                                        {% endif %}


                                        {% if mycomment.is_national_escalated %}


 {% if mycomment.is_resolved %}
                                      <div style='padding-left:50px; padding-right:20px'  class="tab-pane" role="tabpanel" id="step6">

                                      {% else %}
                                        <div style='padding-left:50px; padding-right:20px'  class="tab-pane active" role="tabpanel" id="step6">

                                        {% endif%}
                                      

                                          {% if mycomment.is_resolved %}
                                          <center><h4 style='color:green'>Escalation Status: Resolved <i class="fa fa-check-circle" aria-hidden="true"></i></h4></center>

                                          {% else %}
                                          <center><h4 style='color:red'>Escalation Status: Pending <i class="fa fa-info-circle" aria-hidden="true"></i></h4></center>

                                          {% endif %}
                                          <p><strong> Comment</strong>: {{mycomment.comment}} </p>

                                          <p><strong> Date Submitted</strong>: {{mycomment.timestamp}}</p>
                                          <p><strong> Date Escalated to National</strong>: {{mycomment.regional_escalation_date}}</p>
                                          <p> <strong>Submitter</strong>: {{mycomment.author.get_full_name}}</p>
                                          <p><strong> In Charge (National)</strong> : {{mycomment.national_escalant}}</p>
                                          {% if mycomment.is_resolved %}
                                          <p><strong> Status</strong>: Action Taken / Resolved</p>
                                          {% else %}
                                          <p><strong> Status</strong>: Pending </p>
                                          {% endif %}

                                          {% if not mycomment.is_resolved %}

                                          <ul class="list-inline pull-right">                                              
                                            <li><a href='#resolveModal' data-toggle="modal" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Resolve</a></li>
                                          </ul>

                                          {% endif %}
                                        </div>
                                        {% endif %}

                                        {% if mycomment.is_resolved %}
                                        <div style='padding-left:50px; padding-right:20px'  class="tab-pane active" role="tabpanel" id="step3">
                                          {% else %}
                                          <div style='padding-left:50px; padding-right:20px'  class="tab-pane" role="tabpanel" id="step3">
                                            {% endif %}

                                            <center><h4 style='color:green'>Status: Resolved <i class="fa fa-check-circle" aria-hidden="true"></i> </h4> </center>
                                            <p><strong> Comment</strong> : {{mycomment.comment}} </p>
                                            <p><strong> Issue </strong>: {{mycomment.issue}} </p>
                                            <p><strong> Date Submitted</strong>: {{mycomment.timestamp}}</p>
                                            <p><strong> Submitter </strong>: {{mycomment.author.get_full_name}}</p>
                                            <p><strong> Status</strong>: Resolved </p>
                                            <p><strong> Resolution Comment</strong> : {{mycomment.resolution_comment|safe}}</p>
                                          </div>
                                          <div class="clearfix"></div>
                                        </div>
                                      </form>
                                    </div>
                                  </section>
                                </div>
                              </div>





                            </div>
                          </div>


                        </div>
                      </div>

                    </div>
                  </div>

                </div> <!-- .container-fluid -->
              </div> <!-- #page-content -->
            </div>
            <footer>
             <div class="clearfix">
              <ul class="list-unstyled list-inline pull-left">
               <li><h6 style="margin: 0;">&copy; 2017 Kakum</h6></li>
             </ul>
             <button class="pull-right btn btn-link btn-xs hidden-print" id="back-to-top"><i class="ti ti-arrow-up"></i></button>
           </div>
         </footer>
       </div>
     </div>
   </div>


   <!--Verification Modal -->
   <div class="modal fade" id="verificationModal" tabindex="-1" role="dialog" aria-labelledby="verificationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title">Verify Comment</h2>
        </div>
        <div class="modal-body">                              
          <div class="tab-pane active" id="vertical-form">


           <form role="form" method='post' action='/backend/verify_comment/{{mycomment.id}}/'>

            {% csrf_token %}
            <div class="form-group">
             <label for="latitude" class="control-label">Verification Truth</label>
             <div class="onoffswitch">
              {{verify_form.verification_truth}}
              <label class="onoffswitch-label" for="id_verification_truth">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="latitude" class="control-label">Verification Comment</label>
            {{verify_form.verification_comment}}
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value='Submit' />
      </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
<!-- Verification modal end-->


<!--Resolve Modal -->
<div class="modal fade" id="resolveModal" tabindex="-1" role="dialog" aria-labelledby="resolveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title">Resolution</h2>
      </div>
      <div class="modal-body">                              
        <div class="tab-pane active" id="vertical-form">


         <form role="form" method='post' action='/backend/resolve_comment/{{mycomment.id}}/'>
          {% csrf_token %}

          <div class="form-group">
            <label for="latitude" class="control-label">Resolution Comment</label>
            {{resolve_form.resolution_comment}}
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value='Submit' />
      </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
<!-- resolution modal end-->


<!-- escalate District Modal -->
<div class="modal fade" id="escalateDistrictModal" tabindex="-1" role="dialog" aria-labelledby="escalateDistrictModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title">Escalate to District</h2>
      </div>
      <div class="modal-body">                              
        <div class="tab-pane active" id="vertical-form">


         <form role="form" method='post' action='/backend/escalate_to_district/{{mycomment.id}}/'>

          {% csrf_token %}


          <div class="form-group">
            <label for="latitude" class="control-label">Escalation Comment</label>
            {{district_escalate_form.hospital_escalation_comment}}
          </div>


        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary" value='Escalate' />
      </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
<!-- escalate District modal end-->


<!-- escalate Regional Modal -->
<div class="modal fade" id="escalateRegionalModal" tabindex="-1" role="dialog" aria-labelledby="escalateDistrictModalLabel" aria-hidden="true">
 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h2 class="modal-title">Escalate to Regional</h2>
    </div>
    <div class="modal-body">                              
      <div class="tab-pane active" id="vertical-form">


       <form role="form" method='post' action='/backend/escalate_to_regional/{{mycomment.id}}/'>

        {% csrf_token %}


        <div class="form-group">
          <label for="latitude" class="control-label">Escalation Comment</label>
          {{regional_escalate_form.district_escalation_comment}}
        </div>


      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <input type="submit" class="btn btn-primary" value='Escalate' />
    </div>
  </form>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
<!-- escalate Regional modal end-->



<!-- escalate National Modal -->
<div class="modal fade" id="escalateNationalModal" tabindex="-1" role="dialog" aria-labelledby="escalateNationalModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title">Escalate to National</h2>
      </div>
      <div class="modal-body">                              
        <div class="tab-pane active" id="vertical-form">


         <form role="form" method='post' action='/backend/escalate_to_national/{{mycomment.id}}/'>

          {% csrf_token %}


          <div class="form-group">
            <label for="latitude" class="control-label">Escalation Comment</label>
            {{district_escalate_form.regional_escalation_comment}}
          </div>


        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary" value='Escalate' />
      </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
<!-- escalate National modal end-->

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script> -->

  <script type="text/javascript" src="{{STATIC_URL}}assets/js/jquery-1.10.2.min.js"></script> 							<!-- Load jQuery -->
  <script type="text/javascript" src="{{STATIC_URL}}assets/js/jqueryui-1.10.3.min.js"></script> 							<!-- Load jQueryUI -->
  <script type="text/javascript" src="{{STATIC_URL}}assets/js/bootstrap.min.js"></script> 								<!-- Load Bootstrap -->
  <script type="text/javascript" src="{{STATIC_URL}}assets/js/enquire.min.js"></script> 									<!-- Load Enquire -->

  <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/velocityjs/velocity.min.js"></script>					<!-- Load Velocity for Animated Content -->
  <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/velocityjs/velocity.ui.min.js"></script>

  <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/wijets/wijets.js"></script>     						<!-- Wijet -->

  <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/codeprettifier/prettify.js"></script> 				<!-- Code Prettifier  -->
  <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/bootstrap-switch/bootstrap-switch.js"></script> 		<!-- Swith/Toggle Button -->

  <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->

  <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/iCheck/icheck.min.js"></script>     					<!-- iCheck -->

  <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller -->
  <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-mousewheel/jquery.mousewheel.min.js"></script> <!-- Mousewheel support needed for Mapael -->

  <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/sparklines/jquery.sparklines.min.js"></script> 			 <!-- Sparkline -->

  <script type="text/javascript" src="{{STATIC_URL}}assets/js/application.js"></script>			<!-- EasyPieChart -->
  <!-- <script type="text/javascript" src="{{STATIC_URL}}assets/demo/demo-index.js"></script> 									<!-- Initialize scripts for this page--> -->
  
  <!-- End loading page level scripts-->
  <script>
    $(document).ready(function () {
    //Initialize tooltips
    $('.nav-tabs > li a[title]').tooltip();
    
    //Wizard
    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

      var $target = $(e.target);

      if ($target.parent().hasClass('disabled')) {
        return false;
      }
    });

    $(".next-step").click(function (e) {

      var $active = $('.wizard .nav-tabs li.active');
      $active.next().removeClass('disabled');
      nextTab($active);

    });
    $(".prev-step").click(function (e) {

      var $active = $('.wizard .nav-tabs li.active');
      prevTab($active);

    });
  });

    function nextTab(elem) {
      $(elem).next().find('a[data-toggle="tab"]').click();
    }
    function prevTab(elem) {
      $(elem).prev().find('a[data-toggle="tab"]').click();
    }
  </script>
</body>
</html>