{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}

    {% for field in form %}
        {% if 'MultipleHiddenInput' in field.field.widget|stringformat:'s' %}
            {{ field }}
        {% else %}
            <div>{{ field.label_tag }}</div>
            <div>{{ field.errors }}</div>
            <div>{{ field }}</div>
        {% endif %}
    {% endfor %}

    <p>Message will be sent to the following numbers</p>
    <ul>{{ items | unordered_list }}</ul>
    <input type="hidden" name="action" value="send_message" />
    <input type="hidden" name="_selected_action" value="2" />
    <input type="submit" name="send_message" value="Send message" />
</form>
{% endblock %}
