<!DOCTYPE html> <html lang="en" class="full-page-image">
<head>
    <meta charset="utf-8">
    <title>Error!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="author" content="Kakum">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600' rel='stylesheet' type='text/css'>
    <link type="text/css" href="http://afrstatic.s3.amazonaws.com/assets/css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
        <link type="text/css" href="{{STATIC_URL}}css/ie8.css" rel="stylesheet">
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The following CSS are included as plugins and can be removed if unused-->
    

    </head>

    <body class="error">
        
        
    <div class="error-wrapper">
    	<div class="container">
    	    <h1 class="mb-lg">Oops!</h1>
    	    <p>Something went terribly wrong.</p>
    	    <p>We have unleashed our code monkeys to fix it. Please try again later.</p>
    	</div>
    </div>


    
    <!-- Load site level scripts -->

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script> -->

<script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/assets/js/jquery-1.10.2.min.js"></script> 							<!-- Load jQuery -->
<script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/assets/js/jqueryui-1.10.3.min.js"></script> 							<!-- Load jQueryUI -->
<script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/assets/js/bootstrap.min.js"></script> 								<!-- Load Bootstrap -->
<script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/assets/js/enquire.min.js"></script> 									<!-- Load Enquire -->

<script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/assets/plugins/velocityjs/velocity.min.js"></script>					<!-- Load Velocity for Animated Content -->
<script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/assets/plugins/velocityjs/velocity.ui.min.js"></script>

<script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/assets/plugins/wijets/wijets.js"></script>     						<!-- Wijet -->

<script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/assets/plugins/codeprettifier/prettify.js"></script> 				<!-- Code Prettifier  -->
<script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/assets/plugins/bootstrap-switch/bootstrap-switch.js"></script> 		<!-- Swith/Toggle Button -->

<script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->

<script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/assets/plugins/iCheck/icheck.min.js"></script>     					<!-- iCheck -->

<script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller -->
<script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/assets/plugins/jquery-mousewheel/jquery.mousewheel.min.js"></script> <!-- Mousewheel support needed for Mapael -->

<script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/assets/plugins/sparklines/jquery.sparklines.min.js"></script> 			 <!-- Sparkline -->

<script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/assets/js/application.js"></script>


<!-- End loading site level scripts -->
    <!-- Load page level scripts-->
    

    <!-- End loading page level scripts-->

    </body>
</html>