<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Add Links| Kakum</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="description" content="Kakum">
	<meta name="author" content="Kakum">

	<link type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600' rel='stylesheet'>

	<link type="text/css" href="{{STATIC_URL}}assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">        <!-- Font Awesome -->
	<link type="text/css" href="{{STATIC_URL}}assets/fonts/themify-icons/themify-icons.css" rel="stylesheet">              <!-- Themify Icons -->
	<link type="text/css" href="{{STATIC_URL}}assets/fonts/weather-icons/css/weather-icons.min.css" rel="stylesheet">      <!-- Weather Icons -->

	<link rel="stylesheet" href="{{STATIC_URL}}assets/css/styles-alternative.css" id="theme">             <!-- Default CSS: Altenate Style -->
	<link rel="prefetch alternate stylesheet" href="{{STATIC_URL}}assets/css/styles.css">                 <!-- Prefetched Secondary Style -->

	<link type="text/css" href="{{STATIC_URL}}assets/plugins/codeprettifier/prettify.css" rel="stylesheet">                <!-- Code Prettifier -->
	<link type="text/css" href="{{STATIC_URL}}assets/plugins/iCheck/skins/minimal/blue.css" rel="stylesheet">   
	<script type="text/javascript" src="{{STATIC_URL}}assets/js/jquery-1.10.2.min.js"></script> 							<!-- Load jQuery -->
	<script type="text/javascript" src="{{STATIC_URL}}assets/js/jqueryui-1.10.3.min.js"></script> 							<!-- Load jQueryUI -->
	<script type="text/javascript" src="{{STATIC_URL}}assets/js/bootstrap.min.js"></script> 
	<link href="http://afrstatic.s3.amazonaws.com/s3direct/css/bootstrap-progress.min.css" type="text/css" media="all" rel="stylesheet" />
  <link href="http://afrstatic.s3.amazonaws.com/s3direct/css/styles.css" type="text/css" media="all" rel="stylesheet" />
  <script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/s3direct/js/scripts.js"></script>



        <style>
        	#topnav.navbar-bluegray, #topnav.navbar-bluegray #toolbar-search.active {
        		background-color: #6c0c17;
        	}
        	.bluegray.static-sidebar-wrapper, .sidebar-bluegray.fixed-sidebar {
        		background-color: #780e1a;
        	} 
        	.sidebar-bluegray nav.widget-body > ul.acc-menu > li.active > a {
        		background-color: #6c0c17;
        		color: #ffffff;
        		border-color:  #b0bec5;
        	}
        	.sidebar-bluegray nav.widget-body > ul.acc-menu li a {
        		color: #fff;
        		background-color: #6c0c17;
        		border-color:  #b0bec5;
        	}
        	.sidebar-bluegray.static-sidebar-wrapper, .sidebar-bluegray.fixed-sidebar {
        		background-color: #6c0c17;
        	}
        	.sidebar-bluegray .sidebar .widget .widget-body .userinfo {
        		background-color: #6c0c17;
        		border-bottom: 1px solid #b0bec5;
        	}
        	#topnav.navbar-bluegray #toolbar-search .input-group-btn button, #topnav.navbar-bluegray #toolbar-search .form-control {
        		background: #C99EA3;
        		color: #eceff1;
        	}
        	.widget-tasks {
        		background: #852630;
        	}
        	.sidebar-bluegray nav.widget-body > ul.acc-menu ul, .sidebar-bluegray nav.widget-body > ul.acc-menu ul li a {
        		background-color: #852630;
        		color: #fff;
        	}
        	.sidebar-bluegray nav.widget-body > ul.acc-menu > li:hover > a {
        		background-color: #540912;
        		color: #eceff1;
        		border-color: #600B14;
        	}
        	.sidebar-bluegray nav.widget-body > ul.acc-menu ul li a:hover {
        		background-color: #600b14;
        		color: #eceff1;
        	}
        	.sidebar-bluegray nav.widget-body > ul.acc-menu > li > a > i {
        		color: #eee;
        	}
        </style>

      </head>

      <body class="animated-content">

        <div class="extrabar">
         <div class="container-fluid">
          <div class="row">
           <div class="col-md-2">
            <div class="info-tile info-tile-alt tile-warning">
             <div class="tile-icon"><i class="ti ti-eye"></i></div>
             <div class="tile-heading"><span>Page Views</span></div>
             <div class="tile-body"><span>1,600</span></div>
             <div class="tile-footer"><span class="text-danger">-7.6% <i class="ti ti-arrow-down"></i></span></div>
           </div>
         </div>
         <div class="col-md-2">
          <div class="info-tile info-tile-alt tile-success">
           <div class="tile-icon"><i class="ti ti-thumb-up"></i></div>
           <div class="tile-heading"><span>Likes</span></div>
           <div class="tile-body"><span>345</span></div>
           <div class="tile-footer"><span class="text-success">+15.4% <i class="ti ti-arrow-up"></i></span></div>
         </div>
       </div>
       <div class="col-md-2">
        <div class="info-tile info-tile-alt tile-danger">
         <div class="tile-icon"><i class="ti ti-check-box"></i></div>
         <div class="tile-heading"><span>Bugs Fixed</span></div>
         <div class="tile-body"><span>21</span></div>
         <div class="tile-footer"><span class="text-success">+10.4% <i class="ti ti-arrow-up"></i></span></div>
       </div>
     </div>
     <div class="col-md-2">
      <div class="info-tile info-tile-alt tile-info">
       <div class="tile-icon"><i class="ti ti-user"></i></div>
       <div class="tile-heading"><span>New Members</span></div>
       <div class="tile-body"><span>124</span></div>
       <div class="tile-footer"><span class="text-danger">-25.4% <i class="ti ti-arrow-down"></i></span></div>
     </div>
   </div>
   <div class="col-md-2">
    <div class="info-tile info-tile-alt tile-teal">
     <div class="tile-icon"><i class="ti ti-gift"></i></div>
     <div class="tile-heading"><span>Gifts</span></div>
     <div class="tile-body"><span>16</span></div>
     <div class="tile-footer"><span class="text-danger">-7.6% <i class="ti ti-arrow-down"></i></span></div>
   </div>
 </div>
 <div class="col-md-2">
  <div class="info-tile info-tile-alt tile-indigo">
   <div class="tile-icon"><i class="ti ti-menu-alt"></i></div>
   <div class="tile-heading"><span>Tasks</span></div>
   <div class="tile-body"><span>17</span></div>
   <div class="tile-footer"><span class="text-danger">-26.4% <i class="ti ti-arrow-down"></i></span></div>
 </div>
</div>
</div>
</div>
</div>
<div class="extrabar-underlay"></div>

<header id="topnav" class="navbar navbar-bluegray navbar-fixed-top">

 <div class="logo-area">
  <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
   <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
    <span class="icon-bg">
     <i class="ti ti-shift-left"></i>
   </span>
 </a>
</span>

<a class="navbar-brand" href="#"> <img style='float:left; margin-top:-14px' height='50' src='{{STATIC_URL}}logo_kakum.png' /> Kakum</a>

<div class="toolbar-icon-bg hidden-xs" id="toolbar-search">
 <div class="input-icon">
  <i class="ti ti-search search"></i>
  <input type="text" placeholder="Type to search..." class="form-control" tabindex="1">
  <i class="ti ti-close remove"></i>
</div>
</div>

</div><!-- logo-area -->


<ul class="nav navbar-nav toolbar pull-right">


  <li class="dropdown toolbar-icon-bg">
   <a href="#" id="navbar-links-toggle" data-toggle="collapse" data-target="header>.navbar-collapse">
    <span class="icon-bg">
     <i class="ti ti-more"></i>
   </span>
 </a>
</li>

<li class="toolbar-icon-bg" id="trigger-toolbar-search">
 <a href="#"><span class="icon-bg"><i class="ti ti-search"></i></span></a>
</li>




<li class="dropdown toolbar-icon-bg hidden-xs">
 <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-email"></i></span><span
  class="badge badge-deeporange">2</span></a>
  <div class="dropdown-menu notifications arrow">
   <div class="topnav-dropdown-header">
    <span>New Submissions</span>
  </div>
  <div class="scroll-pane">
    <ul class="media-list scroll-content">
     <li class="media notification-message">
      <a href="#">
       <div class="media-left">
        <img class="img-circle avatar" src="{{STATIC_URL}}assets/demo/avatar/avatar_06.png" alt="" />
      </div>
      <div class="media-body">
        <h4 class="notification-heading"><strong>Caleb Harrington</strong> <span class="text-gray">‒ Are you goin ...</span></h4>
        <span class="notification-time">13 mins ago</span>
      </div>
    </a>
  </li>
  <li class="media notification-message">
    <a href="#">
     <div class="media-left">
      <img class="img-circle avatar" src="{{STATIC_URL}}assets/demo/avatar/avatar_04.png" alt="" />
    </div>
    <div class="media-body">
      <h4 class="notification-heading"><strong>Boyd Wilson</strong> <span class="text-gray">‒ We will talk to ...</span></h4>
      <span class="notification-time">25 mins ago</span>
    </div>
  </a>
</li>
<li class="media notification-message">
  <a href="#">
   <div class="media-left">
    <img class="img-circle avatar" src="{{STATIC_URL}}assets/demo/avatar/avatar_07.png" alt="" />
  </div>
  <div class="media-body">
    <h4 class="notification-heading"><strong>Annie Fernandez</strong> <span class="text-gray">‒ These are not ...</span></h4>
    <span class="notification-time">7 hours ago</span>
  </div>
</a>
</li>
<li class="media notification-message">
  <a href="#">
   <div class="media-left">
    <img class="img-circle avatar" src="{{STATIC_URL}}assets/demo/avatar/avatar_02.png" alt="" />
  </div>
  <div class="media-body">
    <h4 class="notification-heading"><strong>Hope Jones</strong> <span class="text-gray">‒ We are very happy ...</span></h4>
    <span class="notification-time">2 days ago</span>
  </div>
</a>
</li>
<li class="media notification-message">
  <a href="#">
   <div class="media-left">
    <img class="img-circle avatar" src="{{STATIC_URL}}assets/demo/avatar/avatar_03.png" alt="" />
  </div>
  <div class="media-body">
    <h4 class="notification-heading"><strong>Stacey Nelson</strong> <span class="text-gray">‒ Totally pointless ...</span></h4>
    <span class="notification-time">3 days ago</span>
  </div>
</a>
</li>
<li class="media notification-message">
  <a href="#">
   <div class="media-left">
    <img class="img-circle avatar" src="{{STATIC_URL}}assets/demo/avatar/avatar_05.png" alt="" />
  </div>
  <div class="media-body">
    <h4 class="notification-heading"><strong>Felix Adams</strong> <span class="text-gray">‒ You gotta be shi ...</span></h4>
    <span class="notification-time">5 days ago</span>
  </div>
</a>
</li>
<li class="media notification-message">
  <a href="#">
   <div class="media-left">
    <img class="img-circle avatar" src="{{STATIC_URL}}assets/demo/avatar/avatar_09.png" alt="" />
  </div>
  <div class="media-body">
    <h4 class="notification-heading"><strong>Antwi Hubbard</strong> <span class="text-gray">‒ That is right m ...</span></h4>
    <span class="notification-time">7 days ago</span>
  </div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
  <a href="/projects/all_issues/">See all issues</a>
</div>
</div>
</li>

<li class="dropdown toolbar-icon-bg">
  <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-bell"></i></span><span class="badge badge-deeporange">2</span></a>
  <div class="dropdown-menu notifications arrow">
   <div class="topnav-dropdown-header">
    <span>Notifications</span>
  </div>
  <div class="scroll-pane">
    <ul class="media-list scroll-content">
     <li class="media notification-success">
      <a href="#">
       <div class="media-left">
        <span class="notification-icon"><i class="ti ti-pencil"></i></span>
      </div>
      <div class="media-body">
        <h4 class="notification-heading">Profile page has been updated</h4>
        <span class="notification-time">12 mins ago</span>
      </div>
    </a>
  </li>
  <li class="media notification-info">
    <a href="#">
     <div class="media-left">
      <span class="notification-icon"><i class="ti ti-check"></i></span>
    </div>
    <div class="media-body">
      <h4 class="notification-heading">Updates pushed successfully</h4>
      <span class="notification-time">35 mins ago</span>
    </div>
  </a>
</li>
<li class="media notification-teal">
  <a href="#">
   <div class="media-left">
    <span class="notification-icon"><i class="ti ti-user"></i></span>
  </div>
  <div class="media-body">
    <h4 class="notification-heading">New users requested to join</h4>
    <span class="notification-time">11 hours ago</span>
  </div>
</a>
</li>
<li class="media notification-indigo">
  <a href="#">
   <div class="media-left">
    <span class="notification-icon"><i class="ti ti-shopping-cart"></i></span>
  </div>
  <div class="media-body">
    <h4 class="notification-heading">More orders are pending</h4>
    <span class="notification-time">2 days ago</span>
  </div>
</a>
</li>
<li class="media notification-danger">
  <a href="#">
   <div class="media-left">
    <span class="notification-icon"><i class="ti ti-arrow-up"></i></span>
  </div>
  <div class="media-body">
    <h4 class="notification-heading">Pending membership approval</h4>
    <span class="notification-time">4 days ago</span>
  </div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
  <a href="#">See all notifications</a>
</div>
</div>
</li>

<li class="dropdown toolbar-icon-bg">
  <a href="#" class="dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-user"></i></span></i></a>
  <ul class="dropdown-menu userinfo arrow">
   <li><a href="/users/user_detail/{{user.id}}"><i class="ti ti-user"></i><span>Profile</span><span class="badge badge-info pull-right">73%</span></a></li>
   <li><a href="#"><i class="ti ti-settings"></i><span>Settings</span></a></li>
   <li><a href="#"><i class="ti ti-help-alt"></i><span>Change Password</span></a></li>
   <li class="divider"></li>


   <li><a href="/users/logout/"><i class="ti ti-shift-right"></i><span>Sign Out</span></a></li>
 </ul>
</li>

</ul>
</header>

<div id="wrapper">
  <div id="layout-static">
   <div class="static-sidebar-wrapper sidebar-bluegray">
    <div class="static-sidebar">
     <div class="sidebar">
      <div class="widget">
       <div class="widget-body">
        <div class="userinfo">
         <div class="avatar">
          <img style='width:64px; height:64px' src="{{user.get_avatar}}" class="img-responsive img-circle" /> 
        </div>
        <div class="info">
          <span class="username">{{user.first_name}} {{user.last_name}}</span>
          <span class="useremail">{{user.email}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="widget stay-on-collapse" id="widget-sidebar">
   <nav class="widget-body">
    <ul class="acc-menu">

     <li><a href="/users/dashboard/"><i class="ti ti-home"></i><span>Dashboard</span></a></li>

     <li><a href="javascript:;"><i class="ti ti-shield"></i><span>Project</span></a>
      <ul class="acc-menu">
      {% if user.user_permission == '1' %}
       <li class='active'><a href="/projects/add_project/">Add Project</a></li>
       <li><a href="/projects/all_projects/">All Projects</a></li>
       <li><a href="/projects/ongoing/">Ongoing Projects</a></li>
       <li><a href="/projects/past/">Past Project</a></li>	
     </ul>
   </li>
   {% endif %}
   <li><a href="javascript:;"><i class="ti ti-view-list-alt"></i><span>Issues</span><span class="badge badge-info">2</span></a>
    <ul class="acc-menu">
     <li><a href="/projects/add_issue/">Add Issue</a></li>
     <li><a href="/projects/all_issues/">All Issues</a></li>					
   </ul>
 </li>

 <li><a href="javascript:;"><i class="ti ti-light-bulb"></i><span>Knowledge Center</span></a>
  <ul class="acc-menu">
      
   <li><a href="/projects/add_article/">Add Article</a></li>
   <li><a href="/projects/add_document/">Add Document</a></li>	
   <li><a href="/projects/all_articles/">All Articles</a></li>
<li><a href="/projects/all_documents/">All Documents</a></li>

 </ul>
</li>


<li><a href="javascript:;"><i class="ti ti-camera"></i><span>Gallery</span></a>
  <ul class="acc-menu">
      
   <li><a href="/projects/add_video/">Add Video</a></li>
   <li><a href="/projects/add_album/">Add Album</a></li>  
   <li><a href="/projects/all_videos/">All Videos</a></li>
   <li><a href="/projects/all_albums/">All Albums</a></li>

 </ul>
</li>

<li><a href="javascript:;"><i class="ti ti-comment"></i><span>Issue Comments</span></a>
  <ul class="acc-menu">
   {% if user.user_permission == '1' %}
<li><a href="/projects/choose_project_add_comment/">Add Issue Comment</a></li>
 <li><a href="/projects/choose_project/">All Issues Comments</a></li>
 {% else %}
 <li><a href="/projects/add_issue_comment/{{user.project_id}}/">Add Issue Comment</a></li>
<li><a href="/projects/project_comments/{{user.project_id}}/">All Issues Comments</a></li>
{% endif %}					
 </ul>
</li>
	<li><a href="javascript:;"><i class="ti ti-eye"></i><span>Visualisations</span></a>
  <ul class="acc-menu">
  {% if user.user_permission == '1' %}
   <li><a href="/projects/projects_visualisations/">Projects Visualisations</a></li>
   {% endif %}
   <li><a href="/projects/issues_visualisations/">Issues Visualisations</a></li>					
 </ul>
</li>

{% if user.user_permission == '1' %}
<li><a href="javascript:;"><i class="ti ti-pencil"></i><span>Comment Rating</span></a>
			<ul class="acc-menu">
				<li><a href="/projects/add_rating/">Add Rating</a></li>								
			</ul>
		</li>

<li><a href="javascript:;"><i class="ti ti-pencil"></i><span>Relevant Links</span></a>
      <ul class="acc-menu">
        <li><a href="/projects/add_relevant_links/">Add Link</a></li>               
      </ul>
    </li>

<li><a href="javascript:;"><i class="ti ti-pencil"></i><span>Other Parameters</span></a>
      <ul class="acc-menu">
        <li><a href="/projects/add_regions/">Add Region</a></li>     
        <li><a href="/projects/add_districts/">Add Districts</a></li>    
        <li><a href="/projects/add_hcp/">Add Health Care Provider(HCP)</a></li>               
      </ul>
    </li>  

<li><a href="javascript:;"><i class="ti ti-pencil"></i><span>User Mgt</span></a>
  <ul class="acc-menu">
   <li><a href="/users/users_list/">Website Users</a></li>
	<li><a href="/users/all_admin/">Backend Users</a></li>
	<li><a href="/users/create_admin/">Add Kakum Administrators</a></li>
<li><a href="/users/create_p4h_users/">Add P4H StakeHolders</a></li>	

 </ul>
</li>
{% endif %}

</ul>
</nav>
</div>


</div>
</div>
</div>
<div class="static-content-wrapper">
  <div class="static-content">
   <div class="page-content">
    <ol class="breadcrumb">

     <li><a href="/">Home</a></li>

     <li class="active"><a href="#">Add Relevant Links</a></li>

   </ol>
   <div class="page-heading">
     <h1>Add Relevant Links</h1>

   </div>
   <div class="container-fluid">

     <div data-widget-group="group1">
      <div class="row">
       <div class="col-sm-8">

        <div class="panel panel-midnightblue" data-widget='{"draggable": "false"}'>
      
        <div class="panel-body">
          <div class="tab-content">

 
                          <div class="panel panel-transparent">
                            <div class="panel-heading">
                                <h2>Relevant links</h2>                                
                            </div>


                            <div class="panel-body">

                                <table class="table m-n">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Link</th>                                            
                                            <th>Delete</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for item in mylinks %}
                                        <tr class='myrow{{item.id}}'>
                                            <td>{{item.title}}</td>                                
                                            <td><a href='{{item.link}}'>{{item.link}}</a></td>                                                                  

                                            <td> <a onclick='return deleteLink({{item.id}})' href='#'><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>     
                                

                            </div>          
                        </div>
                        
                        <div>             
                            <a data-toggle="modal" style='font-size:13px; color:white; background:#852630 ' href='#myModal' class="btn btn-lg" >Add Link</a>
                        </div>



                


            <script>

    function deleteLink(e) {
        var url = '/projects/delete_link/'
        final_url = url + e + '/'
        var torem = '.myrow' + e
        return $.ajax({
            type: "POST",
            url: final_url,
            data: {
                'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
            },
            success: function(e) {
                console.log('test')
                $(torem).remove();            
            },
            dataType: "html"
        }), !1
    }

</script>

         </div>
       </div>



     </div>


   </div>



  <div class="panel-footer" style='clear:both'>

  </div>


</div>




</div>

</div> <!-- .container-fluid -->
</div> <!-- #page-content -->
</div>
<footer>
  <div class="clearfix">
   <ul class="list-unstyled list-inline pull-left">
    <li><h6 style="margin: 0;">&copy; 2017 Kakum</h6></li>
  </ul>
  <button class="pull-right btn btn-link btn-xs hidden-print" id="back-to-top"><i class="ti ti-arrow-up"></i></button>
</div>
</footer>
</div>
</div>
</div>

        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h2 class="modal-title">Add Relevant Links</h2>
                                    </div>
                                    <div class="modal-body">                              
                                        <div class="tab-pane active" id="vertical-form">


                                         <form role="form" method='post' action='/projects/add_relevant_links/'>

                                          {% csrf_token %}
                                          <div class="form-group">
                                           <label for="title" class="control-label">Name</label>
                                           <input type='text' class='form-control' name='title' id='title' required />
                                       </div>

                                       <div class="form-group">
                                           <label for="project" class="control-label">Link</label>
                                           <input type='text' value='http://' class='form-control' name='link' id='link' required/>
                                       </div>

                                       

                                   </div>


                               </div>
                               <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value='Submit' />
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


<!-- Load site level scripts -->
<!-- Load Bootstrap -->
<script type="text/javascript" src="{{STATIC_URL}}assets/js/enquire.min.js"></script>                   <!-- Load Enquire -->

<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/velocityjs/velocity.min.js"></script>          <!-- Load Velocity for Animated Content -->
<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/velocityjs/velocity.ui.min.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/wijets/wijets.js"></script>                <!-- Wijet -->

<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/codeprettifier/prettify.js"></script>        <!-- Code Prettifier  -->
<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/bootstrap-switch/bootstrap-switch.js"></script>    <!-- Swith/Toggle Button -->

<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->

<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/iCheck/icheck.min.js"></script>              <!-- iCheck -->

<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller -->
<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery-mousewheel/jquery.mousewheel.min.js"></script> <!-- Mousewheel support needed for Mapael -->

<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/sparklines/jquery.sparklines.min.js"></script>        <!-- Sparkline -->

<script type="text/javascript" src="{{STATIC_URL}}assets/js/application.js"></script>
    
<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/charts-chartistjs/chartist.min.js"></script>               <!-- Chartist -->
<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/charts-chartistjs/chartist-plugin-tooltip.js"></script>    <!-- Chartist -->

<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/charts-chartjs/Chart.js"></script>             <!-- Chart.js -->

<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/easypiechart/jquery.easypiechart.js"></script>       <!-- EasyPieChart -->
<script type="text/javascript" src="{{STATIC_URL}}assets/demo/demo-index.js"></script>                  <!-- Initialize scripts for this page-->
<script type="text/javascript" src="{{STATIC_URL}}assets/demo/demo-chartist.js"></script>

</body>
</html>