<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <title>Social Accountability - Ashaiman</title>
   <!-- styles -->
   <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link href="{{STATIC_URL}}frontend/assets/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
   <link href="{{STATIC_URL}}frontend/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="https://use.fontawesome.com/1ae586c7a5.js"></script>
   <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/css/settings.css" media="screen">
   <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
   
   <!-- CUSTOM CSS -->
   <link href="{{STATIC_URL}}frontend/assets/css/style.css" rel="stylesheet">
   <link href="{{STATIC_URL}}frontend/assets/css/main.css" rel="stylesheet">
   <link href="{{STATIC_URL}}frontend/assets/css/documents.css" rel="stylesheet">
   <link href="{{STATIC_URL}}frontend/assets/css/comments.css" rel="stylesheet">
   <link href="{{STATIC_URL}}frontend/assets/css/login.css" rel="stylesheet">
   <!-- after glow video -->
   <script type="text/javascript" src="{{STATIC_URL}}frontend/assets/js/afterglow.min.js"></script>
<style>
.mycontent li {
  list-style-type:circle ;
  font-size:14px;
  margin-left:15px;
  line-height: 23px;

}
h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom:0;
}
.footer .footerLink ul li {
    color: #acacac;
    font-size: 12px;
    line-height: 23px;
}
</style>
</head>
<body class="background-dark template-product">
  <div class="header clearfix">
                   <div class="topBar">
                       <div class="container">
                           <div class="row">
                               <div class="col-md-6 hidden-sm hidden-xs">
                                   <ul class="list-inline">
                                       <li><a href="#"><i class="fa fa-envelope-o"></i> info@penplusbytes.org</a></li>
                                   </ul>
                               </div>
                               <div class="col-md-6 col-xs-12">
                                   <ul style='padding:5px' class="list-inline pull-right">
            {% if user.is_authenticated %}
            <li><img class='img-circle' height='50' src='{{user.get_avatar}}' /></li>
            <li style='margin-top:7px'><a style='font-size:16px' href="#">{{user.first_name}} {{user.last_name}}</a></li>
            <li style='margin-top:7px'><a href="/users/logout/">Logout</a>
            {% else %}
            <li><a  href="/user_login/">Login</a></li>
            <li><a  href="/user_register/">Register</a></li>
             <li style='margin-top:0px'><a target='_blank' href="http://penplusbytes.org/site/">Visit Penplusbytes</a>
            </li>
            {% endif %}
           
          </ul>
                               </div>
                           </div>
                       </div>
                   </div>
                   <nav class="navbar navbar-main navbar-default" role="navigation">
                       <div class="container">
                           <div class="navbar-header">
                               <button type="button" class="navbar-toggle" data-toggle="collapse"
                                       data-target=".navbar-ex1-collapse">
                                   <span class="sr-only">Toggle navigation</span>
                                   <span class="icon-bar"></span>
                                   <span class="icon-bar"></span>
                                   <span class="icon-bar"></span>
                               </button>
                               <a style='width:245px' href="/" class="navbar-brand"><img style="float: left; margin-top: -9px;" src="http://afrstatic.s3.amazonaws.com/logo_kakum.png" height="50"><h4 id="logo-text">Tech Driven Social<br/> Accountability</h4></a>
                           </div>

                           <div class="collapse navbar-collapse navbar-ex1-collapse">
                               <ul class="nav navbar-nav navbar-right">
                                   <li><a  href="/issues/" >Issues</a></li>
                                   <li class="dropdown">
                                       <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                          aria-haspopup="true" aria-expanded="false">Knowledge Center</a>
                                       <ul class="dropdown-menu dropdown-menu-right">
                                           <li><a  href="/knowledge_center/articles/" class="articles-font"
                                                     >Articles</a></li>
                                           <li><a  href="/knowledge_center/documents/" class="articles-font"
                                                     >Documents</a></li>
                                           <li><a  href="/knowledge_center/audios/" class="articles-font"
                                                     >Audios</a></li>
                                           <li><a  href="/knowledge_center/videos/" class="articles-font"
                                                     >Videos</a></li>
                                       </ul>
                                   </li>
                                   <li><a  href="/project_areas/" >Project Areas</a></li>
<li><a  href="/about/" >Project Brief</a></li>
                               </ul>
                           </div>
                       </div>
                   </nav>
</div>

<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>Project Areas</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href=''>HOME</a>
                    </li>
                    <li class="active">ASHAIMAN</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="mainContent clearfix aboutUsInfo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h3>Ashaiman Municipality</h3>
                </div>
            </div>
           

           
            <div  class="mycontent col-sm-12">
        
        <center><img style='width:50%' src='{{STATIC_URL}}ashaiman.jpg' /></center> <br> <br><br>
        <h4> Population size, structure and composition</h4>
        <ul> 
<li>The population of Ashaiman Municipality is 190,972</li>
<li>This represents 4.8 percent of the region’s total population.</li>
<li>Males constitute 49.1 %percent and females represent 50.9 %.</li>
<li>The total age dependency ratio for the municipality is 52.1, and the same for both males and females.</li>
<li>About a third (31.9%) of the population of the Municipality is youthful.</li>
        </ul>
                <br><br>
                <h4> Fertility, mortality and migration</h4>
                <ul> 
<li>Total fertility rate for the municipality is 2.6%</li>
<li>Crude Birth Rate (CRB) is 23.7 per 1000 population</li>
<li>Crude Death Rate for the municipality is 3.9 per 1000</li>
<li>The death rate for males is highest for age 70 and above than for females</li>
<li>Accident/violence/homicide/suicide accounted for 16.7% of all deaths in the Municipality</li>
<li>Majority of migrants (80%) living in the municipality were born elsewhere in another region</li>

                </ul><br><br>


<h4>Marital status </h4>
<ul>
<li>About 40.8% of the population 12 years and above are married</li>
<li>46% have never married</li>
<li>5.5% are consensual unions</li>
<li>3.1% are widowed </li>
<li>3.1% divorced</li>
<li>1.6 are separated</li>
</ul><br><br>

<h4> Household size, composition and structure</h4>
<ul>
<li>The municipality has a household population of 185,804 with a total of 49,936 household</li>
<li>Average household size in the municipality is 3.7 person per household</li>
<li>Children constitute the largest (38.4%) proportion of household structure</li>
The nuclear household system constitute 30.7% of the total number of households in the municipality</li>
</ul><br><br>



<h4>Literacy and education</h4>
<ul>
<li>87.8% of the population 11 years and above are literate</li>
<li>12.2% of the population are non-literate</li>
<li>51.5% of males are literate as against 48.5% females</li>
<li>11.1% of the population 3 years and above has never attended school</li>
<li>34% are currently attending school</li>
<li>54.9% have attended school in the past</li>
</ul><br><br>

<h4>Economic Activity Status</h4>
<ul>
<li>About 75.1 percent of the population aged 15 years and older are economically active while 24.9 percent are economically not active.</li>
<li>Of the economically active population, 91.6 percent are employed while 8.4 percent are unemployed. </li>
<li>For those who are economically not active, 51.2 percent are students, 25.9 percent perform household duties and 2.8 percent are disabled or too sick to work. </li>
</ul><br><br>

<h4>Occupation</h4>
<ul>
<li>1.8 percent are engaged as skilled agricultural, forestry and fishery workers, </li>
<li>36.5 percent as service and sales workers, </li>
<li>22.0 percent in craft and related trade, and </li>
<li>12.5 percent are engaged as managers, professionals, and technicians. </li>
</ul><br><br>




<h4>Employment Status and Sector</h4>
<ul>
<li>The private informal sector is the largest employer in the municipality, employing 73.1 percent of the population followed by the private informal with 20.5 percent and the public sector engaging 5.3 percent.</li>
</ul><br><br>





<h4>Information and Communication Technology</h4>
<ul>
<li>Of the population 12 years and above, 72.4 percent have mobile phones. </li>
<li>Men who own mobile phones constitute 77.7 percent as compared to 67.3 percent of females</li>
<li>A little over ten percent (12.8%) of the population 12 years and older uses internet facilities in the municipality.</li> 
<li>5,631 households representing 11.3 percent of the total households in the municipality have desktop/laptop computers.</li>
</ul><br><br>

<h4>Disability</h4>

<ul>
<li>About 2.3 percent of the municipality’s total population has one form of disability or the other.</li>
<li>The proportion of the male population with disability (2.4%) is slightly higher than that of females (2.2%). </li>
</ul><br><br>
<h4>Agriculture</h4>
<ul>
<li>3.8% households are into agriculture</li>
<li>Most households (74.4%) are involved in crop farming</li>
<li>Poultry is the dominant animal reared in the municipality</li>
</ul><br><br>
<h4>Housing</h4>
<ul>
<li>The housing stock of Ashaiman municipality is 17,021 representing 3.9% of total number of houses in the Greater Accra</li>
<li>Over three-quarters (78.3%) of all dwelling units in Ashaiman are compound houses</li>
<li>9.2% are separate houses and 3.0 are semi-detached houses</li>
<li>A third (32%) of the dwelling units are owned by members of the households</li>
<li>54.4% are owned by private individuals</li>
<li>9.1% owned by relative who is not a household member</li>
<li>0.6% are owned by public or government </li>
<li>1.4% dwelling units are owned through mortgage schemes</li>
</ul><br><br>
<h4>Utilities and Household Facilities</h4>
<ul>
<li>The main source of lighting in dwelling units in the municipality electricity from the national grid which constitute 88.5 percent.</li>
<li>The main source of fuel for cooking for most households in the municipality is crop residue (54.6%), with 35.4 percent using electricity. </li>
<li>A quarter of households (25.9%) cook in open space in compound, with 35.3 percent using the veranda to cook. </li>
<li>The main sources of water in the municipality for drinking is pipe borne water, constituting 91.9 percent with 6.4 percent using sachet water. </li>
<li>A little over sixty percent (63.5) of households in the municipality use the public toilet with 4.0 percent having no toilet facility and therefore resort to the bush/beach/field. </li>
<li>Nearly two-fifth (38.5%) of households in the municipality share separate bathrooms in the same house while 14.8 percent own bathrooms for their exclusive use.</li>
</ul><br><br>
<h4>Waste disposal</h4>
<ul>
<li>Most households (62.6 %) in the municipality have their solid waste collected</li>
<li>8.5 % of solid waste disposed of at the public dump in containers. </li>
<li>For liquid waste disposal, throwing waste into gutter (61.2%) and through drainage system into a gutter (16.8%) are the two most common methods used by households in the municipality</li>

</ul><br><br>

<p><em>Source: 2010 Population and Housing Census (2010 PHC)</em> </p>

<p>The Member of Parliament for this area is Ernest Henry Norgbey </p>






            </div>
        </div>
    </div>
</section>

<div class="footer clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="footerLink">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li><a href="http://penplusbytes.org/site/">Website: www.penplusbytes.org</a></li>
            <li>Email: projects@penplusbytes.org</li>
<li>Tel: +233500294411</li>
          </ul>
        </div>
      </div>
       <div class="col-sm-4 col-xs-12">
        <div class="footerLink">
          <h5>Relevant Links</h5>
          <ul class="list-unstyled">
          {% for item in relevant %}
            <li style='list-style-type: circle;'><a target='_blank' href="{{item.link}}">{{item.title}}</a></li>
          {% endfor %}
         
          </ul>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
       <div class="footerLink">
          <h5 style='text-transform: None'>Powered Penplusbytes with Support from OSIWA</h5>
          <ul class="list-unstyled">
            <li><a target='_blank' href='http://www.penplusbytes.org'><img style='width:65%; float:left; margin-right:15px' height='75' src="{{STATIC_URL}}yolog.jpg" /></a></li>
            <li><a target='_blank' href='http://www.osiwa.org'><img height='75' src="https://s3.amazonaws.com/wacam-static/partners/osiaI.jpg" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="copyRight clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-xs-12">
                <p>&copy; 2017 Copyright. <a target="_blank" href="http://www.iamabdus.com/">Social Accountability</a>.</p>
            </div>
            <div class="col-sm-5 col-xs-12">
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/groups/7775446390/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/penplusbytes"><i class=" fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
<script src="{{STATIC_URL}}frontend/assets/plugins/jquery-ui/jquery-ui.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/countdown/jquery.syotimer.js"></script>
<script src="{{STATIC_URL}}frontend/assets/js/custom.js"></script>
<script type="text/javascript">    (function () {        var options = {          whatsapp: "+233241995737",             company_logo_url: "//afrstatic.s3.amazonaws.com/logo_kakum.png",             greeting_message: "Hello, how may we help you? Just send us a message now to get assistance.",             call_to_action: "Chat Us",             position: "left",        };        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);    })();</script>
</body>
</html>