<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <title>Tech Driven Social Accountability</title>
   <!-- styles -->
   <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link href="{{STATIC_URL}}frontend/assets/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
   <link href="{{STATIC_URL}}frontend/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="https://use.fontawesome.com/1ae586c7a5.js"></script>
   <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/css/settings.css" media="screen">
   <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
   
   <!-- CUSTOM CSS -->
   <link href="{{STATIC_URL}}frontend/assets/css/style.css" rel="stylesheet">
   <link href="{{STATIC_URL}}frontend/assets/css/main.css" rel="stylesheet">
   <link href="{{STATIC_URL}}frontend/assets/css/documents.css" rel="stylesheet">
   <link href="{{STATIC_URL}}frontend/assets/css/comments.css" rel="stylesheet">
   <link href="{{STATIC_URL}}frontend/assets/css/login.css" rel="stylesheet">
   <link href="{{STATIC_URL}}frontend/assets/css/bootstrap3_player.css" rel="stylesheet">  
   <script type="text/javascript" src="{{STATIC_URL}}frontend/assets/js/afterglow.min.js"></script>
   <style>
.footer .footerLink ul li {
    color: #acacac;
    font-size: 12px;
    line-height: 23px;
}
</style>
</head>
<body class="background-dark template-product">
  <div class="header clearfix">
                   <div class="topBar">
                       <div class="container">
                           <div class="row">
                               <div class="col-md-6 hidden-sm hidden-xs">
                                   <ul class="list-inline">
                                       <li><a href="#"><i class="fa fa-envelope-o"></i> info@penplusbytes.org</a></li>
                                   </ul>
                               </div>
                               <div class="col-md-6 col-xs-12">
                                   <ul style='padding:5px' class="list-inline pull-right">
            {% if user.is_authenticated %}
            <li style='padding:5px'><img class='img-circle' height='40' src='{{user.get_avatar}}' /></li>
            <li style='margin-top:5px'><a style='font-size:16px' href="#">{{user.first_name}} {{user.last_name}}</a></li>
            <li style='margin-top:5px'><a href="/user_logout/">Logout</a></li>
            {% else %}
            <li><a  href="/user_login/">Login</a></li>
            <li><a  href="/user_register/">Register</a></li>
            <li style='margin-top:0px'><a target='_blank' href="http://penplusbytes.org/site/">Visit Penplusbytes</a>
            {% endif %}
          </ul>
                               </div>
                           </div>
                       </div>
                   </div>
                   <nav class="navbar navbar-main navbar-default" role="navigation">
                       <div class="container">
                           <div class="navbar-header">
                               <button type="button" class="navbar-toggle" data-toggle="collapse"
                                       data-target=".navbar-ex1-collapse">
                                   <span class="sr-only">Toggle navigation</span>
                                   <span class="icon-bar"></span>
                                   <span class="icon-bar"></span>
                                   <span class="icon-bar"></span>
                               </button>
                               <a style='width:245px' href="/" class="navbar-brand"><img style="float: left; margin-top: -9px;" src="http://afrstatic.s3.amazonaws.com/logo_kakum.png" height="50"><h4 id="logo-text">Tech Driven Social<br/> Accountability</h4></a>
                           </div>

                           <div class="collapse navbar-collapse navbar-ex1-collapse">
                               <ul class="nav navbar-nav navbar-right">
                                   <li><a  href='/issues/'>Issues</a></li>
<li class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">Gallery</a>
           <ul class="dropdown-menu dropdown-menu-right">
             <li><a  href="/gallery/pictures/" class="articles-font"
               >Pictures</a>
             </li>
             <li><a  href="/gallery/videos/" class="articles-font"
               >Videos</a>
             </li>

           </ul>
         </li>
                                   <li class="dropdown">
                                       <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                          aria-haspopup="true" aria-expanded="false">Knowledge Center</a>
                                       <ul class="dropdown-menu dropdown-menu-right">
                                           <li><a  href="/knowledge_center/articles/" class="articles-font"
                                                     >Articles</a></li>
                                           <li><a  href="/knowledge_center/documents/" class="articles-font"
                                                     >Documents</a></li>
                                           <li><a  href="/knowledge_center/audios/" class="articles-font"
                                                     >Audios</a></li>
                                           <li><a  href="/knowledge_center/videos/" class="articles-font"
                                                     >Videos</a></li>
                                       </ul>
                                   </li>
                                   <li><a  href="/project_areas/" >Project Areas</a></li>
<li><a  href="/about/" >Project Brief</a></li>
                               </ul>
                           </div>
                       </div>
                   </nav>
</div>

<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>AUDIOS</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href='/'>HOME</a>
                    </li>
                    <li class="active">AUDIOS</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="mainContent clearfix">
    <div class="container">          
                {% for item in audios %}
<div class="col-md-8 col-sm-8 text-center thumbnail">
        <div class="row">
            <h4>{{item.title}}</h4>
            <p class="one-line">{{item.description}}</p>
            <div class="row">
                <button class="btn btn-warning btn-sm">Download</button>
            </div>
            <br/>
            <div class="row">
                <audio controls>
                  <source src='{{item.audio}}' type="audio/ogg"/>
                  <source src='{{item.audio}}' type="audio/mpeg"/>
                    <a href='{{item.audio}}' >{{item.title}}</a>
                  Your browser does not support the audio element.
                </audio>
            </div>
        </div>
</div>

{% if item.media_url %}
{{item.media_url}}
{% endif %}
{% endfor %}
       
    </div>
</section>

<div class="footer clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="footerLink">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li><a href="http://penplusbytes.org/site/">Website: www.penplusbytes.org</a></li>
            <li>Email: projects@penplusbytes.org</li>
<li>Tel: +233500294411</li>
          </ul>
        </div>
      </div>
       <div class="col-sm-4 col-xs-12">
        <div class="footerLink">
          <h5>Relevant Links</h5>
          <ul class="list-unstyled">
          {% for item in relevant %}
            <li style='list-style-type: circle;'><a target='_blank' href="{{item.link}}">{{item.title}}</a></li>
          {% endfor %}
         
          </ul>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="footerLink">
          <h5 style='text-transform: None'>Powered Penplusbytes with Support from OSIWA</h5>
          <ul class="list-unstyled">
            <li><a target='_blank' href='http://www.penplusbytes.org'><img style='width:65%; float:left; margin-right:15px' height='75' src="{{STATIC_URL}}yolog.jpg" /></a></li>
            <li><a target='_blank' href='http://www.osiwa.org'><img height='75' src="https://s3.amazonaws.com/wacam-static/partners/osiaI.jpg" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="copyRight clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-xs-12">
                <p>&copy; 2017 Copyright. <a target="_blank" href="http://www.iamabdus.com/">Social Accountability</a>.</p>
            </div>
            <div class="col-sm-5 col-xs-12">
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/groups/7775446390/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/penplusbytes"><i class=" fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
<script src="{{STATIC_URL}}frontend/assets/plugins/jquery-ui/jquery-ui.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/countdown/jquery.syotimer.js"></script>
<script src="{{STATIC_URL}}frontend/assets/js/custom.js"></script>
<script src="{{STATIC_URL}}frontend/assets/js/bootstrap3_player.js"></script>
<script type="text/javascript">    (function () {        var options = {          whatsapp: "+233241995737",             company_logo_url: "//afrstatic.s3.amazonaws.com/logo_kakum.png",             greeting_message: "Hello, how may we help you? Just send us a message now to get assistance.",             call_to_action: "Chat Us",             position: "left",        };        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);    })();</script>
</body>
</html>