<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <title>Social Accountability - Project Area</title>
   <!-- styles -->
   <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link href="{{STATIC_URL}}frontend/assets/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
   <link href="{{STATIC_URL}}frontend/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="https://use.fontawesome.com/1ae586c7a5.js"></script>
   <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/css/settings.css" media="screen">
   <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
   
   <!-- CUSTOM CSS -->
   <link href="{{STATIC_URL}}frontend/assets/css/style.css" rel="stylesheet">
   <link href="{{STATIC_URL}}frontend/assets/css/main.css" rel="stylesheet">
   <link href="{{STATIC_URL}}frontend/assets/css/documents.css" rel="stylesheet">
   <link href="{{STATIC_URL}}frontend/assets/css/comments.css" rel="stylesheet">
   <link href="{{STATIC_URL}}frontend/assets/css/login.css" rel="stylesheet">
   <!-- after glow video -->
   <script type="text/javascript" src="{{STATIC_URL}}frontend/assets/js/afterglow.min.js"></script>
<style>
.mycontent li {
  list-style-type:circle ;
  font-size:14px;
  margin-left:15px;
  line-height: 23px;

}
h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom:0;
}
.footer .footerLink ul li {
    color: #acacac;
    font-size: 12px;
    line-height: 23px;
}
</style>
</head>
<body class="background-dark template-product">
  <div class="header clearfix">
                   <div class="topBar">
                       <div class="container">
                           <div class="row">
                               <div class="col-md-6 hidden-sm hidden-xs">
                                   <ul class="list-inline">
                                       <li><a href="#"><i class="fa fa-envelope-o"></i> info@penplusbytes.org</a></li>
                                   </ul>
                               </div>
                               <div class="col-md-6 col-xs-12">
                                   <ul style='padding:5px' class="list-inline pull-right">
            {% if user.is_authenticated %}
            <li><img class='img-circle' height='50' src='{{user.get_avatar}}' /></li>
            <li style='margin-top:7px'><a style='font-size:16px' href="#">{{user.first_name}} {{user.last_name}}</a></li>
            <li style='margin-top:7px'><a href="/users/logout/">Logout</a>
            {% else %}
            <li><a  href="/user_login/">Login</a></li>
            <li><a  href="/user_register/">Register</a></li>
             <li style='margin-top:0px'><a target='_blank' href="http://penplusbytes.org/site/">Visit Penplusbytes</a>
            </li>
            {% endif %}
           
          </ul>
                               </div>
                           </div>
                       </div>
                   </div>
                   <nav class="navbar navbar-main navbar-default" role="navigation">
                       <div class="container">
                           <div class="navbar-header">
                               <button type="button" class="navbar-toggle" data-toggle="collapse"
                                       data-target=".navbar-ex1-collapse">
                                   <span class="sr-only">Toggle navigation</span>
                                   <span class="icon-bar"></span>
                                   <span class="icon-bar"></span>
                                   <span class="icon-bar"></span>
                               </button>
                               <a style='width:245px' href="/" class="navbar-brand"><img style="float: left; margin-top: -9px;" src="http://afrstatic.s3.amazonaws.com/logo_kakum.png" height="50"><h4 id="logo-text">Tech Driven Social<br/> Accountability</h4></a>
                           </div>

                           <div class="collapse navbar-collapse navbar-ex1-collapse">
                               <ul class="nav navbar-nav navbar-right">
                                   <li><a  href="/issues/" >Issues</a></li>
                                   <li class="dropdown">
                                       <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                          aria-haspopup="true" aria-expanded="false">Knowledge Center</a>
                                       <ul class="dropdown-menu dropdown-menu-right">
                                           <li><a  href="/knowledge_center/articles/" class="articles-font"
                                                     >Articles</a></li>
                                           <li><a  href="/knowledge_center/documents/" class="articles-font"
                                                     >Documents</a></li>
                                           <li><a  href="/knowledge_center/audios/" class="articles-font"
                                                     >Audios</a></li>
                                           <li><a  href="/knowledge_center/videos/" class="articles-font"
                                                     >Videos</a></li>
                                       </ul>
                                   </li>
                                   <li><a  href="/project_areas/" >Project Areas</a></li>
<li><a  href="/about/" >Project Brief</a></li>
                               </ul>
                           </div>
                       </div>
                   </nav>
</div>

<section class="lightSection clearfix pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-title">
                    <h2>Project Areas</h2>
                </div>
            </div>
            <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href=''>HOME</a>
                    </li>
                    <li class="active">PROJECT AREAS</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="mainContent clearfix aboutUsInfo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h3>Ellembelle District</h3>
                </div>
            </div>
           

           
            <div class="col-sm-12 mycontent">
        
      <center>  <img style='width:50%' src='{{STATIC_URL}}ellembelle.jpg' /> </center><br><br>

        <h4> Population size, structure and composition</h4>
        <ul> 
<li>The population of Ellembelle District, according to the 2010 Population and Housing Census, is 87,501 constituting 3.7 percent of the total population in the Western Region</li>
<li>Males constitute 48.4 percent and females represent 51.6 percent.</li>
<li>About 79.4 percent of the population resides in rural and 20.6 percent in urban areas. </li>
<li>The district has a sex ratio of 93.7. </li>
<li>The population of the district depicts a broad base population pyramid which tapers off with a small number of elderly persons. </li>
<li>The age dependency ratio for the district is 82.2, the age dependency ratio for males is lower (40.5) than that of females</li>
        </ul>
                <br><br>
                <h4> Fertility, mortality and migration</h4>
                <ul> 
<li>Total fertility rate for the district 3.6</li>
<li>The general fertility rate is 89.7 births per 1000 women aged 15-49 years</li>
<li>rude Birth Rate is 27.6 per 1000 population</li>
<li>Crude Death Rate is 5.4 per 1000</li>
<li>15.8% migrants living in the district were born elsewhere in western region</li>
<li>17.9% migrants born outside Ghana</li>

                </ul>
                <br><br>

<h4> Household size, composition and structure</h4>
<ul>
<li>Household size, composition and structure </li>
<li>The district has a household population of 85,338 with a total number of 18,682 households</li>
<li>Average household size in the district is 4.6 persons per household</li>
<li>Children constitute the largest (40.9%) proportion of household composition</li>
<li>Spouses form 9.2%</li>
<li>Nuclear households constitute 26.1% of household structure</li>
</ul><br><br>

<h4>Marital status </h4>
<ul>
<li>About 40.9% of population 12 years older are married</li>
<li>42.6% have never married</li>
<li>3.4% are in consensual unions</li>
<li>5% is widowed</li>
<li>5.7% divorced </li>
<li>2.5% separated</li>
<li>59.8% of females with age bracket 25-29 married</li>
</ul><br><br>
<h4>Literacy and education</h4>
<ul>
<li>Of the population 11 years and older, 73.8 percent are literate and 26.2 percent is not literate. </li>
<li>Slightly more than seven out of ten people (74.3%) could read and write in both English and a Ghanaian language</li>
<li>About 22.1 percent of the population have never attended school </li>
<li>43.8 percent are currently in school and 34.1 percent have attended school in the past. Of the population aged 3 years and older 35,231 are currently attending school in the district.</li>
</ul><br><br>

<h4>Economic Activity Status</h4>
<ul>
<li>About 58.8 percent of the population aged 15 years and older are economically active  </li>
<li>41.2 per cent are economically not active. Of the economically active population </li>
<li>94.8 percent is employed, while </li>
<li>5.2 percent is unemployed</li>
<li>For those who are economically not active a larger percentage of them are students (46.1%), 24.6 percent perform household duties and 5.2 percent are disabled or too sick to work. Nearly six out of ten (61.1%) of the unemployed persons are seeking work for the first time. 
</li>

<li>Of the employed population, 35.2 percent are skilled agricultural forestry and fishery workers 22.5 percent, in the service and sales work and 18 percent are in craft and related trades. </li>
<li>Females are more likely than males to be engaged in Service and sales work (35.7%) whereas  males are more likely than females to be engaged as skilled agricultural forestry and fishery workers (39.1%).</li>
<li>About 69 percent of the workforce is self-employed without employees with females and males proportions as 77.5 percent and 59.7 percent respectively. </li>
</ul><br><br>


<h4>Information and Communication Technology</h4>
<ul>
<li>Of the population 12 years and older, 40.4 percent own mobile phones.</li>
<li>Men who own mobile phones constitute 46.3 percent as compared to 35.1 percent of females. </li>
<li>Only 3.1 percent of the population 12 years and older use internet facilities in the district. </li>
<li>About 581 households representing 3.1 percent of the total households in the district have desktop/laptop computers.</li>
</ul><br><br>

<h4>Disability</h4>

<ul>
<li>About 1.6 percent of the district’s total population has a disability. </li>
<li>The proportion of the male population with disability is the same as the female (1.6%)</li>
<li>The types of disability in the district include sight, hearing, speech, physical, intellect, and emotion. </li>
<li>Persons with sight disability recorded the highest (37.1%) followed by physical disability (35.7%). </li>
<li>Of the population (1428) who has disability, 641 constituting 46.5 percent have never been to school.</li>
</ul><br><br>
<h4>Agriculture</h4>
<ul>
<li>About 44.8 percent of households in the district are engage in agriculture. Of those in </li>
<li>Agriculture, 92 percent are into crop farming and 22.4 percent are into livestock rearing. </li>
<li>Poultry (chicken) and fish farming are the dominant animal reared in the district.</li>
</ul><br><br>
<h4>Housing</h4>
<ul>
<li>The housing stock of Ellembelle District is 12,290.</li>
<li>The rural areas have a higher proportion of the houses (82.9%) compared to the urban areas (17.1%). </li>
<li>The average number of persons per house is 7. </li>
<li>Type, tenancy arrangement and ownership of dwelling units</li>
About 29.5 percent of all dwelling units in the district are separate houses, 54 percent, compound houses; and 6 percent, huts.</li>
<li>About 68.6 percent of the dwelling units in the district are owned by members of households, 11.9 percent is owned by private individuals and 16.3 percent is owned by a relative who is not a member of the household and only 1.1 percent is owned by public or government. </li>
<li>Less than one percent (0.8%) of the dwelling units is owned through mortgage schemes. </li>
</ul><br><br>
<h4>Main sources</h4>
<ul>
<li>The main sources of fuel for cooking for most households in the district are wood (56.8%) and charcoal (26.3%). </li>
<li>Water for drinking in the district are mainly obtained from boreholes (25.3%), </li>
<li>Pipe borne outside dwelling (17%) and river or stream water (13.1%)</li>
<li>The main toilet facility used in the district is public toilet facility (31.9%) and pit latrine (24.3%).</li>
<li>About 30 percent of the households in the district have no toilet facility. </li>
<li>About 40.4 percent share bath rooms in the same house and 27.1 percent own bathroom for exclusive use in their dwellings and 13.4 percent use shared open cubicles for bathing</li>
</ul><br><br>
<h4>Waste disposal</h4>
<ul>
<li>The most common method of solid waste disposal is public dump (container) (43.5%) and public dump (open space) (38.2%). </li>
<li>Dumping of solid waste indiscriminately is practiced by 8.2 percent of the households.</li>
<li>Liquid waste disposal onto the compound (49.1%) and onto the street or outside (34.4%) are the two most common practices by households in the district.</li>

</ul>
<br><br>
<p><em>Source: 2010 Population and Housing Census (2010 PHC)</em> </p>

<p>The Member of Parliament for this area is Emmanuel Armah Kofi Buah </p>
<br> <br> 
<hr>
<br>

<center><h3> Community Monitoring Group </h3></center> <br>
<center>
<div class="row">
  <div class="col-md-3">
    <img width='262' src="{{STATIC_URL}}barnabas.jpg" /><br>
    <p> <strong> Barnabas Kwasi</strong></p>
     <p>Vice-Chairman, Nkroful Youth Development Association </p>
 
 <strong>  Monitoring Classification: </strong> YOUTH</p>
  </div>
  <div class="col-md-3">
    <img width='262' src="{{STATIC_URL}}christian.jpg" /><br>
    <p> <strong>Christian Sarfo</strong></p>
    <p> Secretary, Local Council of Churches </p>
    <p><strong>    Monitoring Classification: </strong> </CHRISTIAN</p>
  </div>
  <div class="col-md-3">
    <img width='262' src="{{STATIC_URL}}seidu.jpg" />
    <p> <strong>  Osman Seidu</strong></p>
    <p> Muslims Youth Association </p>
    <p> <strong>  Monitoring Classification: </strong> MUSLIM</p>
  </div> 
  <div class="col-md-3">
    <img width='262' src="{{STATIC_URL}}vivian.jpg" />
    <p> <strong>   Vivian Muah</strong></p>
      <p>Women leader or market women leader) / Teacher </p>
    <p> <strong>  Monitoring Classification: </strong> Gender</p>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <img width='262' src="{{STATIC_URL}}lydia.jpg" />
    <p> <strong>  Lydia Mensah</strong></p>
    <p> Radio host at WestEnd Radio
 </p>
    <p> <strong>  Monitoring Classification: </strong> Media – Journalist or staff from Information Service Department (ISD)</p>
  </div>


  <div class="col-md-3">
    <img width='262' src="{{STATIC_URL}}stephen.jpg" />
    <p> <strong>  Stephen Oduro Appiah</strong></p>
    <p> Deputy Director and Officer in charge of Ghana School Feeding Programme </p>
    <p> <strong>  Monitoring Classification: </strong> District Assembly coordinator of GSFP</p>
  </div>


  <div class="col-md-3">
    <img width='262' src="{{STATIC_URL}}wisdom.jpg" />
    <p> <strong>  Wisdom Bakuyeya</strong></p>
    <p> Acting Head of Social Welfare & Development Committee</p>
    <p> <strong>  Monitoring Classification: </strong> District Assembly coordinator of LEAP/LIPW</p>
  </div> 


  <div class="col-md-3">
    <img width='262' src="{{STATIC_URL}}aikins.jpg" />
    <p> <strong>  Aikins Titus Narchiah></strong></p>
      <p>District Director for Youth Employment and Assemblyman for Menzezor</p>
    <p> <strong>  Monitoring Classification: </strong> District Implementing Committee (Com. LEAP Implementation Committess)</p>
  </div>
</div>


<div class="row">
  <div class="col-md-3">
    <img width='262' src="{{STATIC_URL}}jeremiah.jpg" />
    <p> <strong>  Jeremaih Kusan</strong></p>
    <p> Organizer, School Management Committee
 </p>
    <p> <strong>  Monitoring Classification: </strong> School Management Committee (SMC</p>
  </div>



</div>
</center>
            </div>
        </div>
    </div>
</section>

<div class="footer clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="footerLink">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li><a href="http://penplusbytes.org/site/">Website: www.penplusbytes.org</a></li>
            <li>Email: projects@penplusbytes.org</li>
<li>Tel: +233500294411</li>
          </ul>
        </div>
      </div>
       <div class="col-sm-4 col-xs-12">
        <div class="footerLink">
          <h5>Relevant Links</h5>
          <ul class="list-unstyled">
          {% for item in relevant %}
            <li style='list-style-type: circle;'><a target='_blank' href="{{item.link}}">{{item.title}}</a></li>
          {% endfor %}
         
          </ul>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
       <div class="footerLink">
          <h5 style='text-transform: None'>Powered Penplusbytes with Support from OSIWA</h5>
          <ul class="list-unstyled">
            <li><a target='_blank' href='http://www.penplusbytes.org'><img style='width:65%; float:left; margin-right:15px' height='75' src="{{STATIC_URL}}yolog.jpg" /></a></li>
            <li><a target='_blank' href='http://www.osiwa.org'><img height='75' src="https://s3.amazonaws.com/wacam-static/partners/osiaI.jpg" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="copyRight clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-xs-12">
                <p>&copy; 2017 Copyright. <a target="_blank" href="http://www.iamabdus.com/">Social Accountability</a>.</p>
            </div>
            <div class="col-sm-5 col-xs-12">
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/groups/7775446390/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/penplusbytes"><i class=" fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
<script src="{{STATIC_URL}}frontend/assets/plugins/jquery-ui/jquery-ui.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/countdown/jquery.syotimer.js"></script>
<script src="{{STATIC_URL}}frontend/assets/js/custom.js"></script>
<script type="text/javascript">    (function () {        var options = {          whatsapp: "+233241995737",             company_logo_url: "//afrstatic.s3.amazonaws.com/logo_kakum.png",             greeting_message: "Hello, how may we help you? Just send us a message now to get assistance.",             call_to_action: "Chat Us",             position: "left",        };        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);    })();</script>
</body>
</html>