{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1"> 
 <title>Tech Driven Social Accountability</title>
 <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 <link href="{{STATIC_URL}}frontend/assets/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
 <link href="{{STATIC_URL}}frontend/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <script src="https://use.fontawesome.com/1ae586c7a5.js"></script>
 <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/css/settings.css" media="screen">
 <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'> 
 <link href="{{STATIC_URL}}frontend/assets/css/style.css" rel="stylesheet">
 <link href="{{STATIC_URL}}frontend/assets/css/main.css" rel="stylesheet">
<link href="{{STATIC_URL}}frontend/assets/css/comments.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 
 <style>
  a.pdf {
    display: inline-block;
    padding-left: 26px;
    background: url(https://s3.amazonaws.com/afrstatic/policy.jpg) no-repeat 0px 3px;
    margin-top: 5px;
  }


h1, h2, h3, h4, h5 {
    font-family: 'Oxygen',sans-serif;
    color: #252525;
    text-transform: none;
}
 
 .footer .footerLink ul li {
    color: #acacac;
    font-size: 12px;
    line-height: 23px;
}
  
  #gfnydvo{
    display: none;
  }
  #slider-height, #bs-carousel, .carousel-inner {
    width: 100%;
    height: 440px;
  }
  .fade-carousel .slides .slide-1 {
    background-image: url(https://s3.amazonaws.com/afrstatic/image.jpg);
  }
  .fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2, .fade-carousel .slides .slide-3 {
    height: 100vh;
    background-repeat: no-repeat;
    background-size:100%;
    background-position:0 0;
  }
  .masking-hover, .imageBox .productImage .productMasking, .whiteSection .featuredProducts .slide .productImage .productMasking, .mainContent .featuredProducts .slide .productImage .productMasking, .productsContent .productBox .productImage .productMasking, .whiteSection .featuredCollection .thumbnail .imageWrapper .masking, .mainContent .featuredCollection .thumbnail .imageWrapper .masking, .productListSingle .media .media-left .maskingImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80,124,189,0.9);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .topBar ul.pull-right li:last-child a {
    background-color: #507CBD;
    line-height: 35px;
    min-height: 36px;
    font-size: 13px;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

.hide{
  display:none;
}
</style>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Rating', 'No of Comments'],
          ['Excellent',  {{excellent_count}}],
          ['Good',   {{good_count}}],
          ['Neutral', {{neutral_count}}],
          ['Bad', {{bad_count}}],          
        ]);

        var options = {
          title: 'Issue Rating Tracker - {{total_count}} Total Comments'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

             function selectHandler() {
          var selectedItem = chart.getSelection()[0];
          if (selectedItem) {
            var topping = data.getValue(selectedItem.row, 0);
            var myclass = '.' + topping;
            $('.mycomment').addClass('hide');
            $(myclass).removeClass('hide');
            
          }
        }

        google.visualization.events.addListener(chart, 'select', selectHandler);  

        chart.draw(data, options);
      }
    </script>
</head>
<body class="background-dark template-product">
  <div class="header clearfix">
   <div class="topBar">
     <div class="container">
       <div class="row">
         <div class="col-md-6 hidden-sm hidden-xs">
           <ul class="list-inline">
             <li><a href="#"><i class="fa fa-envelope-o"></i> info@penplusbytes.org</a></li>
           </ul>
         </div>
         <div class="col-md-6 col-xs-12">
           <ul class="list-inline pull-right">
            {% if user.is_authenticated %}
            <li style='padding:5px'><img class='img-circle' height='40' src='{{user.get_avatar}}' /></li>
            <li style='margin-top:5px'><a style='font-size:16px' href="#">{{user.first_name}} {{user.last_name}}</a></li>
            <li style='margin-top:5px'><a href="/user_logout/">Logout</a></li>
            {% else %}
            <li><a  href="/user_login/">Login</a></li>
            <li><a  href="/user_register/">Register</a></li>
            <li style='margin-top:0px'><a target='_blank' href="http://penplusbytes.org/site/">Visit Penplusbytes</a>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav style='box-shadow:2px 2px 2px 2px #dfdfdf' class="navbar navbar-main navbar-default" role="navigation">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse"
         data-target=".navbar-ex1-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a style='width:245px' href="/" class="navbar-brand"><img style="float: left; margin-top: -9px;" src="http://afrstatic.s3.amazonaws.com/logo_kakum.png" height="50"><h4 id="logo-text">Tech Driven Social<br/> Accountability</h4></a>
     </div>

     <div class="collapse navbar-collapse navbar-ex1-collapse">
       <ul class="nav navbar-nav navbar-right">
         <li><a  href='/issues/'>Issues</a></li>

         <li class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery</a>
           <ul class="dropdown-menu dropdown-menu-right">
             <li><a  href="/gallery/pictures/" class="articles-font"
               >Pictures</a>
             </li>
             <li><a  href="/gallery/videos/" class="articles-font"
               >Videos</a>
             </li>

           </ul>
         </li>
         <li class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">Knowledge Center</a>
           <ul class="dropdown-menu dropdown-menu-right">
             <li><a  href="/knowledge_center/articles/" class="articles-font"
               > Articles</a></li>
               <li><a  href="/knowledge_center/documents/" class="articles-font"> Documents</a></li>

               </ul>
             </li>
             <li><a  href="/project_areas/" >Project Areas</a></li>
<li><a  href="/about/" >Project Brief</a></li>
           </ul>
         </div>
       </div>
     </nav>
   </div>

   <div id="slider-height">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
      <div class="overlay"></div>
     <!--  <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-href="0" class="active"></li>

      </ol> -->

      <div class="carousel-inner">
        <div class="item slides active">
          <div class="slide-1"></div>
          <div class="hero">
        
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

   <section class="mainContent clearfix">
      <div class="container">
        <div class="row featuredCollection">
          <div class="col-xs-12">
            <div class="page-header">
              <h4>Issue Tracker</h4>
            </div>
          </div>
          <div id="toreplace">           
            <div class="col-sm-6 col-xs-12">
            
            <form name='filter_form'>
            <select style='float:right' onchange="issueFilter(document.filter_form.issue_id.options[document.filter_form.issue_id.selectedIndex].value);"   name='issue_id' id="issue_id">
                  <option value='0'>All Issues</option>
                  {% for item in issues %}
                  <option value='{{item.id}}'>{{item.title}}</option>
                  {% endfor %}
                </select>
                </form>
                <label style='float:right;'> Filter by Issue &nbsp;&nbsp;&nbsp;&nbsp; </label><br><br>
             <div id="piechart" style="width: 600px; height: 500px;"></div>
            </div>

            <div class="col-sm-6 col-xs-12">
            <h5 class='mycomment Excellent'> {{excellent_count}} Excellent Comments </h5>
                {% for item in excellent %}

                <div class='mycomment Excellent'>
                 <div>
                  <div class="panel panel-white post">
                    <div class="post-heading">
                      <div class="pull-left image">
                       {% if item.author.get_avatar %}
                       <img width='50' height='50' src='{{item.author.get_avatar}}' class="img-circle avatar"
                       alt="user profile image"/>

                       {% else %}
                       
                       <img width='50' height='50' src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                       alt=""/>
                       {% endif %}

                     </div>
                     <div class="pull-left meta">
                      <div class="title h5">
                      {% if item.input_channel == 'Web' %}
                        <a href="#"><b>{{item.author.last_name}} {{item.author.first_name}} </b></a>  

                        {% elif item.input_channel == 'SMS' %}
                        <a href="#"><b>SMS User </b></a> 
                        {% elif item.input_channel == 'Email' %}
                        <a href="#"><b>Email User </b></a> 
                        {% elif item.input_channel == 'WhatsApp' %}
                        <a href="#"><b>WhatsApp User </b></a> 
                        {% elif item.input_channel == 'Facebook' %}
                        <a href="#"><b>Facebook User </b></a> 
                        {% elif item.input_channel == 'Twitter' %}
                        <a href="#"><b>Twitter User </b></a> 
                        {% elif item.input_channel == 'Offline' %}
                        <a href="#"><b>Offline User </b></a> 
                      {% endif %}
                      </div>
                      <h6 class="text-muted time">{{item.get_elapsed_time}}</h6> 
                    </div>
                  </div>
                  <div class="post-description">
                    <p> {{item.comment}} </p>
        <!--             {% if item.image %}
                    <div style='padding:5px'>
                    <img class='img-responsive' src='{{item.image}}' />
                    </div>
                    {% endif %} -->
                  </div>
                </div>

              </div>

            </div>

            {% endfor %}
<!-- <a href='#'><h6 style='color:#780E1A' class='mycomment Excellent'> View All Excellent Comments </h6></a> -->



            <h5 class='mycomment Good'> {{good_count}} Good Comments </h5>
                {% for item in good %}

                <div class='mycomment Good'>
                 <div>
                  <div class="panel panel-white post">
                    <div class="post-heading">
                      <div class="pull-left image">
                       {% if item.author.get_avatar %}
                       <img width='50' height='50' src='{{item.author.get_avatar}}' class="img-circle avatar"
                       alt="user profile image"/>

                       {% else %}
                       
                       <img width='50' height='50' src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                       alt=""/>
                       {% endif %}

                     </div>
                     <div class="pull-left meta">
                      <div class="title h5">
                      {% if item.input_channel == 'Web' %}
                        <a href="#"><b>{{item.author.last_name}} {{item.author.first_name}} </b></a> 

                        {% elif item.input_channel == 'SMS' %}
                        <a href="#"><b>SMS User </b></a> 
                        {% elif item.input_channel == 'Email' %}
                        <a href="#"><b>Email User </b></a> 
                        {% elif item.input_channel == 'WhatsApp' %}
                        <a href="#"><b>WhatsApp User </b></a> 
                        {% elif item.input_channel == 'Facebook' %}
                        <a href="#"><b>Facebook User </b></a> 
                        {% elif item.input_channel == 'Twitter' %}
                        <a href="#"><b>Twitter User </b></a> 
                        {% elif item.input_channel == 'Offline' %}
                        <a href="#"><b>Offline User </b></a> 
                      {% endif %}
                      </div>
                      <h6 style='float:left' class="text-muted time">{{item.get_elapsed_time}}</h6>
                    </div>
                  </div>
                  <div class="post-description">
                    <p> {{item.comment}} </p>
        <!--             {% if item.image %}
                    <div style='padding:5px'>
                    <img class='img-responsive' src='{{item.image}}' />
                    </div>
                    {% endif %} -->
                  </div>
                </div>

              </div>

            </div>

            {% endfor %}

<!-- <a href='#'><h6 style='color:#780E1A' class='mycomment Good'> View All Good Comments </h6></a> -->



     <h5 class='mycomment Neutral'> {{neutral_count}} Neutral Comments </h5>
                {% for item in neutral %}

                <div class='mycomment Neutral'>
                 <div>
                  <div class="panel panel-white post">
                    <div class="post-heading">
                      <div class="pull-left image">
                       {% if item.author.get_avatar %}
                       <img width='50' height='50' src='{{item.author.get_avatar}}' class="img-circle avatar"
                       alt="user profile image"/>

                       {% else %}
                       
                       <img width='50' height='50' src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                       alt=""/>
                       {% endif %}

                     </div>
                     <div class="pull-left meta">
                      <div class="title h5">
                      {% if item.input_channel == 'Web' %}
                        <a href="#"><b>{{item.author.last_name}} {{item.author.first_name}} </b></a> 

                        {% elif item.input_channel == 'SMS' %}
                        <a href="#"><b>SMS User </b></a> 
                        {% elif item.input_channel == 'Email' %}
                        <a href="#"><b>Email User </b></a> 
                        {% elif item.input_channel == 'WhatsApp' %}
                        <a href="#"><b>WhatsApp User </b></a> 
                        {% elif item.input_channel == 'Facebook' %}
                        <a href="#"><b>Facebook User </b></a> 
                        {% elif item.input_channel == 'Twitter' %}
                        <a href="#"><b>Twitter User </b></a> 
                        {% elif item.input_channel == 'Offline' %}
                        <a href="#"><b>Offline User </b></a> 
                      {% endif %}
                      </div>
                      <h6 style='float:left' class="text-muted time">{{item.get_elapsed_time}}</h6> 
                    </div>
                  </div>
                  <div class="post-description">
                    <p> {{item.comment}} </p>
        <!--             {% if item.image %}
                    <div style='padding:5px'>
                    <img class='img-responsive' src='{{item.image}}' />
                    </div>
                    {% endif %} -->
                  </div>
                </div>

              </div>

            </div>

            {% endfor %}
<!-- <a href='#'><h6 style='color:#780E1A' class='mycomment Neutral'> View All Neutral Comments </h6></a> -->




     <h5 class='mycomment Bad'> {{bad_count}} Bad Comments </h5>
                {% for item in bad %}

                <div class='mycomment Bad'>
                 <div>
                  <div class="panel panel-white post">
                    <div class="post-heading">
                      <div class="pull-left image">
                       {% if item.author.get_avatar %}
                       <img width='50' height='50' src='{{item.author.get_avatar}}' class="img-circle avatar"
                       alt="user profile image"/>

                       {% else %}
                       
                       <img width='50' height='50' src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                       alt=""/>
                       {% endif %}

                     </div>
                     <div class="pull-left meta">
                      <div class="title h5">
                      {% if item.input_channel == 'Web' %}
                        <a href="#"><b>{{item.author.last_name}} {{item.author.first_name}} </b></a> 

                        {% elif item.input_channel == 'SMS' %}
                        <a href="#"><b>SMS User </b></a> 
                        {% elif item.input_channel == 'Email' %}
                        <a href="#"><b>Email User </b></a> 
                        {% elif item.input_channel == 'WhatsApp' %}
                        <a href="#"><b>WhatsApp User </b></a> 
                        {% elif item.input_channel == 'Facebook' %}
                        <a href="#"><b>Facebook User s</b></a> 
                        {% elif item.input_channel == 'Twitter' %}
                        <a href="#"><b>Twitter User </b></a> 
                        {% elif item.input_channel == 'Offline' %}
                        <a href="#"><b>Offline User </b></a> 
                      {% endif %}
                      </div>
                      <h6 style='float:left' class="text-muted time">{{item.get_elapsed_time}}</h6> 
                    </div>
                  </div>
                  <div class="post-description">
                    <p> {{item.comment}} </p>
        <!--             {% if item.image %}
                    <div style='padding:5px'>
                    <img class='img-responsive' src='{{item.image}}' />
                    </div>
                    {% endif %} -->
                  </div>
                </div>

              </div>

            </div>

            {% endfor %}
<!-- <a href='#'><h6 style='color:#780E1A' class='mycomment Bad'> View All Bad Comments </h6></a> -->
            </div>
         
          </div>
        </div>

      </div>
    </section>



    <section class="mainContent clearfix">
      <div class="container">
        <div class="row featuredCollection">
          <div class="col-xs-12">
            <div class="page-header">
              <h4>Recent Issues</h4>
            </div>
          </div>
          <div class="">

            {% for item in issues %}
            <div class="col-sm-4 col-xs-12">
              <div class="thumbnail" style='min-height:405px'>
                <div class="imageWrapper">

                  {% thumbnail item.get_first_image "340x220" crop="center" as im %}
                  <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}  

                  <div class="masking"><a href='/issues/{{item.id}}/'><span
                    class="btn viewBtn">View Issue</span></a>
                  </div>
                </div>
                <div class="caption">
                  <a href='/issues/{{item.id}}/'>
                    <h4>{{item.title}}</h4>
                  </a>
                  <hr/>
                  <h4><i class="fa fa-comment" aria-hidden="true"></i> {{item.num_of_comments}} comments</h4>
                  <h6 class="giveMeEllipsis">{{item.description|safe|truncatewords:'50'}}</h6>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </section>



    <section class="mainContent clearfix">
      <div class="container">
        <div class="row featuredCollection">
          <div class="col-xs-12">
            <div class="page-header">
              <h4> Knowledge Center </h4>
            </div>
          </div>
          <div>





            {% if document %}
            <h5>Documents </h5>
              {% for item in document %}
            <div class="col-sm-3 col-xs-12">
              <div class="thumbnail" style='min-height:210px'>


                
                <div class="imageWrapper">

                

                  {% if item.media_url %} 
                  <center> <div class="col-md-12"  style='margin-bottom:0px; min-height:145px'>
                    <a style='border-bottom:none; color:#222222' target='_blank' href="{{item.media_url}}" >
                      <img src='https://s3.amazonaws.com/afrstatic/policy.jpg' style='width: 10 0%;'  />
                      <center><p>{{item.title}}</p></center></a>
                    </div></center>
                    {% else %}
                    <center><div class="col-md-12" style='margin-bottom:0px; min-height:145px'>
                      <a style='border-bottom:none; color:#222222' target='_blank' href="{{item.document}}" >
                      {% if item.cover_image %}

{% thumbnail item.cover_image "213x150" crop="center" as im %}
        <img class='team-photo' style='margin-right:10px;' src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"> 
      {% endthumbnail %} 
      </a>
            {% else %}
                        <img src='https://s3.amazonaws.com/afrstatic/policy.jpg'  style='width: 100%;' />
                        {% endif %}
                        <center><p>{{item.title}}</p></center></a>
                      </div></center>
                      {% endif %}


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
                    </div>
                  </div>

                </div>
                {% endfor %} 
                {% endif %}


              </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
            </div>
          </div>

        </div>
    
      </div>

    </div>
  </div>

</div>
</section>


<div class="footer clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="footerLink">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li><a href="http://penplusbytes.org/site/">Website: www.penplusbytes.org</a></li>
            <li>Email: projects@penplusbytes.org</li>
<li>Tel: +233500294411</li>
          </ul>
        </div>
      </div>
       <div class="col-sm-4 col-xs-12">
        <div class="footerLink">
          <h5>Relevant Links</h5>
          <ul class="list-unstyled">
          {% for item in relevant %}
            <li style='list-style-type: circle;'><a target='_blank' href="{{item.link}}">{{item.title}}</a></li>
          {% endfor %}
         
          </ul>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
       <div class="footerLink">
          <h5 style='text-transform: None'>Powered Penplusbytes with Support from OSIWA</h5>
          <ul class="list-unstyled">
            <li><a target='_blank' href='http://www.penplusbytes.org'><img style='width:65%; float:left; margin-right:15px' height='75' src="{{STATIC_URL}}yolog.jpg" /></a></li>
            <li><a target='_blank' href='http://www.osiwa.org'><img height='75' src="https://s3.amazonaws.com/wacam-static/partners/osiaI.jpg" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="copyRight clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-xs-12">
        <p>&copy; 2017 Copyright. <a target="_blank" href="#">Social Accountability</a>.</p>
      </div>
      <div class="col-sm-5 col-xs-12">
        <ul class="list-inline">
          <li><a href="https://www.facebook.com/groups/7775446390/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/penplusbytes"><i class=" fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% csrf_token %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
<script src="{{STATIC_URL}}frontend/assets/plugins/jquery-ui/jquery-ui.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/js/custom.js"></script>
<script type="text/javascript">    (function () {        var options = {          whatsapp: "+233241995737",             company_logo_url: "//afrstatic.s3.amazonaws.com/logo_kakum.png",             greeting_message: "Hello, how may we help you? Just send us a message now to get assistance.",             call_to_action: "Chat Us",             position: "left",        };        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);    })();</script>

<script>

$('.mycomment').addClass('hide');
$('.Excellent').removeClass('hide');


  function issueFilter (id) {    
    $.ajax({
      type: "POST",
      url: "/my_issue_filter/",
      data: { 
        'issue_id' : id,
        'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
      },
      success: function searchSuccess(data, textStatus, jqXHR)
      {
        $('#toreplace').html(data);
      },
      dataType: 'html'
    });      
  }
</script>
</body>
</html>