    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Rating', 'No of Comments'],
          ['Excellent',  {{excellent_count}}],
          ['Good',   {{good_count}}],
          ['Neutral', {{neutral_count}}],
          ['Bad', {{bad_count}}],          
        ]);

        var options = {
          title: 'Issue Rating Tracker - {{total_count}} Total Comments'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

             function selectHandler() {
          var selectedItem = chart.getSelection()[0];
          if (selectedItem) {
            var topping = data.getValue(selectedItem.row, 0);
            var myclass = '.' + topping;
            $('.mycomment').addClass('hide');
            $(myclass).removeClass('hide');
            
          }
        }

        google.visualization.events.addListener(chart, 'select', selectHandler);  

        chart.draw(data, options);
      }
    </script>
            <div class="col-sm-6 col-xs-12">
            
            <form name='filter_form'>
            <select style='float:right' onchange="issueFilter(document.filter_form.issue_id.options[document.filter_form.issue_id.selectedIndex].value);"   name='issue_id' id="issue_id">
            {% if selected_id == 0 %}
                  <option selected="true" value='0'>All Issues</option>
                  {% else %}
                  <option value='0'>All Issues</option>
                  {% endif %}
                  {% for item in issues %}
                  {% if selected_id == item.id %}
                  <option selected="true" value='{{item.id}}'>{{item.title}}</option>
                  {% else %}
<option value='{{item.id}}'>{{item.title}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
<label style='float:right' > Filter by Issue &nbsp;&nbsp;&nbsp;&nbsp; </label><br><br>

                </form>
             <div  id="piechart" style="width: 600px; height: 500px;"></div>
            </div>

            <div class="col-sm-6 col-xs-12">
            <h5 class='mycomment Excellent'> {{excellent_count}} Excellent Comments </h5>
                {% for item in excellent %}

                <div class='mycomment Excellent'>
                 <div>
                  <div class="panel panel-white post">
                    <div class="post-heading">
                      <div class="pull-left image">
                       {% if item.author.get_avatar %}
                       <img width='50' height='50' src='{{item.author.get_avatar}}' class="img-circle avatar"
                       alt="user profile image"/>

                       {% else %}
                       
                       <img width='50' height='50' src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                       alt=""/>
                       {% endif %}

                     </div>
                     <div class="pull-left meta">
                      <div class="title h5">
                      {% if item.input_channel == 'Web' %}
                        <a href="#"><b>{{item.author.last_name}} {{item.author.first_name}} </b></a>  

                        {% elif item.input_channel == 'SMS' %}
                        <a href="#"><b>SMS User </b></a> 
                        {% elif item.input_channel == 'Email' %}
                        <a href="#"><b>Email User </b></a> 
                        {% elif item.input_channel == 'WhatsApp' %}
                        <a href="#"><b>WhatsApp User </b></a> 
                        {% elif item.input_channel == 'Facebook' %}
                        <a href="#"><b>Facebook User </b></a> 
                        {% elif item.input_channel == 'Twitter' %}
                        <a href="#"><b>Twitter User </b></a> 
                        {% elif item.input_channel == 'Offline' %}
                        <a href="#"><b>Offline User </b></a> 
                      {% endif %}
                      </div>
                      <h6 class="text-muted time">{{item.get_elapsed_time}}</h6> 
                    </div>
                  </div>
                  <div class="post-description">
                    <p> {{item.comment}} </p>
        <!--             {% if item.image %}
                    <div style='padding:5px'>
                    <img class='img-responsive' src='{{item.image}}' />
                    </div>
                    {% endif %} -->
                  </div>
                </div>

              </div>

            </div>

            {% endfor %}
<!-- <a href='#'><h6 style='color:#780E1A' class='mycomment Excellent'> View All Excellent Comments </h6></a> -->



            <h5 class='hide mycomment Good'> {{good_count}} Good Comments </h5>
                {% for item in good %}

                <div class='hide mycomment Good'>
                 <div>
                  <div class="panel panel-white post">
                    <div class="post-heading">
                      <div class="pull-left image">
                       {% if item.author.get_avatar %}
                       <img width='50' height='50' src='{{item.author.get_avatar}}' class="img-circle avatar"
                       alt="user profile image"/>

                       {% else %}
                       
                       <img width='50' height='50' src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                       alt=""/>
                       {% endif %}

                     </div>
                     <div class="pull-left meta">
                      <div class="title h5">
                      {% if item.input_channel == 'Web' %}
                        <a href="#"><b>{{item.author.last_name}} {{item.author.first_name}} </b></a> 

                        {% elif item.input_channel == 'SMS' %}
                        <a href="#"><b>SMS User </b></a> 
                        {% elif item.input_channel == 'Email' %}
                        <a href="#"><b>Email User </b></a> 
                        {% elif item.input_channel == 'WhatsApp' %}
                        <a href="#"><b>WhatsApp User </b></a> 
                        {% elif item.input_channel == 'Facebook' %}
                        <a href="#"><b>Facebook User </b></a> 
                        {% elif item.input_channel == 'Twitter' %}
                        <a href="#"><b>Twitter User </b></a> 
                        {% elif item.input_channel == 'Offline' %}
                        <a href="#"><b>Offline User </b></a> 
                      {% endif %}
                      </div>
                      <h6 style='float:left' class="text-muted time">{{item.get_elapsed_time}}</h6>
                    </div>
                  </div>
                  <div class="post-description">
                    <p> {{item.comment}} </p>
        <!--             {% if item.image %}
                    <div style='padding:5px'>
                    <img class='img-responsive' src='{{item.image}}' />
                    </div>
                    {% endif %} -->
                  </div>
                </div>

              </div>

            </div>

            {% endfor %}

<!-- <a href='#'><h6 style='color:#780E1A' class='hide mycomment Good'> View All Good Comments </h6></a> -->



     <h5 class='hide mycomment Neutral'> {{neutral_count}} Neutral Comments </h5>
                {% for item in neutral %}

                <div class='hide mycomment Neutral'>
                 <div>
                  <div class="panel panel-white post">
                    <div class="post-heading">
                      <div class="pull-left image">
                       {% if item.author.get_avatar %}
                       <img width='50' height='50' src='{{item.author.get_avatar}}' class="img-circle avatar"
                       alt="user profile image"/>

                       {% else %}
                       
                       <img width='50' height='50' src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                       alt=""/>
                       {% endif %}

                     </div>
                     <div class="pull-left meta">
                      <div class="title h5">
                      {% if item.input_channel == 'Web' %}
                        <a href="#"><b>{{item.author.last_name}} {{item.author.first_name}} </b></a> 

                        {% elif item.input_channel == 'SMS' %}
                        <a href="#"><b>SMS User </b></a> 
                        {% elif item.input_channel == 'Email' %}
                        <a href="#"><b>Email User </b></a> 
                        {% elif item.input_channel == 'WhatsApp' %}
                        <a href="#"><b>WhatsApp User </b></a> 
                        {% elif item.input_channel == 'Facebook' %}
                        <a href="#"><b>Facebook User </b></a> 
                        {% elif item.input_channel == 'Twitter' %}
                        <a href="#"><b>Twitter User </b></a> 
                        {% elif item.input_channel == 'Offline' %}
                        <a href="#"><b>Offline User </b></a> 
                      {% endif %}
                      </div>
                      <h6 style='float:left' class="text-muted time">{{item.get_elapsed_time}}</h6> 
                    </div>
                  </div>
                  <div class="post-description">
                    <p> {{item.comment}} </p>
        <!--             {% if item.image %}
                    <div style='padding:5px'>
                    <img class='img-responsive' src='{{item.image}}' />
                    </div>
                    {% endif %} -->
                  </div>
                </div>

              </div>

            </div>

            {% endfor %}
<!-- <a href='#'><h6 style='color:#780E1A' class='hide mycomment Neutral'> View All Neutral Comments </h6></a> -->




     <h5 class='hide mycomment Bad'> {{bad_count}} Bad Comments </h5>
                {% for item in bad %}

                <div class='hide mycomment Bad'>
                 <div>
                  <div class="panel panel-white post">
                    <div class="post-heading">
                      <div class="pull-left image">
                       {% if item.author.get_avatar %}
                       <img width='50' height='50' src='{{item.author.get_avatar}}' class="img-circle avatar"
                       alt="user profile image"/>

                       {% else %}
                       
                       <img width='50' height='50' src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                       alt=""/>
                       {% endif %}

                     </div>
                     <div class="pull-left meta">
                      <div class="title h5">
                      {% if item.input_channel == 'Web' %}
                        <a href="#"><b>{{item.author.last_name}} {{item.author.first_name}} </b></a> 

                        {% elif item.input_channel == 'SMS' %}
                        <a href="#"><b>SMS User </b></a> 
                        {% elif item.input_channel == 'Email' %}
                        <a href="#"><b>Email User </b></a> 
                        {% elif item.input_channel == 'WhatsApp' %}
                        <a href="#"><b>WhatsApp User </b></a> 
                        {% elif item.input_channel == 'Facebook' %}
                        <a href="#"><b>Facebook User s</b></a> 
                        {% elif item.input_channel == 'Twitter' %}
                        <a href="#"><b>Twitter User </b></a> 
                        {% elif item.input_channel == 'Offline' %}
                        <a href="#"><b>Offline User </b></a> 
                      {% endif %}
                      </div>
                      <h6 style='float:left' class="text-muted time">{{item.get_elapsed_time}}</h6> 
                    </div>
                  </div>
                  <div class="post-description">
                    <p> {{item.comment}} </p>
        <!--             {% if item.image %}
                    <div style='padding:5px'>
                    <img class='img-responsive' src='{{item.image}}' />
                    </div>
                    {% endif %} -->
                  </div>
                </div>

              </div>

            </div>

            {% endfor %}
<!-- <a href='#'><h6 style='color:#780E1A' class='hide mycomment Bad'> View All Bad Comments </h6></a> -->
            </div>
         
     