{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
 <title>Tech Driven Social Accountability</title>
 <!-- styles -->
 <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 <link href="{{STATIC_URL}}frontend/assets/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
 <link href="{{STATIC_URL}}frontend/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <script src="https://use.fontawesome.com/1ae586c7a5.js"></script>
 <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/css/settings.css" media="screen">
 <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>

 <!-- CUSTOM CSS -->
 <link href="{{STATIC_URL}}frontend/assets/css/style.css" rel="stylesheet">
 <link href="{{STATIC_URL}}frontend/assets/css/main.css" rel="stylesheet">
 <link href="{{STATIC_URL}}frontend/assets/css/documents.css" rel="stylesheet">
 <link href="{{STATIC_URL}}frontend/assets/css/comments.css" rel="stylesheet">
 <link href="{{STATIC_URL}}frontend/assets/css/login.css" rel="stylesheet">
 <!-- after glow video -->
 <script type="text/javascript" src="{{STATIC_URL}}frontend/assets/js/afterglow.min.js"></script>
 <link href="http://afrstatic.s3.amazonaws.com/s3direct/css/bootstrap-progress.min.css" type="text/css" media="all" rel="stylesheet" />
 <link href="http://afrstatic.s3.amazonaws.com/s3direct/css/styles.css" type="text/css" media="all" rel="stylesheet" />
 <script type="text/javascript" src="http://afrstatic.s3.amazonaws.com/s3direct/js/scripts.js"></script>
<style>
.carousel-inner {
    width: 100%;
    height: 325px;
}
.singleProduct .media .media-body p {
    
    line-height: 24px;
    color: #000;
    margin-bottom: 5px;
}
.media-body ul li {
    list-style: inherit;
    margin-left: 33px;
    margin-bottom: 5px;
}

.footer .footerLink ul li {
    color: #acacac;
    font-size: 12px;
    line-height: 23px;
}

</style>
</head>
<body class="background-dark template-product">
  <div class="header clearfix">
   <div class="topBar">
     <div class="container">
       <div class="row">
         <div class="col-md-6 hidden-sm hidden-xs">
           <ul class="list-inline">
             <li><a href="#"><i class="fa fa-envelope-o"></i> info@penplusbytes.org</a></li>
           </ul>
         </div>
         <div class="col-md-6 col-xs-12">
         <ul style='padding:5px' class="list-inline pull-right">
            {% if user.is_authenticated %}
            <li><img class='img-circle' height='50' src='{{user.get_avatar}}' /></li>
            <li style='margin-top:7px'><a style='font-size:16px' href="#">{{user.first_name}} {{user.last_name}}</a></li>
            <li style='margin-top:7px'><a href="/users/logout/">Logout</a>
            {% else %}
            <li><a  href="/user_login/">Login</a></li>
            <li><a  href="/user_register/">Register</a></li>
            {% endif %}
            
            </li>
          </ul>
         </div>
       </div>
     </div>
   </div>
   <nav class="navbar navbar-main navbar-default" role="navigation">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse"
         data-target=".navbar-ex1-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a style='width:245px' href="/" class="navbar-brand"><img style="float: left; margin-top: -9px;" src="http://afrstatic.s3.amazonaws.com/logo_kakum.png" height="50"><h4 id="logo-text">Tech Driven Social<br/> Accountability</h4></a>
     </div>

     <div class="collapse navbar-collapse navbar-ex1-collapse">
       <ul class="nav navbar-nav navbar-right">
         <li><a  href='/issues/'>Issues</a></li>
<li class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">Gallery</a>
           <ul class="dropdown-menu dropdown-menu-right">
             <li><a  href="/gallery/pictures/" class="articles-font"
               >Pictures</a>
             </li>
             <li><a  href="/gallery/videos/" class="articles-font"
               >Videos</a>
             </li>

           </ul>
         </li>
         <li class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">Knowledge Center</a>
           <ul class="dropdown-menu dropdown-menu-right">
             <li><a  href="/knowledge_center/articles/" class="articles-font"
               >Articles</a></li>
               <li><a  href="/knowledge_center/documents/" class="articles-font"
                 >Documents</a></li>
                 <li><a  href="/knowledge_center/audios/" class="articles-font"
                   >Audios</a></li>
                   <li><a  href="/knowledge_center/videos/" class="articles-font"
                     >Videos</a></li>
                   </ul>
                 </li>
                 <li><a  href="/project_areas/" >Project Areas</a></li>
<li><a  href="/about/" >Project Brief</a></li>
               </ul>
             </div>
           </div>
         </nav>
       </div>

       <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <div class="page-title">
                <h2>ISSUE DETAIL</h2>
              </div>
            </div>
            <div class="col-xs-6">
              <ol class="breadcrumb pull-right">
                <li>
                  <a href='/'>HOME</a>
                </li>
                <li class="active">ISSUE DETAILS</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <section class="mainContent clearfix">
        <div class="container">
          <div class="row singleProduct">
            <div class="col-xs-12">
              <div class="media">
                <div class="media-left productSlider">
                  <div id="carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">

                      {% for item in images %}
                      {% if forloop.counter == 1 %}
                      <div class="item active" data-thumb='{{forloop.counter}}'>
                        {% else %}
                        <div class="item" data-thumb='{{forloop.counter}}'>
                          {% endif %}

                          <img src='{{item.image}}'/>
                        </div>
                        {% endfor %}

                      </div>
                    </div>

                    {% if videos %}
                    <div class="clearfix">
                      <h3> Related Media </h3>
                      <div id="thumbcarousel" class="carousel slide" data-interval="false">
                        <div class="carousel-inner">


                          {% for item in videos %}
                          {% if item.media_url %}
                          {{item.media_url|safe}}

                          {% else %}

                          <div class="col-sm-6 col-md-4">
                           <div><h4>{{item.title}}</h4></div>
                           <video class="afterglow" width="150" height="150" data-autoresize="fit" data-volume=".5">
                            <source type="video/mp4" src='{{item.video}}' />
                          </video>
                        </div>
                        {% endif %}
                        {% endfor %}

                      </div>
                    
                    </div>
                  </div>
                  {% endif %}


                  {% if documents %}
                    <div class="clearfix thumbnail">
                      <h3> Related Documents </h3>
                     {% for item in documents %}
            <div class="col-sm-3 col-xs-12">
            
                
                <div class="imageWrapper" style='margin-bottom:0px; min-height:145px'>
                

                  
                      <a target='_target' style='border-bottom:none; color:#222222' href="{{item.document}}" >
                      {% if item.cover_image %}

                        {% thumbnail item.cover_image "213x150" crop="center" as im %}
                          <img class='team-photo' style='margin-right:10px;' src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %} </a>
            {% else %}
                        <img src='https://s3.amazonaws.com/afrstatic/policy.jpg'  style='width: 100%;' />
            {% endif %}
                        <center><p>{{item.title}}</p></center>
                        </a>
                      
   


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
                    </div>              
                </div>
                {% endfor %} 
                  </div>
                  {% endif %}







                </div>
                <div class="media-body">
                  <h2>{{myissue.title}}</h2>
                  <p>{{myissue.description|safe}}</p> <br><br>
                  <h5>Comments Section</h5>
                  <hr/>
                  <form action="/post_comment/" method="POST" role="form"> {% csrf_token %}
                    <textarea class="form-control" name='comment' placeholder="Enter message" rows="4"></textarea>
                    <br>

                    <div class="form-group">
                      <label for="txtarea1" class="control-label">Image</label>
                      <div class="s3direct" data-policy-url="/s3direct/get_upload_params/"> 
                       <a class="file-link" target="_blank" href=""></a> 
                       <img src="" class="file-link1" width="100" height="100"  />  
                       <a class="file-remove" href="#remove">Remove</a>  
                       <input class="file-url" type="hidden" value="" id="id_image" name="image" /> 
                       <input class="file-dest" type="hidden" value="imgs">  
                       <input class="file-input" type="file" />  
                       <div class="progress progress-striped active">    
                        <div class="bar"></div>  
                      </div>
                    </div>
                  </div>  


                      <div class="form-group">
                      <label for="txtarea1" class="control-label">Video</label>
                      <div class="s3direct" data-policy-url="/s3direct/get_upload_params/"> 
                       <a class="file-link" target="_blank" href=""></a> 
                       <img src="" class="file-link1" width="100" height="100"  />  
                       <a class="file-remove" href="#remove">Remove</a>  
                       <input class="file-url" type="hidden" value="" id="id_video" name="video" /> 
                       <input class="file-dest" type="hidden" value="vids">  
                       <input class="file-input" type="file" />  
                       <div class="progress progress-striped active">    
                        <div class="bar"></div>  
                      </div>
                    </div>
                  </div>  

                  <label for="txtarea1" class="control-label">Media URL</label>
                  <textarea class="form-control" name='media_url' placeholder="Paste a youtube embed code in applicable" rows="4"></textarea> <br>

<label for="txtarea1" class="control-label">Location</label>
  <input class="form-control" name='location' placeholder="E.g. Ashaimain" /> <br>


<label for="txtarea1" class="control-label">Rating</label><br>
                  {% for item in ratings %}
                  <label class="radio-inline">
                  {% if forloop.counter == 1 %}
                    <input type="radio" name="rating" value='{{item.id}}' checked>{{item.name}}
                    {% else %}
                    <input type="radio" name="rating" value='{{item.id}}'>{{item.name}}
                  {% endif %}
                  </label>                  

                  {% endfor %}

                  <br/>
                  <br/>
                  <input type="hidden"  name='issue_id' value='{{myissue.id}}'/>

                  {% if user.is_authenticated %}
                  <div class="col-sm-6 no-padding">
                    <button type='submit' class="btn btn-primary btn-block">Post Comment</button>
                  </div>
                </form>
                {% else %}
                <div class="col-sm-6 no-padding">
                  <a href='/user_login/?next=/issues/{{myissue.id}}/' class="btn btn-lg btn-primary btn-block">Login to Post Comment</a>
                </div>
                {% endif %}

                <br/>
                <hr/>

                {% for item in myissue.issue_comments.all %}

                <div>
                 <div>
                  <div class="panel panel-white post panel-shadow">
                    <div class="post-heading">
                      <div class="pull-left image">
                       {% if item.author.get_avatar %}
                       <img src='{{item.author.get_avatar}}' class="img-circle avatar"
                       alt="user profile image"/>

                       {% else %}
                       
                       <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                       alt=""/>
                       {% endif %}

                     </div>
                     <div class="pull-left meta">
                      <div class="title h5">
                      {% if item.input_channel == 'Web' %}
                        <a href="#"><b>{{item.author.last_name}} {{item.author.first_name}} </b></a>

                        {% elif item.input_channel == 'SMS' %}
                        <a href="#"><b>SMS User </b></a>
                        {% elif item.input_channel == 'Email' %}
                        <a href="#"><b>Email User </b></a>
                        {% elif item.input_channel == 'WhatsApp' %}
                        <a href="#"><b>WhatsApp User </b></a>
                        {% elif item.input_channel == 'Facebook' %}
                        <a href="#"><b>Facebook User </b></a>
                        {% elif item.input_channel == 'Twitter' %}
                        <a href="#"><b>Twitter User </b></a>
                        {% elif item.input_channel == 'Offline' %}
                        <a href="#"><b>Offline User </b></a>
                      {% endif %}
                      </div>
                      <h6 class="text-muted time">{{item.get_elapsed_time}}</h6>
                    </div>
                  </div>
                  <div class="post-description">
                    <p> {{item.comment}} </p>
                    {% if item.image %}
                    <div style='padding:5px'>
                    <img class='img-responsive' src='{{item.image}}' />
                    </div>
                    {% endif %}
                  </div>
                </div>

              </div>

            </div>

            {% endfor %}

          </div>

        </div>
      </div>
    </div>
  </section>


<div class="footer clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="footerLink">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li><a href="http://penplusbytes.org/site/">Website: www.penplusbytes.org</a></li>
            <li>Email: projects@penplusbytes.org</li>
<li>Tel: +233500294411</li>
          </ul>
        </div>
      </div>
       <div class="col-sm-4 col-xs-12">
        <div class="footerLink">
          <h5>Relevant Links</h5>
          <ul class="list-unstyled">
          {% for item in relevant %}
            <li style='list-style-type: circle;'><a target='_blank' href="{{item.link}}">{{item.title}}</a></li>
          {% endfor %}
         
          </ul>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="footerLink">
          <h5 style='text-transform: None'>Powered Penplusbytes with Support from OSIWA</h5>
          <ul class="list-unstyled">
            <li><a target='_blank' href='http://www.penplusbytes.org'><img style='width:65%; float:left; margin-right:15px' height='75' src="{{STATIC_URL}}yolog.jpg" /></a></li>
            <li><a target='_blank' href='http://www.osiwa.org'><img height='75' src="https://s3.amazonaws.com/wacam-static/partners/osiaI.jpg" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="copyRight clearfix">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-xs-12">
          <p>&copy; 2017 Copyright. <a target="_blank" href="#">Social Accountability</a>.</p>
        </div>
        <div class="col-sm-5 col-xs-12">
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/groups/7775446390/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/penplusbytes"><i class=" fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
  <script src="{{STATIC_URL}}frontend/assets/plugins/jquery-ui/jquery-ui.js"></script>
  <script src="{{STATIC_URL}}frontend/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
  <script src="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <script src="{{STATIC_URL}}frontend/assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
  <script src="{{STATIC_URL}}frontend/assets/js/custom.js"></script>
  <script type="text/javascript">    (function () {        var options = {          whatsapp: "+233241995737",             company_logo_url: "//afrstatic.s3.amazonaws.com/logo_kakum.png",             greeting_message: "Hello, how may we help you? Just send us a message now to get assistance.",             call_to_action: "Chat Us",             position: "left",        };        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);    })();</script>
</body>
</html>