<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
 <title>Social Accountability - Login</title>
 <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 <link href="{{STATIC_URL}}frontend/assets/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
 <link href="{{STATIC_URL}}frontend/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <script src="https://use.fontawesome.com/1ae586c7a5.js"></script>
 <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/css/settings.css" media="screen">
 <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
 <link href="{{STATIC_URL}}frontend/assets/css/style.css" rel="stylesheet">
 <link href="{{STATIC_URL}}frontend/assets/css/main.css" rel="stylesheet">
 <link href="{{STATIC_URL}}frontend/assets/css/documents.css" rel="stylesheet">
 <link href="{{STATIC_URL}}frontend/assets/css/comments.css" rel="stylesheet">
 <link href="{{STATIC_URL}}frontend/assets/css/login.css" rel="stylesheet">
 <meta name="google-signin-scope" content="profile email">
 <meta name="google-signin-client_id" content="108415417598-oifnucs3le9jsf8b9p4vgq8nh4re7het.apps.googleusercontent.com">
 <script src="https://apis.google.com/js/platform.js" async defer></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <style>
  .abcRioButtonBlue {
    background-color: #4285f4;
    width: 100%;
    margin-top: 10px;
  }
</style>

</head>
<body class="background-dark template-product">
  <div class="header clearfix">
   <div class="topBar">
     <div class="container">
       <div class="row">
         <div class="col-md-6 hidden-sm hidden-xs">
           <ul class="list-inline">
             <li><a href="#"><i class="fa fa-envelope-o"></i> info@penplusbytes.org</a></li>
           </ul>
         </div>
         <div class="col-md-6 col-xs-12">
           <ul style='padding:5px' class="list-inline pull-right">
            {% if user.is_authenticated %}
            <li><img class='img-circle' height='50' src='{{user.get_avatar}}' /></li>
            <li style='margin-top:7px'><a style='font-size:16px' href="#">{{user.first_name}} {{user.last_name}}</a></li>

            <li style='margin-top:7px'><a href="/users/logout/">Logout</a>
            {% else %}
            <li><a  href="/user_login/">Login</a></li>
            <li><a  href="/user_register/">Register</a></li>
            {% endif %}
            
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-main navbar-default" role="navigation">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse"
       data-target=".navbar-ex1-collapse">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a style='width:220px' href="/" class="navbar-brand"><img style="float: left; margin-top: -9px;" src="http://afrstatic.s3.amazonaws.com/logo_kakum.png" height="50"><h4 id="logo-text">Social<br/> Accountability</h4></a>
   </div>

   <div class="collapse navbar-collapse navbar-ex1-collapse">
     <ul class="nav navbar-nav navbar-right">
       <li><a  href='/issues/'>Issues</a></li>
<li class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">Gallery</a>
           <ul class="dropdown-menu dropdown-menu-right">
             <li><a  href="/gallery/pictures/" class="articles-font"
               >Pictures</a>
             </li>
             <li><a  href="/gallery/videos/" class="articles-font"
               >Videos</a>
             </li>

           </ul>
         </li>
       <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" role="button"
         aria-haspopup="true" aria-expanded="false">Knowledge Center</a>
         <ul class="dropdown-menu dropdown-menu-right">
           <li><a href="/knowledge_center/articles/" class="articles-font"
             >Articles</a></li>
             <li><a href="/knowledge_center/documents/" class="articles-font"
               >Documents</a></li>
               <li><a href="/knowledge_center/audios/" class="articles-font"
                 >Audios</a></li>
                 <li><a href="/knowledge_center/videos/" class="articles-font"
                   >Videos</a></li>
                 </ul>
               </li>
               <li><a  href="/project_areas/" >Project Areas</a></li>
<li><a  href="/about/" >Project Brief</a></li>
             </ul>
           </div>
         </div>
       </nav>
     </div>

     <section class="lightSection clearfix pageHeader">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <div class="page-title">
              <h2>LOGIN</h2>
            </div>
          </div>
          <div class="col-xs-6">
            <ol class="breadcrumb pull-right">
              <li>
                <a href='/'>HOME</a>
              </li>
              <li class="active">LOGIN</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="mainContent clearfix logIn">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>log in</h3></div>
              <div class="panel-body">
                <form action="/user_login/" method="POST" role="form" data-parsley-validate> {% csrf_token %}
                 {% if form.errors %}
                 <div class="alert alert-danger">
                  <button class="close" data-dismiss="alert">×</button>
                  Your Email and password do not match 
                </div>
                {% endif %}
                <div class="form-group">
                  <label for="">Enter Email</label>
                  {{form.email}}
                </div>
                <div class="form-group">
                  <label for="">Password</label>
                  {{form.password}}
                </div>
                <input  type="hidden"  name='next' value='{{next}}'/>
                <button type="submit" class="btn btn-primary btn-block">log in</button>
                <button style='color:#780E1A' type="button" class="btn btn-link btn-block"><a href="/user_register/?next={{next}}">
                  <span>Don't have an account?</span> Register</a></button>
                </form>
              </div>

              <p style='text-align:center'> OR </p>

              <div class="panel-body">

<div id="fb-root"></div>
              <script>

  (function ($) {
    'use strict';

    /**
     * jQuery Redirect
     * @param {string} url - Url of the redirection
     * @param {Object} values - (optional) An object with the data to send. If not present will look for values as QueryString in the target url.
     * @param {string} method - (optional) The HTTP verb can be GET or POST (defaults to POST)
     * @param {string} target - (optional) The target of the form. "_blank" will open the url in a new window.
     */
     $.redirect = function (url, values, method, target) {
      method = (method && method.toUpperCase() === 'GET') ? 'GET' : 'POST';

      if (!values) {
        var obj = $.parseUrl(url);
        url = obj.url;
        values = obj.params;
      }

      var form = $('<form>')
      .attr("method", method)
      .attr("action", url);

      if (target) {
        form.attr("target", target);
      }

      iterateValues(values, [], form);
      $('body').append(form);
      form[0].submit();
    };

    //Utility Functions
    /**
     * Url and QueryString Parser.
     * @param {string} url - a Url to parse.
     * @returns {object} an object with the parsed url with the following structure {url: URL, params:{ KEY: VALUE }}
     */
     $.parseUrl = function (url) {
      if (url.indexOf('?') === -1) {
        return {
          url: url,
          params: {}
        };
      }
      var parts = url.split('?'),
      query_string = parts[1],
      elems = query_string.split('&');
      url = parts[0];

      var i, pair, obj = {};
      for (i = 0; i < elems.length; i+= 1) {
        pair = elems[i].split('=');
        obj[pair[0]] = pair[1];
      }

      return {
        url: url,
        params: obj
      };
    };

    //Private Functions
    var getInput = function (name, value, parent, array) {
      var parentString;
      if (parent.length > 0) {
        parentString = parent[0];
        var i;
        for (i = 1; i < parent.length; i += 1) {
          parentString += "[" + parent[i] + "]";
        }

        if (array) {
          name = parentString + "[]";
        } else {
          name = parentString + "[" + name + "]";
        }
      }

      return $("<input>").attr("type", "hidden")
      .attr("name", name)
      .attr("value", value);
    };

    var iterateValues = function (values, parent, form, array) {
      var i, iterateParent = [];
      for (i in values) {
        if (typeof values[i] === "object") {
          iterateParent = parent.slice();
          if (array) {
            iterateParent.push('');
          } else {
            iterateParent.push(i);
          }
          iterateValues(values[i], iterateParent, form, Array.isArray(values[i]));
        } else {
          form.append(getInput(i, values[i], parent, array));
        }
      }
    };
  }(window.jQuery || window.Zepto || window.jqlite));

</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '160022024407462', // Set YOUR APP ID
      // channelUrl : 'http://hayageek.com/examples/oauth/facebook/oauth-javascript/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
 
    FB.Event.subscribe('auth.authResponseChange', function(response) 
    {
     if (response.status === 'connected') 
    {
        console.log('Connected to Facebook');
        //SUCCESS
 
    }    
    else if (response.status === 'not_authorized') 
    {
        console.log('Failed to Connect');
 
        //FAILED
    } else 
    {
        console.log('Logged Out');
 
        //UNKNOWN ERROR
    }
    }); 
 
    };
 
    function Login()
    {
 
        FB.login(function(response) {
           if (response.authResponse) 
           {
                getUserInfo();
            } else 
            {
             console.log('User cancelled login or did not fully authorize.');
            }
         },{scope: 'email,'});
 
    }
 
  function getUserInfo() {
        FB.api('/me?fields=id,name,email', function(response) {

          $.redirect('/facebook_register/', {                
                      "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val(),
                      "password": response.id,
                      "fullname": response.name,                      
                      "image_url": 'http://graph.facebook.com/' + response.id + '/picture?type=large',
                      "email": response.email
                    })
 
    });
    }

    function getPhoto()
    {
      FB.api('/me/picture?type=normal', function(response) {
 
          var str="<br/><b>Pic</b> : <img src='"+response.data.url+"'/>";
          document.getElementById("status").innerHTML+=str;
 
    });
 
    }
    function Logout()
    {
        FB.logout(function(){document.location.reload();});
    }
 
  // Load the SDK asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "https://connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
 
</script>
<div align="center">

 
<!-- <div id="status"> -->
 
<!-- <img src="https://reignofblood.net/images/loginfb.png" style="cursor:pointer;" onclick="Login()"/> -->
<button onclick="Login()" class="btn btn-block btn-large align_social " style="  width:100%; color:white; background:#3B5998"><i class="fa fa-2x fa-facebook-square"></i> &nbsp; &nbsp; Connect with Facebook
                </button>
<!-- </div> -->

 
</div>


         <!--        <a href='{% url 'social:begin' 'facebook' %}?next={{ request.path }}'> <button class="btn btn-block btn-large align_social " style="  width:100%; color:white; background:#3B5998"><i class="fa fa-2x fa-facebook-square"></i> &nbsp; &nbsp; Connect with <strong>Facebook</strong>
                </button></a> -->

                <a href='{% url 'social:begin' 'twitter' %}?next=/issues/'><button style=" margin-top:10px; width:100%; color:white; background:#4099FF" class="btn btn-block btn-large align_social"><i style="color:white" class="fa-2x fa fa-twitter-square"></i> &nbsp; &nbsp; Connect with <strong>Twitter</strong>
                </button></a>

                <div style='width:100%' class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                <script>

                 function renderButton() {
                  gapi.signin2.render('my-signin2', {
                    'scope': 'profile email',
                    'width': 640,
                    'height': 50,
                    'longtitle': true,
                    'theme': 'dark',
                    'onsuccess': onSignIn,
                    'onfailure': onFailure
                  });
                }
              </script>


              <script>
                function onSignIn(googleUser) {
                  // Useful data for your client-side scripts:
                  var profile = googleUser.getBasicProfile();
                  console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                  console.log('Full Name: ' + profile.getName());
                  console.log('Given Name: ' + profile.getGivenName());
                  console.log('Family Name: ' + profile.getFamilyName());
                  console.log("Image URL: " + profile.getImageUrl());
                  console.log("Email: " + profile.getEmail());

                  var password = profile.getId();
                  var first_name = profile.getGivenName();
                  var last_name = profile.getFamilyName();
                  var image_url = profile.getImageUrl();
                  var email = profile.getEmail();

                  $.redirect('/google_register/', {                
                      "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val(),
                      "password": password,
                      "first_name": first_name,
                      "last_name": last_name,
                      "image_url": image_url,
                      "email": email
                    })

                 }
               

              </script>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="footer clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="footerLink">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li><a href="http://penplusbytes.org/site/">Website: www.penplusbytes.org</a></li>
            <li>Email: projects@penplusbytes.org</li>
<li>Tel: +233500294411</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="footerLink">
          <h5>On Social Media</h5>
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/groups/7775446390/">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="copyRight clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-xs-12">
        <p>&copy; 2017 Copyright. <a target="_blank" href="http://www.iamabdus.com/">Social Accountability</a>.</p>
      </div>
      <div class="col-sm-5 col-xs-12">
        <ul class="list-inline">
          <li><a href="https://www.facebook.com/groups/7775446390/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/penplusbytes"><i class=" fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
<script src="{{STATIC_URL}}frontend/assets/plugins/jquery-ui/jquery-ui.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="{{STATIC_URL}}frontend/assets/plugins/countdown/jquery.syotimer.js"></script>
<script src="{{STATIC_URL}}frontend/assets/js/custom.js"></script>
<script src="{{STATIC_URL}}parsley.min.js"></script>
<script>
setTimeout(function(){ 
  $('.abcRioButtonBlue').css({'width': '100%'});
}, 3000);
</script>
</body>
</html>